<main class="stack single-page-form horizontal-form">
  <header>
    <h2>You will no longer receive emails.</h2>
    <p>You can undo this action at any time by visiting this URL again.</p>
  </header>
</main>
<% content_for :footer do %>
  <%= default_footer_content %>
<% end %>
