<div class="stack" id="api-errors">
  <div>
    <h2>API Errors</h2>
  </div>
  <div>
    <div class="paragraphs">
      <p>
        Gumroad uses HTTP status codes to indicate the status of a request. Here's a run down on likely response codes.
      </p>
      <p>
        <strong>200 OK</strong>
        everything worked as expected.
        <br>
        <strong>400 Bad Request</strong>
        you probably missed a required parameter.
        <br>
        <strong>401 Unauthorized</strong>
        you did not provide a valid access token.
        <br>
        <strong>402 Request Failed</strong>
        the parameters were valid but request failed.
        <br>
        <strong>404 Not Found</strong>
        the requested item doesn't exist.
        <br>
        <strong>500, 502, 503, 504 Server Error</strong>
        something else went wrong on our end.
        <br>
      </p>
      <p>To help you further, we provide a JSON object that goes more in-depth about the problem that led to the failed request. Errors responses from the api will follow the following format.</p>
      <figure class="code">
        <pre>
{
  "success": false,
  "message": "The product could not be found."
}</pre>
      </figure>
      <p></p>
      <p>When present, the message will describe the particular problem and suggestions on what went wrong.</p>
    </div>
  </div>
</div>
