<%= load_pack("admin_review") %>

<div class="paragraphs">
  <%= render("admin/purchases/purchase", purchase: @purchase) %>
  <%= render("admin/links/product", product: @product, show_purchases: false, is_affiliate_user: false) %>
  <%= render("admin/users/user", user: @product.user, is_affiliate_user: false) %>
</div>
