*.icloud
*.nomad
*.orig
*.plan
*.pyc
*.rbc
*.sql
*.swo
*.swp
.bundle
.byebug_history
.DS_Store
.env
.env.*.local
.foreman
.idea
.jhw-cache
.project
.rbenv-vars
.ruby-gemset
.sass-cache/
.tool-versions
/config/credentials/
/config/master.key
/config/credentials.yml.enc
/config/certs
/node_modules
/public/packs
/public/packs-test
/vendor/bundle
app/javascript/json_schemas
app/javascript/stylesheets/_icon_names.scss
app/javascript/types/icons.d.ts
app/javascript/utils/routes.*
docker/base/Gemfile*
dump.rdb
jhw*.html
log/*
nohup.out
nomad/certs
nomad/production/route53/*.json
nomad/staging/route53/*.json
public/assets/
public/cache/*
public/javascripts
public/js/*.js
public/sitemap/
public/stylesheets/*
public/system
revision
tmp
web_base_sha
spoom_data/*
spoom_report.html
bin/dist

# Local SSL certificates
docker/local-nginx/certs/*.crt
docker/local-nginx/certs/*.key
lib/GeoIP2-City.mmdb
nomad/
docs/ssh.md
