<% if @resource.suspended? %>
  <%= header_section("Forgotten password request denied.") %>
  <div>
    <p>It seems you are trying to reset the password of a suspended account.</p>
    <p>This account was suspended because of a ToS violation.</p>
  </div>
<% else %>
  <%= header_section("Forgotten password request") %>
  <div>
    <p>It seems you forgot the password for your Gumroad account. You can change your password by clicking the button below:</p>
    <p><%= link_to("Reset password", edit_password_url(@resource, reset_password_token: @token), class: "button primary") %></p>
    <p>Or you can click here: <%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>
    <p>If you didn't request this, please ignore this email. You won't get another one!</p>
  </div>
<% end %>
