<p>
  You'll get updates from this wishlist in the future.
  <%= link_to "Unsubscribe", unsubscribe_wishlist_followers_url(@wishlist_follower.wishlist.url_slug, follower_id: @wishlist_follower.external_id) %>
</p>
