<%= header_section("Your account has been temporarily suspended for selling sexually explicit / fetish-related content") %>
<div>
  <p>Hey,</p>
  <p>We want to first thank you for choosing Gumroad. We're really excited to help you get paid for your work and grow your business.</p>
  <p>However, due to more stringent banking regulations, we can no longer allow sexually explicit or fetish-oriented materials to be sold on Gumroad, and it looks like at least one of your products could be considered in violation of these rules. As a result, we've temporarily paused sales of the affected products and payouts for your account.</p>
  <p>
    Your account will be permanently suspended in <%= @days_until_suspension %> days, on <%= @formatted_suspension_date %>, if your storefront is not updated to be compliant by then.
  </p>
  <p>Of course, we will pay you out your remaining balance. Your existing customers' purchases will not be affected by this.</p>
  <p>We're super sorry about the inconvenience!</p>
  <p>Sahil and the Gumroad team</p>
</div>
