<%= header_section("You've received Gumroad credit!") %>
<div>
  <p>Thanks for being a part of #GumroadDay! If you don't know what we're talking about, April 7, 2021 was our 10th birthday and we celebrated by making Gumroad entirely free. To that end, a credit of <%= @amount %> has been applied to your account.</p>
</div>
