<%= header_section("We were unable to verify your bank account.") %>
<div>
  <p>Hi there. You just added a new bank account for payouts to Gumroad. Unfortunately, we were unable to verify your bank account due to an invalid account number, invalid transit number, or because previous attempts to deliver payouts to this account have failed.</p>
  <p>Please go to <%= link_to "your payout settings", settings_payments_url %> and try again. Thanks!</p>
</div>
