<%= header_section("We need more information from you.") %>
<div>
  <p>Hi there,</p>
  <p>This is a reminder that we need more information from you to process your payouts. Please complete the necessary fields, and you'll be back on track to get paid for doing what you love. It's a pretty great world we're living in, right?</p>
  <p><%= link_to "Complete your account", settings_payments_url, class: "button primary" %></p>
  <p>Or you can click here: <%= link_to settings_payments_url, settings_payments_url %></p>
</div>
