<%= header_section("A pre-order has been canceled.") %>
<div>
  <p>A pre-order of <%= @preorder.link.name %> has been canceled. Your customer (<%= @preorder.authorization_purchase.email %>) will not be charged.</p>
</div>
