<%= header_section("A sale has been refunded.") %>
<div>
  <p><%= @purchase.email %>'s purchase of <%= @purchase.link.name %> for <%= @purchase.formatted_display_price %> has been refunded.</p>
</div>
