<%= header_section("We need more information from you.") %>
<div>
  <p>To continue paying you out, we need some more information from you.</p>
  <p>This information is required by our banking partners for identity verification, to align with bank regulations, and to protect against fraud.</p>
  <p>Please provide the requested information before your next payout.</p>
  <p><%= link_to("Provide your information", remediation_settings_payments_url, class: "button primary") %></p>
  <p>Or you can click here: <%= link_to remediation_settings_payments_url, remediation_settings_payments_url %></p>
</div>
