<%= header_section("Your account has been suspended because of high risk") %>
<div>
  <p>Hey,</p>
  <p>We want to first thank you for choosing Gumroad. We're really excited to help you get paid for your work and grow your business.</p>
  <p>However, our banking partners have found your account to be a high risk, so we are temporarily suspending your account.</p>
  <p>Of course, we will pay you out your remaining balance. Your existing customers' purchases will not be affected by this.</p>
  <p>And you can contact our support team to get your account reviewed again.</p>
  <p>We're super sorry about the inconvenience!</p>
  <p>Sahil and the Gumroad team</p>
</div>
