<%= header_section("We were unable to stamp your PDF") %>
<div>
  <p>
    We were unable to stamp a PDF associated with your product, <%= @product.name %>, because it is either password-protected, encrypted, or too large.
  </p>
  <p>
    Please either disable PDF stamping or upload a password-free and encryption-free PDF instead. You'll need to do this for your customers to start receiving the content.
    You can do so by clicking <%= link_to "here", edit_link_url(@product) %>.
  </p>
  <p>
    We are sorry about this inconvenience.
  </p>
</div>
