<%= header_section("We were unable to process your preview video.") %>
<div>
  <p>We were unable to process the preview video uploaded for <%= link_to @product.name, @product.long_url %>. Please try uploading it again.</p>
</div>
