<% @new_sellers_by_date.each_slice(3) do |date_new_sellers| %>
  <div class="columns three">
    <% date_new_sellers.each do |date, sellers| %>
      <div class="box">
        <h2>
          <span title="<%= "#{time_ago_in_words(date)} ago" %>"><%= date.strftime("%b %d, %Y") %></span>
        </h2>
        <div class="rule"></div>
        <ul>
          <% sellers.each do |seller| %>
            <li>
              <%= link_to user_name(seller), admin_user_url(seller) %>
              <strong class="right"><%= seller.user_risk_state %></strong>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
