<main class="stack single-page-form horizontal-form">
  <header>
    <h2>The creator can now contact you.</h2>
    <p>You will start receiving posts again. They will appear in your email inbox as well as in your Gumroad library, if you have an account. If you have missed an important update, you can email the creator to receive it.</p>
  </header>
</main>
<% content_for :footer do %>
  <%= default_footer_content %>
<% end %>
