<noscript>
  <div id="javascript-notice">
    <strong>JavaScript is required to buy this product.</strong>
    Enable JavaScript in your browser settings and refresh this page to continue.
  </div>
</noscript>
