<%= render "home/shared/header",
  bg_color: "pink",
  title: "Prohibited Products and Activities",
  description: "Last revised: April 17, 2019" %>

<div class="max-w-6xl px-8 lg:px-[4vw] py-12 md:py-20 mx-auto space-y-8 text-lg">
  <p>The following products and activities are not allowed on Gumroad. This is almost always because they violate U.S. federal law, they are prohibited by card network rules, or they are restricted by our payment processing partners. If you are unsure whether your content is prohibited on Gumroad, please contact us at support@gumroad.com with a description or example of the content.</p>
  <ol class="list-decimal my-10 mx-6 [&>li]:mb-1 [&>li]:leading-8">
    <li>age or legally restricted products or services</li>
    <li>alcohol which includes alcohol or alcoholic beverages such as beer, liquor, wine, or champagne</li>
    <li>airlines</li>
    <li>bail bonds</li>
    <li>bankruptcy lawyers</li>
    <li>bidding fee or penny auctions</li>
    <li>billing services (including, but not limited to, accepting payment for services rendered and billing for services to be performed in the future)</li>
    <li>bulk marketing tools which includes email lists, software, or other products enabling unsolicited email messages (spam)</li>
    <li>cell phones/pagers</li>
    <li>centralized reservation services</li>
    <li>chain letters</li>
    <li>check cashing</li>
    <li>collection agencies</li>
    <li>consulting firms</li>
    <li>copyrighted media and software which includes unauthorized copies of books, music, movies, software, video games, and other licensed or protected materials, including OEM or bundled software</li>
    <li>counterfeit and unauthorized goods which includes replicas or imitations of designer goods; items without a celebrity endorsement that would normally require such an association; fake autographs, counterfeit stamps, and other potentially unauthorized goods</li>
    <li>credit card and identity theft protection</li>
    <li>cruise lines</li>
    <li>currency exchange, virtual currency, cryptocurrency, and other crypto products (like non-fungible tokens or NFTs), prohibited investments for commercial gain or credits that can be monetized, re-sold or converted to physical or digital goods or services or otherwise exit the virtual world</li>
    <li>deceptive marketing practices</li>
    <li>door-to-door sales</li>
    <li>drug paraphernalia</li>
    <li>essay mills/paper mills</li>
    <li>extended warranties</li>
    <li>flea markets</li>
    <li>food products and ingredients (including consumer packaged goods, livestock, plants, and seeds)</li>
    <li>fortune tellers</li>
    <li>gambling (including legal gambling where the cardholder is not present when the bet is made, lotteries, illegal gambling, internet gambling, sports forecasting and odds making)</li>
    <li>government IDs or documents which includes fake IDs, passports, diplomas, and noble titles</li>
    <li>hacking and cracking materials which includes manuals, how-to guides, information, or equipment enabling illegal access to software, servers, website, or other protected property</li>
    <li>illegal products or services</li>
    <li>jewelry or beauty products</li>
    <li>mailing lists</li>
    <li>marijuana dispensaries and related businesses</li>
    <li>money service businesses</li>
    <li>money transmission</li>
    <li>multi-level marketing or pyramid schemes</li>
    <li>negative response marketing techniques</li>
    <li>offering substantial rebates or special incentives that are awarded to the cardholder subsequent to the original purchase</li>
    <li>pharmacies or internet pharmacies</li>
    <li>pseudo pharmaceuticals (including anti-aging pills, sexual stimulants, weight loss pills, diet pills)</li>
    <li>quasi-cash or stores of value</li>
    <li>reselling private label rights products</li>
    <li>security brokerage</li>
    <li>services (including, but not limited to, "get rich quick" schemes, business opportunities, investment opportunities, mortgage consulting, real estate purchases, mortgage reduction services and credit repair and protection)</li>
    <li>sexually-oriented or pornographic content (including but not limited to adult books or video, adult telephone conversations or audio, membership to adult websites or content, companion or escort services, dating services, mail-order brides, massage parlors and prostitution, or content of any format that features characters who are minors, are depicted as minors, or are suggested to be minors in any sexual or sensual context)</li>
    <li>shipping/forwarding brokers</li>
    <li>substances designed to mimic illegal drugs</li>
    <li>telemarketing</li>
    <li>timeshares</li>
    <li>tobacco products</li>
    <li>weapons or ammunition</li>
    <li>wire transfers or money orders</li>
  </ol>
  <p>This list is maintained separately from Gumroad's <%= link_to "Terms of Service", terms_path %>. Gumroad makes every effort to keep this list as current as possible. However, because of the unpredictable nature of card network rules, legislation and payment processor relationships, this list may change abruptly and without notice. Changes to this list take effect immediately.</p>
</div>

<%= render "home/shared/footer" %>
