<% @description = "Disclaimer: This article is neither legal advice nor tax advice. We recommend that you speak to your tax advisor with any questions or concerns about tax report" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <div class="callout-yellow">
      <p><strong>Disclaimer: </strong>This article is neither legal advice nor tax advice. We recommend that you speak to your tax advisor with any questions or concerns about tax reporting.</p>
    </div>
    <p>Gumroad handles VAT on behalf of creators for all digital product sales in the EU and the UK. We collect, remit, and even allow buyers to refund VAT without sellers having to lift a finger.</p>
    <p>No forms to fill out, no submissions required – Gumroad does it all for you.</p>
    <p>For all sales to EU and UK buyers, Gumroad acts as the 'merchant of record' for the sale, making Gumroad responsible for collecting and remitting VAT. </p>
    <p><b>Note: </b>We do not collect VAT on physical products. VAT due on physical products is paid by the buyer on the inbound shipment receipt.</p>
    <h3>Reduced VAT for e-publications</h3>
    <p>Since 2015, many EU countries have <a href="https://ec.europa.eu/taxation_customs/tic/public/vatRates/vatrates.html">reduced their local VAT rates</a> for e-publications.</p>
    <p>The EU defines E-publications as:</p>
    <ul>
      <li>Books, </li>
      <li>Newspapers and periodicals either on physical means of support or supplied electronically</li>
      <li>Children's picture drawing or coloring books</li>
      <li>Music printed or in manuscript form</li>
      <li>Maps and hydrographic or similar charts</li>
    </ul>
    <p>To apply reduced rates to your products, go to your product editor, then scroll down under the 'Product' tab to toggle on the setting: "Mark product as e-publication for VAT purposes."</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63b6b228bfe3f971fb093bd0/file-0xO68phTOC.png" %></figure>
    <p>This will also reduce e-publications in the UK down to 0%.</p>
    <p>If you are unsure if your product qualifies as an e-publication for reduced VAT rates, please contact a local tax accountant. </p>
    <h3>Frequently asked questions</h3>
    <p><strong>I am registered for VAT in my EU country or in the UK - why do you have to charge VAT to my customers? </strong></p>
    <ul>
      <li>The <a href="http://ec.europa.eu/taxation_customs/taxation/vat/how_vat_works/telecom/index_en.htm#rulesapp2015">new VAT regulations</a> (as of January 1, 2015) require digital portals, platforms, gateways, and marketplaces that electronically supply, authorize payment, and handle delivery/download of electronic services to collect, report, and remit VAT. Gumroad is considered a qualifying marketplace under these regulations and is responsible for collecting/remitting VAT. </li>
    </ul>
    <p><strong>What if my customers don't have to pay VAT?</strong></p>
    <ul>
      <li>If your customers have a VAT ID, they can enter it at checkout or later into their invoice to get a refund. More information <a href="/help/../customers.gumroad.com/article/200-i-need-a-vat-refund.html" target="_blank">here</a>.</li>
    </ul>
    <p><strong>Can I choose not to charge VAT on my digital products? Or make it inclusive?</strong></p>
    <ul>
      <li>No. </li>
    </ul>
    <p><strong>Do you charge higher fees on VAT sales to cover processing costs?</strong></p>
    <ul>
      <li>No. </li>
    </ul>
    <p><strong>What happens if I refund a customer from the EU/UK who has paid VAT? </strong></p>
    <ul>
      <li>All refunds include the sale amount plus the VAT. A partial refund leads to a proportional VAT refund, as well.</li>
    </ul>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="121-sales-tax-on-gumroad.html"><span>Sales tax on Gumroad</span></a></li>
      <li><a href="11-us-sales-tax-on-gumroad.html"><span>US sales tax on Gumroad</span></a></li>
      <li><a href="96-australian-gst-on-gumroad.html"><span>Australian GST on Gumroad</span></a></li>
    </ul>
  </div>
</div>
