<% @description = "In this article: Offering discounts Add custom fields More like this recommendations Creating an Upsell Offering discounts By providing discounts on your produc" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#discounts">Offering discounts</a></li>
      <li><a href="#custom-fields">Add custom fields</a></li>
      <li><a href="#More-like-this-recommendations-5J9b1" target="_self">More like this recommendations</a></li>
      <li><a href="#Creating-an-Upsell-PYDkp" target="_self">Creating an Upsell</a></li>
    </ul>
    <h3 id="discounts">Offering discounts</h3>
    <p>By providing discounts on your product, you can run a sale or offer your customers an attractive price. Read <a href="128-creating-offer-codes.html">this article</a> to learn all about discount codes.</p>
    <h3 id="custom-fields">Add custom fields</h3>
    <p><a href="https://app.gumroad.com/checkout/form">Custom fields</a> help you collect additional information from your customers, like their Twitter handle, ToS acceptance, or shipping info. You can add three kinds of mandatory or optional custom fields:</p>
    <ol>
      <li>Textbox</li>
      <li>Checkbox: e.g., “Tick if you are a digital nomad.”</li>
      <li>Terms: Enter the URL for your terms that customers must accept before purchasing. This field is always set to “Required.”</li>
    </ol>
    <p>Each custom field can be applied to all products or only a subset.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64248bcc4cd1ab01bbe8b082/file-qFRruuIBdB.png" %></figure>
    <p>The custom field info will be accessible in the <a href="https://www.gumroad.com/customers">Sales tab</a> and the <a href="74-the-analytics-dashboard.html#sales-csv">sales CSV</a>.</p>
    <h3 id="More-like-this-recommendations-5J9b1">Recommend related products</h3>
    <p>Our <a href="334-more-like-this.html">Recommend related products</a> feature allows you to recommend other products from your store, products you’re an affiliate of, or all of the products found on <a href="https://discover.gumroad.com/">Gumroad Discover</a>!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65c3046b0a12eb325db176e7/file-mgZ6SnjBz9.png" %></figure>
    <h3 id="Creating-an-Upsell-PYDkp">Creating an Upsell</h3>
    <p>Upsells allow you to suggest additional products to your customers at checkout. You can either nudge them to purchase an upgraded version, replace the product with another one, or add an extra product to the cart. </p>
    <p>Read this article to learn more about implementing Upsells in your product checkout process: <a href="331-creating-upsells.html">Creating an Upsell</a></p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65c304828106ae1c4ab6f390/file-mlXPkvZndM.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="128-discount-codes.html"><span>Discount codes</span></a></li>
      <li><a href="331-creating-upsells.html"><span>Creating an Upsell</span></a></li>
      <li><a href="334-more-like-this.html"><span>Recommend related products</span></a></li>
    </ul>
  </div>
</div>
