<% @description = "In this document, we list the subprocessors that Gumroad and its subsidiaries and affiliates (collectively, “Gumroad”, “we”, “us”, or “our”) use in connection w" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this document, we list the subprocessors that Gumroad and its subsidiaries and affiliates (collectively, “Gumroad”, “we”, “us”, or “our”) use in connection with the Gumroad websites, tools, and mobile applications.</p>
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td valign="top">
            <p><strong> Subprocessor</strong></p>
          </td>
          <td valign="top">
            <p><strong> Purpose</strong></p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="https://aws.amazon.com/"><u>Amazon Web Services (AWS)</u></a></p>
          </td>
          <td valign="top">
            <p> Data hosting </p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="https://www.braintreepayments.com/"><u>Braintree Payments (PayPal Inc.)</u></a></p>
          </td>
          <td valign="top">
            <p> Payment processor </p>
          </td>
        </tr>
        <tr>
          <td valign="top"><a href="http://www.paypal.com">Paypal</a><br>
            <br>
          </td>
          <td valign="top"> Payment processor </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="https://www.google.com/analytics/"><u>Google Analytics</u></a></p>
          </td>
          <td valign="top">
            <p> Analytics provider </p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="https://www.cloudflare.com"><u>Cloudflare</u></a></p>
          </td>
          <td valign="top">
            <p> Analytics provider </p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="http://sendgrid.com/"><u>Sendgrid</u></a></p>
          </td>
          <td valign="top">
            <p> Communications provider </p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="https://stripe.com/"><u>Stripe</u></a></p>
          </td>
          <td valign="top">
            <p> Payment processor </p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="http://twilio.com/"><u>Twilio</u></a></p>
          </td>
          <td valign="top">
            <p> Communications provider </p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <p><a href="https://scalegrid.io"><u>ScaleGrid</u></a></p>
          </td>
          <td valign="top">
            <p> Data Hosting </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p>We may modify this list of subprocessors at any time. When we update this list, we will update the “Last updated” date below.</p>
  </div>
</div>
