<% @description = "If you have created a product on Gumroad and want your customers to be able to take full advantage of the Gumroad app (for iOS and Android!), it is important to" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>If you have created a product on Gumroad and want your customers to be able to take full advantage of the <a href="177-the-gumroad-dashboard-app.html" target="_self">Gumroad app</a> (for iOS and Android!), it is important to be aware of the types of files that can be accessed in the Gumroad app.</p>
    <p>For your convenience, we've assembled those filetypes here:</p>
    <h3>Audio</h3>
    <ul>
      <li>AIFF</li>
      <li>AAC</li>
      <li>MP3</li>
      <li>VBR</li>
      <li>ALAC</li>
      <li>WAV</li>
      <li>Audible</li>
    </ul>
    <h3>Video </h3>
    <ul>
      <li>H.264</li>
      <li>M4V</li>
      <li>MP4</li>
      <li>MOV</li>
    </ul>
    <h3>Books, etc.</h3>
    <ul>
      <li>PDF</li>
      <li>EPUB</li>
    </ul>
    <h3>Optimizing a PDF for Mobile:</h3>
    <p>Some customers would rather download ebooks to their devices instead of using the Gumroad app. For an optimized customer service experience, consider uploading multiple ebook formats. Most importantly, always upload a PDF version, as most devices can easily display them and don’t require third-party software such as .epub or .mobi file formats.</p>
    <h3>PDF Settings</h3>
    <p>Set the page size to 6x9" and use a 12pt font for the body. Regular PDF defaults tend to make them hard to read on mobile because they are generally optimized for print.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="247-what-your-customers-see.html"><span>The Gumroad Library</span></a></li>
      <li><a href="43-streaming-videos.html"><span>Prepare videos for streaming</span></a></li>
      <li><a href="176-metadata-for-audio-files.html"><span>Metadata for audio files</span></a></li>
    </ul>
  </div>
</div>
