<% @description = "In this article: What information do your customers see PayPal Stripe Exceptions What information do your customers see? We only show customers your: Email addr" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#What-information-do-your-customers-see-6U9Hk" target="_blank">What information do your customers see</a>
        <ul>
          <li><a href="#PayPal-BtBkS" target="_self">PayPal</a></li>
          <li><a href="#Stripe--1Qjp" target="_blank">Stripe</a></li>
        </ul>
      </li>
      <li><a href="#Exceptions-xwv60" target="_blank">Exceptions</a></li>
    </ul>
    <h3 id="What-information-do-your-customers-see-6U9Hk">What information do your customers see?</h3>
    <p>We only show customers your:</p>
    <ul>
      <li>Email address (or your support email, if applicable). You can change your email information in your <a href="http://app.gumroad.com/settings">Settings</a>.</li>
      <li>The name you have entered into <a href="https://app.gumroad.com/settings/profile">your profile page</a>.</li>
    </ul>
    <p>Your customers will <b>never</b> see your banking information, payout information, or address.</p>
    <figure><%= image_tag "https://lh5.googleusercontent.com/UJQGF1dLdfBJk1j17sEmuaJ3GFZPux9ZZ05iJUumyko5FoTIWBO7kiZvbU2rczFoiEGTTTVgi-hhDMYOEt1EjN5P8GVguZCPr3XvIHkS7MVgR8e6u8VjchWsEsRtDB9LB8T76FRPd8CrpvHM1MisNe8" %></figure>
    <h3 id="PayPal-BtBkS">PayPal</h3>
    <p>If you <a href="275-paypal-connect.html">Add PayPal to checkout</a>, customers will be able to see your name and email in their PayPal transaction details. This is because the payment goes directly to your PayPal account, and Gumroad merely acts as the marketplace. </p>
    <p>For greater privacy, you can create a ‘Business’ PayPal account that would only disclose the company name and email. Otherwise, we suggest disconnecting PayPal Connect from your account.</p>
    <h3 id="Stripe--1Qjp">Stripe</h3>
    <p>If you ​​<a href="330-stripe-connect.html">Connect your Stripe account to Gumroad</a>, customers will still only be able to see the email that is connected to your Gumroad account. You will also be able to customize the charge description that customers see on their bank statements. It is important to use a recognizable name that will not lead to unintended disputes. More on that <a href="https://support.stripe.com/questions/update-business-name-shown-on-customer-bank-statements">here</a>.</p>
    <h3 id="Exceptions-xwv60">Exceptions</h3>
    <p>Unfortunately, a few creators based in countries with direct bank deposits enabled have found that, on rare occasions, the name and/or phone number entered into <a href="http://app.gumroad.com/settings/payments">their payment settings</a> have been displayed on customers' credit card statements. This is not something we have control over as the information is being directed through Stripe to the customers' card providers, who decide what information to share. </p>
    <p>To remain anonymous, we suggest either: </p>
    <ol>
      <li>Creating an LLC and selling as <a href="260-your-payout-settings-page.html#account-type">a business account,</a> or</li>
      <li>Creating a phone number specifically for your business and/or Gumroad using Google Voice or a similar VoIP provider</li>
    </ol>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="130-pdf-stamping.html"><span>PDF stamping</span></a></li>
      <li><a href="42-content-security.html"><span>Content protection on Gumroad</span></a></li>
    </ul>
  </div>
</div>
