<% @description = "Disclaimer: This article is neither legal advice nor tax advice. We recommend that you speak to your tax advisor with any questions or concerns about tax report" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><em><strong>Disclaimer:</strong></em><em> This article is neither legal advice nor tax advice. We recommend that you speak to your tax advisor with any questions or concerns about tax reporting.</em></p>
    <h3>Gumroad as Merchant of Record</h3>
    <p>Gumroad now acts as the Merchant of Record for all sales. This means we automatically handle all sales tax collection and remittance worldwide. You don't need to manage any tax settings or applications - we take care of everything.</p>
    <h3>Reseller Certificate</h3>
    <p>Some creators may have an obligation to file sales tax (or other indirect tax) returns already, and will need to report their sales on Gumroad as "sales to other retailers for purposes of resale", which are not taxable. To justify this treatment to your tax authority, you will need to download and save <a href="/Gumroad-CA-Resale%20Certificate-01JAN25.pdf">this Reseller Certificate</a>.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="66-gumroads-fees.html"><span>Gumroad's fees</span></a></li>
      <li><a href="10-dealing-with-vat.html"><span>EU &amp; UK VAT on Gumroad</span></a></li>
      <li><a href="11-us-sales-tax-on-gumroad.html"><span>US sales tax on Gumroad</span></a></li>
      <li><a href="96-australian-gst-on-gumroad.html"><span>Australian GST on Gumroad</span></a></li>
      <li><a href="336-singaporean-gst.html"><span>Singaporean GST on Gumroad</span></a></li>
    </ul>
  </div>
</div>
