<% @description = "Add a customer-specific stamp to your work with PDF stamping. For any PDF on Gumroad, you can turn on PDF stamping by clicking..." %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Add a customer-specific stamp to your work with PDF stamping. For any PDF on Gumroad, you can turn on PDF stamping by clicking the "Stamp PDFs with the buyer information" toggle under each file on the Content tab.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/653f673f96e910717e910839/file-QCqBg8VkMd.gif" %></figure>
    <p>The PDF stamp will add the customer's email address and Gumroad’s logo to the bottom-right corner of every page of your PDF.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/66a32768d39e504a2aed1d5a/file-5t5GiKgbCM.png" %></figure>
    <p>When you apply a PDF stamp, your customer will not have instant access to it because Gumroad has to process the PDF file and apply the individualized stamp. This can take from several seconds to several minutes, depending on the size of the PDF file. When the PDF stamp is ready, your customer will receive a download link via email. We suggest that you mention this delay in your product description to avoid confusion. </p>
    <p>The "Download all" option will not be available when a PDF is stamped.</p>
    <h3>FAQs:</h3>
    <p><strong>Q</strong>: <strong>Can I add password protection AND a PDF stamp to my PDF? </strong></p>
    <p><strong>A</strong>: Nope! Sorry. You will have to remove any kind of security feature from your PDF before uploading it to Gumroad if you wish to stamp your PDFs. </p>
    <p><strong>Q</strong>: <strong>What does PDF stamping do? Is it a kind of DRM? </strong></p>
    <p><strong>A</strong>: It serves as a disincentive for customers who might abuse their ownership of your PDF. This is not the same thing as DRM protection. Gumroad does not have DRM solutions for authors wishing to license their products to customers.</p>
    <p><strong>Q</strong>: <strong>Does every page of the PDF get stamped? </strong></p>
    <p><strong>A</strong>: Yes, every page of the PDF will be stamped.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
      <li><a href="42-content-security.html"><span>Content protection on Gumroad</span></a></li>
      <li><a href="302-sell-ebooks.html"><span>How to sell eBooks</span></a></li>
    </ul>
  </div>
</div>
