<% @description = "In this article:  Suggest a Price Create a free product To allow your customers to name their own price for your product, simply enter \"0+\" as the price" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article: </p>
    <ul>
      <li><a href="#Suggest-a-Price-s84E_" target="_self">Suggest a Price</a></li>
      <li><a href="#Create-a-free-product-EV4ZH" target="_self">Create a free product</a></li>
    </ul>
    <p>To allow your customers to name their own price for your product, simply enter "0+" as the price. Your customers can enter "0" to pay nothing, but if they choose to pay, they have to pay at least $0.99 (USD).</p>
    <p>If you'd like to set a lowest possible donation price, simply enter that number followed by "+"</p>
    <h3 id="Suggest-a-Price-s84E_">Suggest a Price</h3>
    <p>You can also set a "suggested" price that Customers will see when entering their donation amount. Change this by typing your price in the Suggested Amount box, then Save changes to make these settings go live.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6245433542ba434a7afe1b14/file-n5IXgZ9xf1.png" %></figure>
    <h3 id="Create-a-free-product-EV4ZH">Create a free product</h3>
    <p>There are two ways to make a product free on Gumroad: </p>
    <ol>
      <li>You can use our PWYW feature and set a price of $0+ for your products, allowing customers to enter “0" for the price and access your product for free. </li>
      <li>You can send customers a 100% off <a href="128-creating-offer-codes.html">discount code</a>. </li>
    </ol>
    <p><b>Note</b>: You cannot price a product at $0 without the PWYW feature, and they have a lower <a href="289-file-size-limits-on-gumroad.html">file-size limit</a>. We also don’t take any <a href="66-gumroads-fees.html">fee</a> on free product sales.</p>
  </div>
</div>
