<% @description = "To find the URL of the incredible product you just created, you need to get to your product's dashboard: Select the specific product and click on Copy URL and i" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p> To find the URL of the incredible product you just created, you need to get to your product's dashboard:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61a4af57663c7a603de8cf54/file-0z9QBEtsKv.png" %></figure>
    <p> Select the specific product and click on <strong>Copy URL </strong>and its done !</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61a4b01979d5be1f25dd3a7f/file-oayRVNnz4h.png" %></figure>
    <p> You can also find your product URL from the Share tab:<br>
      <span style="font-weight: normal;"></span></p>
    <p><strong>From the Share tab:</strong></p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61a4b06564e42a671b63b148/file-pNbDuUQCdK.png" %></figure>
    <p><br>
      Simply click <strong style="background-color: initial; font-size: 14px;">Share </strong>while editing your product and click <strong style="background-color: initial; font-size: 14px;">Copy URL</strong></p>
    <h3>Changing or Customizing your Product's URL</h3>
    <p> You can change your product's URL by going to the <strong>URL </strong>box of the product and altering the URL's suffix, or "Product ID". Type over the automatic ID and click <strong>"Save Changes"</strong> to create a custom URL.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62457b38c1e53608cf9eed1a/file-x8fao0tS61.gif" %></figure>
    <p>You can update this link at any time, but your previous custom URL will not redirect to the new custom URL.</p>
    <p>Your default Gumroad product link will continue to work as well.</p>
    <h3>Best Practices</h3>
    <ul>
      <li>Use lowercase letters and dashes (-) for clarity.</li>
      <li>Keep it short and descriptive.</li>
      <li>Avoid using sensitive or misleading terms.</li>
    </ul>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
    </ul>
  </div>
</div>
