<% @description = "To cancel an individual customer's membership, simply head to your Sales dashboard, search for their name or email, and click Cancel Subscription. However, as a" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>To cancel an individual customer's membership, simply head to your <a href="http://www.gumroad.com/customers" target="_blank">Sales</a> dashboard, search for their name or email, and click <strong>Cancel Subscription</strong>.</p>
    <p>However, as a creator, you also have the following options:</p>
    <h3>Preventing new customers from subscribing</h3>
    <p>If you're looking to keep all your existing subscribers and not accept any new subscribers, simply <a href="248-delete-a-product.html" target="_blank">Unpublish the product</a>. Any new customers will not be able to buy or find the product, while existing customers will continue to be charged and have access to their files.</p>
    <h3>Deleting a membership product</h3>
    <p>To cancel a membership for all customers, go to your <a href="https://gumroad.com/products">Products dashboard</a>, hover over the product you'd like to delete. and click the 'Delete' button on the right.</p>
    <p><a href="https://gumroad.com/products"><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6246a1dd42ba434a7afe22b3/file-JIEbnRW4ab.png" %></a></p>
    <p>This option will cancel <strong>all </strong>of your current customers' memberships. They will no longer be charged, or able to access your product. Your product will no longer be public.</p>
    <h3>Fixed-length memberships</h3>
    <p>When building your product, you can set your membership to terminate after a <a href="https://help.gumroad.com/article/141-fixed-length-subscriptions">set number of months</a>. </p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="82-membership-products.html"><span>Selling memberships</span></a></li>
    </ul>
  </div>
</div>
