<% @description = "Disclaimer: This article is neither legal advice nor tax advice. We recommend that you speak to your tax advisor with any questions or concerns about tax report" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <div class="callout-yellow">
      <p><strong>Disclaimer:</strong> This article is neither legal advice nor tax advice. We recommend that you speak to your tax advisor with any questions or concerns about tax reporting.</p>
    </div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#1099-K">Will I get a 1099-K?</a></li>
      <li><a href="#1099-MISC">Will I get a 1099-MISC?</a></li>
      <li><a href="#PayPal">Does the form include Stripe and PayPal sales?</a></li>
      <li><a href="#ETA">When can I expect the form to reach me?</a></li>
      <li><a href="#mismatch">The 1099 amount doesn't match my payouts</a></li>
      <li><a href="#corrections">How to report corrections?</a></li>
    </ul>
    <h3 id="1099-K">Will I get a 1099-K?</h3>
    <p>Do you meet all of the following criteria in the previous calendar year? </p>
    <ol>
      <li>The account is based in the United States</li>
      <li>More than $20,000 USD in total gross volume</li>
      <li>More than 200 transactions</li>
    </ol>
    <p>If yes, then yes you will receive a 1099-K from our payment processor (Stripe) in your mail. If you do not meet any of those criteria, sorry, you won't be getting a 1099-K.</p>
    <p>A physical copy is mailed by Stripe to the address mentioned in your <a href="https://app.gumroad.com/settings/payments">payment settings</a>, along with an email.</p>
    <p>The 1099-K is a purely informational form that summarizes the sales activity of your account and is designed to assist you in reporting your taxes. For more help understanding your 1099-K, go to <a href="http://www.irs.gov/Businesses/Understanding-Your-1099-K">IRS.gov</a>. You can also download a blank example of the 1099-K form <a href="http://www.irs.gov/pub/irs-pdf/f1099k.pdf">here</a>.</p>
    <h3 id="1099-MISC">Will I get a 1099-MISC?</h3>
    <p>The 1099-MISC form is only applicable if you are an affiliate for other Gumroad creators. Affiliates with commissions greater than $600 USD in the previous financial year will receive a Form 1099-MISC.</p>
    <p>You will only get either a 1099-MISC or 1099-K depending on the revenue amount, and whether you are selling your products or are earning commissions as an affiliate.</p>
    <h3 id="PayPal">Does the form include Stripe and PayPal sales?</h3>
    <p>Payments processed through <a href="330-stripe-connect.html" target="_self">Stripe Connect</a> and <a href="275-paypal-connect.html" target="_self">PayPal Connect</a> are <i>not</i> included in your 1099-K. You will have to request a separate 1099-K for those sales from the respective platforms.</p>
    <h3 id="ETA">When can I expect the form to reach me?</h3>
    <p>We start filing the 1099s in January each year (for the last year's earnings). Stripe then submits the form to the IRS electronically and sends out an email and a snail mail to you.</p>
    <p>You can expect the form to reach you starting Jan-end to March. </p>
    <h3 id="mismatch">The 1099 amount doesn't match my payouts</h3>
    <p>Form 1099-Ks only serve as a rough approximation for the funds you've received. As a payment service, we would need to report our transactional volume attached to you, not the amount paid to you.</p>
    <p><a href="https://www.irs.gov/payments/general-faqs-on-new-payment-card-reporting-requirements" target="_blank">Here's an IRS link</a> with FAQs on how payment handlers (like Gumroad) need to report the earnings, which says: "<em>Gross payment card and third party network transaction amounts are reported on the Form 1099-K, Payment Card and Third Party Network Transactions. The "gross amount" of reportable transactions means the total unadjusted dollar amount of aggregate payment transactions for each participating payee.</em>"</p>
    <p>The 1099 amounts will not align with your payout as the gross amount includes our fee, VAT amount (which is not disclosed to you as we pay that ourselves), affiliate commissions, etc. Also, as mentioned above, the 1099K does not include your sales via Stripe or PayPal Connect, and there is at least a <a href="13-getting-paid.html#schedule">7-day gap</a> between when a sale occurs vs. when it is paid out, which can add to the mismatch.</p>
    <p><strong>Please use the 1099s as a marker, not as an end-all-be-all.</strong></p>
    <h3 id="corrections">How to report corrections?</h3>
    <p>If there's some obvious mistake in Form 1099 like:</p>
    <ul>
      <li>Payee Name or TIN is incorrect</li>
      <li>Should've been filed as a business but was filed as an individual</li>
      <li><em>Huge</em> difference between the actual and reported earnings</li>
    </ul>
    <p>Please report such discrepancies from your account email ID and send them to <a href="mailto:support@gumroad.com">support@gumroad.com</a>. We will work with our payment processor and file for a correction ASAP.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="13-getting-paid.html"><span>Getting paid by Gumroad</span></a></li>
    </ul>
  </div>
</div>
