<% @description = "While Gumroad allows for a huge variety of products to be sold, we do have to delete products from time to time, and we suggest all new creators read through th" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>While Gumroad allows for a huge variety of products to be sold, we do have to delete products from time to time, and we suggest all new creators read through this list to make sure their accounts are in compliance. </p>
    <p>In general, we do not allow reselling - you cannot resell products that you didn't create. You can be an affiliate for another Gumroad creator - but you cannot sell products that didn't spring forth from your own beautiful mind.</p>
    <p>We do not allow any activity or content that promotes or encourages discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age. This includes any content sent out using our email services, or as part of any products sold on Gumroad in any capacity.</p>
    <p>To provide specific examples (though by no means an exhaustive list), you cannot:</p>
    <ul>
      <li>Threaten any specific individual</li>
      <li>Incite violence against a specific person, place, or group</li>
      <li>Share private information about a citizen without their permission</li>
    </ul>
    <h3>High-risk products</h3>
    <p>As identified by our payment and regulatory partners, certain product types are not allowed on Gumroad due to their higher likelihood of being associated with fraud and chargebacks. </p>
    <p>Please see <a href="https://gumroad.com/prohibited">Prohibited Products and Activities</a> for a comprehensive list of the items you can't sell on Gumroad. Some common such products are:</p>
    <ul>
      <li>IPTV subscriptions</li>
      <li>Products related to dropshipping </li>
      <li>Reselling proprietary products - i.e. you are reselling ebooks, courses, prompts, notion planners, templates, video clips, fonts, and presets</li>
      <li>Reselling ebooks that you have reseller rights to (<strong>PLR or MRR products</strong>) </li>
      <li>Reselling software that you've purchased in the past, like Windows 10 license keys, etc. </li>
      <li>Web hosting or servers</li>
      <li>Tickets to events or using Gumroad to process money for events you are hosting</li>
      <li>Selling physical goods (new or old) that you didn't create or own the rights to such as toys, electronics, or mass-produced goods like sneakers</li>
      <li>Selling jewelry</li>
      <li>Selling Steam keys or hacks to other websites</li>
      <li>Selling physical products that violate our terms of service or federal laws of the US, like CBD-related businesses. </li>
      <li>Any NSFW or sexually explicit content—<a href="156-gumroad-and-adult-content.html">See why here</a></li>
      <li>Services that are fulfilled outside Gumroad’s purview. More on that <a href="70-can-i-sell-services.html">here</a>.</li>
      <li>Food products, medical products, skincare or beauty supplies</li>
      <li>Credit repair ebooks or services, or products that discuss credit improvement</li>
      <li>Gift Cards or financial instruments (i.e. "tokens" on your website or forum)</li>
      <li>Products that feature cruelty to animals</li>
      <li>No products that promote meeting up with strangers for any reason, including but not limited to dating, hookups, or any other social interaction.</li>
    </ul>
    <h3>Dealing with violation of our Terms</h3>
    <p>If you share, promote, or sell content that violates the guidelines listed above, it is a violation of our Terms of Service. </p>
    <p>Depending on the situation, we may be forced to suspend your account and refund your sales. This is our prerogative as detailed in section 11.3 of <a href="https://gumroad.com/terms" target="_blank">our Terms</a>.</p>
    <p>But if that is not the case, and we are able to pay you:</p>
    <ul>
      <li>If your product is found to violate our Terms, the product will be removed but you will still be allowed to operate the account. </li>
      <li>On the second violation, you will be given a two week notice, paid out for your remaining sales, and your account will be deleted.</li>
    </ul>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="156-gumroad-and-adult-content.html"><span>Adult content on Gumroad</span></a></li>
      <li><a href="64-is-gumroad-for-me.html"><span>Why choose Gumroad?</span></a></li>
      <li><a href="70-can-i-sell-services.html"><span>Sell digital services: freelancing, coaching, and tip jars</span></a></li>
      <li><a href="51-what-is-gumroads-refund-policy.html"><span>Gumroad's refund policy</span></a></li>
      <li><a href="160-suspension.html"><span>Account suspension FAQ</span></a></li>
    </ul>
  </div>
</div>
