<% @description = "In this article: Summary Terms of Service Violation High Risk & Fraudulent Sales High Chargeback Amounts Your account was rejected by our partners Frequently As" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#The-short-of-it-2VPy4">Summary</a></li>
      <li><a href="#Reason-1-Terms-of-Service-Violations-Fz95R">Terms of Service Violation</a></li>
      <li><a href="#Reason-2-High-Risk-and-Fraudulent-Sales-9HowL">High Risk &amp; Fraudulent Sales</a></li>
      <li><a href="#Reason-3-High-Chargeback-Amounts-p8SkX">High Chargeback Amounts</a></li>
      <li><a href="#Reason-4-Your-account-was-rejected-by-our-partners-ZZ2z5">Your account was rejected by our partners</a></li>
      <li><a href="#Frequently-Asked-Questions-VUUqd">Frequently Asked Questions</a></li>
    </ul>
    <h3 id="The-short-of-it-2VPy4">The short of it</h3>
    <p>We've added this section to make everything as clear and concise as possible because there are a lot of scary stories floating around about account suspensions:</p>
    <br>
    <p>Before your first payout, your account is reviewed. If you have made clearly fraudulent sales in that review period, or your account is violating our <a href="https://gumroad.com/terms">ToS</a>, or it's abundantly clear to us that you are a bad actor and attempting to launder money, spam our servers, or pen-test the site, we will suspend your account. We may have to refund your sales at this point. You can appeal the suspension at this point, or choose to delete your account. </p>
    <br>
    <p>If your account is reviewed by us and we verify it, you're good. You'll get your first payout within seven days of your review, and we won't bother you again. Like, probably ever. </p>
    <br>
    <p>The only reasons that you would be at threat of suspension as a reviewed creator is if:</p>
    <p>A) You have an extremely <a href="134-how-does-gumroad-handle-chargebacks.html">high chargeback rate</a> and it becomes unsustainable for us to support your sales</p>
    <p>B) You suddenly decide to refund every single one of your sales that you've ever made and put us into debt </p>
    <p>C) You suddenly decide to start violating <a href="http://www.gumroad.com/terms">our ToS</a> and after being asked to stop, continue to do so</p>
    <p>D) Stripe or PayPal (or our other banking partners) suddenly decide that you are in violation of their ToS and prohibit us from working with you</p>
    <h3 id="The-long-of-it-GxCqR">The long of it</h3>
    <p>As a small company, Gumroad has to uphold the interests of our banking partners and the companies that process our payments. In other words, we have to play by their rules if we want to continue existing. </p>
    <br>
    <p>Sometimes, playing by their rules really sucks, and we have to kick people off of our platform. </p>
    <br>
    <p>For Gumroad creators, this means that to process payments on your behalf (and pay you for the sales you make on Gumroad),  your account has to comply with the policies that we are bound to. By creating a Gumroad account, you are therefore subject to our <a href="https://www.gumroad.com/terms">Terms of Service</a>, where we all agree that Gumroad can suspend and refund your sales if and when necessary (Section 8). </p>
    <br>
    <p>We encourage you to read through these Terms before creating an account because if your account violates these policies, it will, unfortunately, have to be suspended. Your existing balance may be refunded, depending on the policy that we are enforcing or the chargeback threats that we see from your sales. </p>
    <br>
    <p>We understand that from a creator's standpoint, a suspension may seem arbitrary, unfair, and cold. We do our best to bring humanity, empathy, and honesty to the relationships that we have with our creators, but sadly, in the world of online payments, there is no nice way to end a payment processing relationship. </p>
    <br>
    <p>This page offers explanations for why an account will be suspended and will attempt to dispel any misinformation you may have encountered elsewhere online.  </p>
    <br>
    <p>We, unfortunately, have to stay rather general on this page, because giving away specific policy details is, frankly, a terrible idea in an online world full of fairly-clever scammers.</p>
    <h3 id="Reason-1-Terms-of-Service-Violations-Fz95R">Reason 1: Terms of Service Violations</h3>
    <p>Gumroad's Terms of Service can be found here:</p>
    <p><a href="https://www.gumroad.com/terms">Terms of Service</a></p>
    <br>
    <p>And our list of goods that cannot be sold through Gumroad is here: <a href="https://gumroad.com/prohibited">Prohibited Products and Activities</a> and in less legal terms here: <a href="155-things-you-cant-sell-on-gumroad.html">Things That Are Not Allowed on Gumroad</a></p>
    <br>
    <p>If you are using Gumroad in a way that violates our ToS, or selling a product that we are not authorized to sell (common offenders include PLR ebooks, graphic pornography, <a href="70-can-i-sell-services.html">services</a>, credit repair products, tickets to events, health products, unlicensed software you didn't create, or unlicensed electronics), we have to suspend your account.</p>
    <br>
    <p>Because spammers love misusing our platform, we also will have to suspend your account if it appears that you are using Gumroad as a means of manipulating search engine results. </p>
    <h4><b>What now? </b></h4>
    <p>If your entire account and your sales violates our Terms of Service, we can not allow you back on the platform. If only a single product is, however, if you agree to sell different types of products, we may allow you back on. If you have previous purchases on the platform, we can resend them to you or allow you to download them again. </p>
    <br>
    <p>Depending on the policies you have violated, we may not be able to pay you out. We do our best to get you paid, but sometimes we truly aren't allowed to. </p>
    <br>
    <p>We will speak to you directly in these instances about what will happen with your existing sales.</p>
    <h3 id="Reason-2-High-Risk-and-Fraudulent-Sales-9HowL">Reason 2: High-Risk and Fraudulent Sales</h3>
    <p>Every account on Gumroad is reviewed by our Risk team and processors before payouts can begin, to ensure we only process payments for safe, legitimate accounts.. We explain this process in further detail on the following pages: </p>
    <ul>
      <li><a href="13-getting-paid.html">Getting Paid by Gumroad</a></li>
      <li><a href="281-payout-delays.html#Reason1Youhaventbeen">Payout Delays</a></li>
    </ul>
    <p>If your account is marked by high rates of suspicious payments or evidence that your sales were made fraudulently and/or with compromised payment sources (i.e. stolen credit cards, hacked PayPal accounts), we have to suspend it, and we cannot pay you for these sales. </p>
    <p>If there are legitimate sales in your balance, we will pay you out for those. </p>
    <h4><b>"Why me? I didn't do anything wrong. Why should I be punished for my customers' activities?"</b></h4>
    <p>This is a common, very understandable response to this kind of suspension. You might not be doing anything wrong - you may be selling an ebook about world peace, and donating all of your profits to blind orphans, but if your account is the source of high amounts of fraudulent payments, then the only thing we can do to enforce the policies of our partners is to cut off the fraud at its source, which in this case would be your products.  </p>
    <p>Think about it like this - it's not a great analogy, but this is how our banking partners view the situation:</p>
    <p>Mrs. Gumroad manages a supermarket, and you are her new employee. You invite someone from outside the store to come in and buy from the section of the store that you've just recently organized. That person comes in, steals a bunch of stuff, smashes up the store, and runs away. </p>
    <p>What can Mrs. Gumroad do in this situation besides fire you? Again, not a great analogy but it's how we have to operate. </p>
    <h4><b>What now?</b></h4>
    <p>Depending on your situation, your account may be reviewed again. We invite you to ask us to re-review your account because we do make mistakes. If we find that our review was flawed we will allow your account back onto Gumroad. If not, we will refund your sales and ask you to find a different platform for your sales. </p>
    <h3 id="Reason-3-High-Chargeback-Amounts-p8SkX">Reason 3: High Chargeback Amounts</h3>
    <p>To learn how Gumroad deals with chargebacks, you can read <a href="134-how-does-gumroad-handle-chargebacks.html">this rather lengthy article</a>. It offers tips on how to avoid chargebacks and how to help us if your customer issues one.</p>
    <p>In short though, if your account racks up a high number of chargebacks, your account is categorized as high-risk, and we are not allowed to further process your sales or payouts. </p>
    <h4><b>Why?</b></h4>
    <p>Let's say you have $1,000 in sales and you incur $100 in chargebacks. You now have a 10% chargeback-to-sales volume rate, meaning 10% of all of your sales have resulted in chargebacks. Moreover, as per our ToS, Gumroad swallows the resulting penalties that are attached to chargebacks. Theoretically, if we were to continue processing your sales, we would continue to accrue penalties on your behalf.  </p>
    <p>From the viewpoint of our partners, this is unsustainable and we are forced to suspend your sales. </p>
    <h4><b>"Why me? I didn't do anything wrong. Why should I be punished for my customers' activities?"</b></h4>
    <p>Again, a totally understandable and completely valid point. But, to restate - we have to enforce the risk policies of our partners quickly and effectively. The chargebacks are originating from your account, and suspension is the only way to solve the issue, from our partners' perspective. </p>
    <p>If your account has been suspended for a high chargeback rate, we are forced to hold onto your balance for 30-45 days to accommodate for further chargebacks. After this period, we will pay you the remaining balance in your account, if given clearance by our banking partners. </p>
    <h3 id="Reason-4-Your-account-was-rejected-by-our-partners-ZZ2z5">Reason 4: Your account was rejected by our partners</h3>
    <p>By entering your payout information, you’re setting up an account with Stripe and/or PayPal. They also review your account to assess risk. If they've had issues with your account in the past, they may not let us pay you.</p>
    <br>
    <p>For example:</p>
    <ul>
      <li>You have been suspended from PayPal in the past and created a new account with us</li>
      <li>Your bank account has been connected to fraud in the past that Stripe has had to deal with</li>
    </ul>
    <h4><b>What now? </b></h4>
    <p>If this is the case, we will forward your case to the support staff of either PayPal or Stripe. We may also put you in an email thread with them to answer any questions that they have. If they do not allow us to pay you, then unfortunately we have no way to send you money. The easiest solution in this example would be to refund your sales and contact your customers to pay you via an alternate route. </p>
    <h3 id="Frequently-Asked-Questions-VUUqd">Frequently Asked Questions</h3>
    <p><b>Q1. Why doesn't Gumroad inform users that their account is suspended? </b></p>
    <p>A1: A vast majority of the accounts we suspend (around 50,000/month) are created by actual scammers or spammers. To inform them via email that their attempts to defraud us were unsuccessful would effectively amount to us offering them a <a href="https://en.wikipedia.org/wiki/Mulligan_(games)">Mulligan</a>. </p>
    <br>
    <p>We have found it is more effective for us to allow users to email us for more information after their accounts have been suspended. We understand that suspension often comes as a nasty surprise, and we apologize for the seeming rudeness.</p>
    <br>
    <p><b>Q2: I have read online that Gumroad keeps my customers' money after my account has been suspended.</b></p>
    <p>A2: We're not entirely sure how this rumor got started, but rest assured, it's not true. If we were doing this, a few things would happen: </p>
    <br>
    <p>1. Customers would issue chargebacks at a rate that would quickly bankrupt us </p>
    <p>2. Creators would sue us so much that we'd be bankrupted  </p>
    <p>3. Our payment processors would get wind of it, and boot us from their platforms </p>
    <p>4. We'd get a visit from the FBI for extortion</p>
    <br>
    <p>Since not a single one of these things has happened since we opened our digital doors in 2011, it should be evident that this is not how we do business.</p>
    <br>
    <p>If your account has been suspended and sales have been refunded, we are more than happy to provide proof of those refunds to your customers. </p>
    <br>
    <p><b>Q3: Can I protest my suspension? </b></p>
    <p>A3: Absolutely. To be clear, we don't enjoy suspending accounts, and sometimes our review process can be flawed. Contact us at <a href="mailto:support@gumroad.com">support@gumroad.com</a> and we will inform you as to why your account was suspended. We will then ask for pertinent information that may help us get your account back and running. </p>
    <br>
    <p><b>Q4: Why doesn't Gumroad provide me with specific reasons why my account was suspended? </b></p>
    <p>A4: The Internet is a pretty awful place when it comes to fraud and risk management, and unfortunately the more specific information we give out about our risk and fraud detection, the more information there is that's able to leak to fraudsters trying to make money off of us. </p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="155-things-you-cant-sell-on-gumroad.html"><span>Things not allowed on Gumroad</span></a></li>
      <li><a href="64-is-gumroad-for-me.html"><span>Why choose Gumroad?</span></a></li>
      <li><a href="161-what-gumroad-considers-fraud.html"><span>Defining fraud on Gumroad</span></a></li>
    </ul>
  </div>
</div>
