<% @description = "In this article: What constitutes \"fraud\" Why we suspend and disable accounts Why was my account permanently suspended? What constitutes \"fraud\" We can't actual" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><span>In this article:</span></p>
    <ul>
      <li><a href="#What-constitutes-fraud-WhqKy" target="_self">What constitutes "fraud"</a></li>
      <li><a href="#Why-we-suspend-and-disable-accounts-YpCTa" target="_self">Why we suspend and disable accounts</a></li>
      <li><a href="#Why-was-my-account-permanently-suspended--6YShV" target="_self">Why was my account permanently suspended?</a></li>
    </ul>
    <h3 id="What-constitutes-fraud-WhqKy">What constitutes "fraud"</h3>
    <p>We can't actually provide a thorough definition of fraud here, as that would amount to opening up our playbook to the opposing team. Suffice to say, "fraud" on Gumroad can be broadly defined as attempting to violate our terms of service, or to profit from the Gumroad payment system in such a way that is potentially damaging to Gumroad's business model.</p>
    <p>Several indicators that we use to detect fraud are: </p>
    <ul>
      <li>An account with a higher-than-average chargeback rate. Read more about chargebacks <a href="134-how-does-gumroad-handle-chargebacks.html">here</a></li>
      <li>Transaction anomalies - stolen credit cards being used, suspicious IP addresses, evidence of someone running stolen cards or PayPal accounts on your products</li>
      <li>Copyright violations, i.e., a Gumroad creator is selling goods they don't own the rights to</li>
      <li>High fraud scores as indicated by our risk model, taking into account location, purchase data, red flags on sales</li>
    </ul>
    <p>Our sophisticated risk models have an exceptional degree of accuracy across a high volume of sales. That said, they are always being improved upon, and all account suspensions are manually reviewed by our risk team.</p>
    <h3 id="Why-we-suspend-and-disable-accounts-YpCTa">Why we suspend and disable accounts</h3>
    <p>As a company, we assist creators in earning a living doing what they love; part of that assistance warrants actions and engagements with partners that are regulated by federal and state regulatory bodies.</p>
    <p>Compliance with regulatory mandates requires us to take certain steps, some of which are implemented to ensure that we identify and mitigate fraud as well as protect and uphold a pleasant buying experience for the consumer.</p>
    <p>This means we must not only suspend accounts deemed to be fraudulent, but we have to refund all money transferred to those accounts back to its customers.</p>
    <p>In order to protect our business and credit line, we are required to shut down accounts that violate our terms of service, have evidence of fraud, or pose a high risk of chargebacks. If your account has been suspended, please contact our support team for more information.</p>
    <h3 id="Why-was-my-account-permanently-suspended--6YShV">Why was my account permanently suspended? </h3>
    <p>Your account was suspended for either:</p>
    <p>1) Violating our Terms of service, i.e. selling goods that are not allowed on Gumroad. You can see those <a href="https://help.gumroad.com/article/www.gumroad.com/terms/prohibited">here</a>.</p>
    <p>2) Your sales were either highly suspicious or showed indications of fraud, money laundering, or use of stolen/hacked accounts</p>
    <p>Either way, your account was deemed by Gumroad or its banking partners as a financial liability and we had to remove it from our system.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="156-gumroad-and-adult-content.html"><span>Adult content on Gumroad</span></a></li>
      <li><a href="155-things-you-cant-sell-on-gumroad.html"><span>Things not allowed on Gumroad</span></a></li>
      <li><a href="70-can-i-sell-services.html"><span>Sell digital services: freelancing, coaching, and tip jars</span></a></li>
      <li><a href="134-how-does-gumroad-handle-chargebacks.html"><span>Chargebacks on Gumroad</span></a></li>
    </ul>
  </div>
</div>
