<% @description = "“What band is this?” is a question that should never go unanswered. For audio files, metadata can give you everything from the track’s title and credits to albu" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p> “What band is this?” is a question that should never go unanswered.</p>
    <p> For audio files, metadata can give you everything from the track’s title and credits to album art. Then it’s a matter of hitting ⌘I to access everything you need to know.</p>
    <p> You can enter metadata on tracks using metadata encoder software (there are lots of paid and free options out there), or you can enter what you want in iTunes manually.</p>
    <p><strong>Or you can let Gumroad do it for you. Automatically.</strong></p>
    <p> Gumroad automatically applies metadata to all <strong>MP3</strong>, <strong>WAV, </strong><strong>FLAC</strong>, and <strong>OGG</strong> files.</p>
    <p> Where does the information come from? From information you’ve already provided.</p>
    <ul>
      <li>Your song’s (or audiobook chapter's) <strong>title</strong> is determined by the <strong>product file’s name</strong>. If you change the name of the file while editing the product, the metadata will also change. Learn more about editing products <a href="https://help.gumroad.com/article/104-styling-your-product" rel="nofollow">here</a>.</li>
      <li>Your creator name becomes the ‘artist’ name. And if you haven’t chosen and entered a name on your Gumroad account, well, you should, but if not, we’ll leave this blank. If you still need to set a name for your account, go to your <a href="http://www.gumroad.com/settings" target="_blank">Settings menu</a>, create a <strong>Username</strong>, and click <strong>Update Account details</strong>. Then go to your Profile page and change your name.</li>
      <li>Your <strong>product’s name</strong> will become the <strong>album title</strong>.</li>
      <li>The first cover image you upload (as long as it’s a PNG or a JPG) will be encoded as the track’s cover.</li>
    </ul>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/5c6f7c292c7d3a66e32ec8b1/file-OQ5TbyLFqP.png" %></figure>
    <p> If you’ve already entered even a little bit of metadata into your audio files, don’t worry. We won’t override anything. We’ll leave those tracks alone. Check the settings in your music or recording software to see if it's adding any metadata. If so, either toggle that option off or make sure that everything you want to include will be provided when you export.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="74-the-analytics-dashboard.html"><span>The sales analytics dashboard</span></a></li>
      <li><a href="174-third-party-analytics.html"><span>Third-party analytics</span></a></li>
    </ul>
  </div>
</div>
