<% @description = "In this article: Download the app Track your sales Access your Library Mobile Discover The Gumroad mobile app lets you track your sales on Gumroad, purchase pro" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Download-the-app-a0fEa" target="_self">Download the app</a></li>
      <li><a href="#Track-your-sales-OOrrM" target="_self">Track your sales</a></li>
      <li><a href="#Access-your-Library-WCBj_" target="_self">Access your Library</a></li>
      <li><a href="#Mobile-Discover-yZ6uz" target="_self">Mobile Discover</a></li>
    </ul>
    <hr role="separator">
    <p>The Gumroad mobile app lets you track your sales on Gumroad, purchase products, and access any purchases you’ve made from the Library right on your phone. </p>
    <p>You can enable push notifications in your phone settings to receive real-time sales and post notifications.</p>
    <p>At the moment, you cannot use the Gumroad app to:</p>
    <ul>
      <li>Create a Gumroad account</li>
      <li>Create products or posts</li>
      <li>View sales you have made as an affiliate</li>
    </ul>
    <h3 id="Download-the-app-a0fEa">Download the app</h3>
    <p>The Gumroad app is available on iOS and Android! Go to your OS’ app store and search for ‘Gumroad,’ or click on their respective links:</p>
    <p>iOS app link:<a href="https://apps.apple.com/us/app/gumroad/id916819108"> https://apps.apple.com/us/app/gumroad/id916819108</a></p>
    <p>Android app link:<a href="https://play.google.com/store/apps/details?id=com.gumroad.app"> https://play.google.com/store/apps/details?id=com.gumroad.app</a></p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXcn0hBkDs9uaAXyTuyDCaa-72zCw4ESCeAUZWc8uTG_u4atpuoe6z_7-WDh7pZ648TCkFZ8bZfKnDcpWiF6wZupfU-phhRsoas_aPeS9nCjMlLx3nIYxUCFb3c9GpsEH53hL1y7_zQAArC4K5zaccjNHdo?key=3Qa9lZqHeMFRSrElqO7Kvw" %></figure>
    <p>Don’t have an account yet? Create one <a href="https://app.gumroad.com/signup"> here</a>.</p>
    <h3 id="Track-your-sales-OOrrM">Track your sales</h3>
    <p>Once logged in, you can toggle between your daily, monthly, and all-time sales on Gumroad and their details!</p>
    <p>The sales you see reflected under ‘Today’ in the Home tab are all sales made since 12:01 AM (or 00:01) in your timezone. The ‘Month’ total is for the current month.</p>
    <p>The amounts shown for individual sales and the total over a given time period are before we've applied<a href="66-gumroads-fees.html"> our transaction fee</a>. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/654deddb8fd0677319115e1f/file-5GHiADHrMS.png" %></figure>
    <h3 id="Access-your-Library-WCBj_">Access your Library</h3>
    <p>Scroll through your library, and tap the cover image of a product to access its attached files. </p>
    <p>To download the files in a product directly to your phone for offline access later, slide the toggle to the right and tap the download button. If this option does not appear, the creator chose to have the product be "streaming only".</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/654dedfc2d28585006d0164c/file-jcOHcoXhih.png" %></figure>
    <p>If you do not see a product or file in the app, the product may not be mobile-friendly. For example, it might be a <a href="/help/../customers.gumroad.com/article/206-how-to-open-zip-and-rar-files.html">RAR file</a>, which needs to be opened on your desktop. Essentially, the product does not contain a file that can be read, watched, or listened to on our app.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="268-customer-dashboard.html"><span>The sales dashboard</span></a></li>
      <li><a href="74-the-analytics-dashboard.html"><span>The sales analytics dashboard</span></a></li>
      <li><a href="247-what-your-customers-see.html"><span>The Gumroad Library</span></a></li>
      <li><a href="174-third-party-analytics.html"><span>Third-party analytics</span></a></li>
    </ul>
  </div>
</div>
