<% @description = "Buying on a secure browser Your payment is secured by TLS, a higher grade of security than SSL, with 256-bit encryption and using modern SHA2 cyphers. Your paym" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <h3>Buying on a secure browser</h3>
    <ul>
      <li>Your payment is secured by <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security">TLS</a>, a higher grade of security than SSL, with <a href="https://www.techopedia.com/definition/29703/256-bit-encryption">256-bit encryption</a> and using modern <a href="https://en.wikipedia.org/wiki/SHA-2">SHA2 cyphers</a>.</li>
      <li>Your payment is processed using PCI compliant service providers. PCI compliance means that our providers meet current security standards for handling payment information. For a full FAQ on what PCI compliance entails, <a href="https://www.pcicomplianceguide.org/pci-faqs-2/">check out this page</a>.</li>
    </ul>
    <p>In other words, your payment details are not stored anywhere when you buy on Gumroad. We don't have access to your credit card information—only a token that represents your credit card. The same goes for your PayPal details. That means if your Gumroad account, or even Gumroad itself, were compromised, nobody would gain access to your payment data.</p>
    <p>When you create an account with us, we use methods called "<a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">Salting</a>" and "<a href="http://en.wikipedia.org/wiki/Cryptographic_hash_function">Hashing</a>" to store your encrypted password. What it means is, if an attacker were to get hold of our database, they would not be able to see any users' passwords.</p>
    <h3>Your privacy</h3>
    <p>When you make a purchase on Gumroad, the creator of products will see:</p>
    <ul>
      <li>Your email address used for the purchase</li>
      <li>Your name or any other information that you enter into the field at checkout</li>
    </ul>
    <p>They do not see your credit card information or the name on your card.</p>
    <p>You will be asked after your purchase whether or not you want to receive updates from them. You can unsubscribe from the updates they send you through Gumroad anytime.</p>
    <h3>PayPal Connect</h3>
    <p>We have been using PayPal Connect since January 2021, which means the payment is now directly between the customer and the Gumroad creator. For both creators and customers, information such as your PayPal email address, name, and other account details may be visible on the receipt and/or your PayPal dashboard.</p>
    <h3>Apple/Google Pay</h3>
    <p>If you have Google or Apple Pay enabled on your computer or mobile device, you'll be able to purchase with just a few clicks.</p>
    <p>Google Pay only works when a credit or debit card is linked to it. This means the button may not show up in some countries where bank accounts are linked to your Google Pay account.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7a9548ce4ac252a8be624/file-y4GhK118x3.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="191-a-guide-to-buying-on-gumroad.html"><span>A guide to buying on Gumroad</span></a></li>
      <li><a href="203-why-did-my-payment-fail.html"><span>Why did my payment fail?</span></a></li>
      <li><a href="214-why-was-i-charged-by-gumroad.html"><span>Why was I charged by Gumroad?</span></a></li>
      <li><a href="197-why-do-i-have-a-1-charge-from-gumroad.html"><span>Why do I have a $1 charge from Gumroad?</span></a></li>
    </ul>
  </div>
</div>
