<% @description = "In this article: Website purchases In-app purchases Website purchases When you buy a product from a Gumroad creator, Gumroad only processes payments on behalf o" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#Website-purchases-YEQit" target="_self">Website purchases</a></li>
      <li><a href="#In-App-Purchases-GL6fX" target="_self">In-app purchases</a></li>
    </ul>
    <hr role="separator">
    <h3 id="Website-purchases-YEQit">Website purchases</h3>
    <p>When you buy a product from a Gumroad creator, Gumroad only processes payments on behalf of that creator. We allow creators on our platform to <a href="/help/../help.gumroad.com/article/51-what-is-gumroads-refund-policy.html">set their own refund policies</a> and issue their own refunds to their customers (i.e. you!).</p>
    <p>Unfortunately, unless it was a <a href="/help/../help.gumroad.com/article/283-fraudulent-purchases.html">fraudulent charge</a> or duplicate purchase, we aren't able to refund you for a purchase—at least not right away.</p>
    <p>Please write to us if you haven’t heard back from the creator for 30 days since first contacting them, along with the proof of correspondence. We will reach out to them and will issue a refund if they continue to be unresponsive.</p>
    <p>If you have issues with the product you've purchased through Gumroad or feel you deserve a refund, you should contact the creator of the product. </p>
    <p>You can contact the creator by replying directly to your receipt email:</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/dl2KcyB6VcgKyQjf_PdY7mSpA3PwCXm4kfCzmq-kbi0hRee7mzCRjIG0oLOuAjucAk-1Z6uEl4rVS-LeIjd58epUux48b0Sm1QhY_AhBPSZWAKgINSkHcFiWMTNUEOlYlYG5KdDpPdhuOhJk3_7RebM" %></figure>
    <p>or by looking at the "reply-to" information on your purchase email</p>
    <h3></h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61fb919bd86136157d9a05c5/file-kV4glDwBbx.png" %></figure>
    <p>If you didn’t receive a receipt, please first check the spam folder in your email inbox. If you still cannot find your receipt, please go through the steps <a href="212-i-never-received-a-receipt.html" target="_self">on this page</a>.</p>
    <br>
    <h3 id="In-App-Purchases-GL6fX">In-App purchases</h3>
    <p>Refunds for in-app purchases are handled independently by Apple/Google support, so if you made a purchase on the <a href="/help/../help.gumroad.com/article/177-the-gumroad-dashboard-app.html#Download-the-app-a0fEa">Gumroad mobile app</a>, neither the creator nor Gumroad can refund your purchase.</p>
    <br>
    <p>If you need a refund for an in-app purchase, please contact <a href="https://support.apple.com/en-au/118223">Apple</a> (for IOS devices) or <a href="https://support.google.com/googleplay/answer/2479637?sjid=15689087848422407774-AP">Google support</a> (for Android devices).</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="192-how-do-i-cancel-my-membership.html"><span>How do I cancel my membership?</span></a></li>
      <li><a href="214-why-was-i-charged-by-gumroad.html"><span>Why was I charged by Gumroad?</span></a></li>
      <li><a href="195-theres-an-issue-with-my-purchase.html"><span>There's an issue with my purchase</span></a></li>
      <li><a href="197-why-do-i-have-a-1-charge-from-gumroad.html"><span>Why do I have a $1 charge from Gumroad?</span></a></li>
      <li><a href="215-when-will-my-purchase-be-shipped.html"><span>When will my purchase be shipped?</span></a></li>
      <li><a href="211-im-not-receiving-updates.html"><span>I'm not receiving updates</span></a></li>
    </ul>
  </div>
</div>
