<% @description = "Here are the most common reasons why a download may not be working from Gumroad: Downloading on mobile devices Please use our mobile app to download files direc" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Here are the most common reasons why a download may not be working from Gumroad:</p>
    <h3>Downloading on mobile devices</h3>
    <p>Please use our <a href="/help/../help.gumroad.com/article/177-the-gumroad-dashboard-app.html" target="_self">mobile app</a> to download files directly to your device, or:</p>
    <ol>
      <li>Download the files to your laptop or desktop computer</li>
      <li>Sync the files to your device. You can do this with services like iCloud, Google Drive, etc.</li>
    </ol>
    <h3>Speed</h3>
    <p>It may be the case that your internet connection doesn't support downloading large files (when downloading big files, sometimes your ISP has a time-out limit). You can call your provider to know more, or <a href="http://www.speedtest.net/">click here</a> to check if you have a speed issue. You may find that <a href="210-send-your-purchase-to-dropbox.html" target="_self">sending the file to your Dropbox</a> will be faster.</p>
    <p>Worst case scenario—we recommend finding a faster internet connection (for example, at a nearby university, library, or coffee shop).</p>
    <h3>Browser issues</h3>
    <p>Gumroad supports all modern, updated browsers. <a href="http://www.browsehappy.com/?locale=en">Click here</a> to find out if your browser is up-to-date. Older browsers are not only more prone to errors, but they are less safe to use (i.e. they are more easily hacked). We highly recommend using <a href="https://www.google.com/chrome/">Google Chrome</a> for the best results. Avoid using discontinued browsers like Internet Explorer.</p>
    <h3>Extensions</h3>
    <p>If you have extensions or add-ons such as Adblock or Ghostery etc. running, your ability to download larger files might be impaired. If you temporarily disable those features, then refresh the download page, the download may work better.</p>
    <p>You can disable extensions from your browser’s settings.</p>
    <h3>File format</h3>
    <p>If you don't recognize the file format and don't know how it's meant to be used, you can reply directly to your receipt to get in contact with the creator who can provide tech support.</p>
    <p>If the file is a .ZIP or .RAR format, please refer to <a href="206-how-to-open-zip-and-rar-files.html" target="_self">this article</a> for more information.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="199-how-do-i-access-my-purchase.html"><span>How do I access my purchase?</span></a></li>
      <li><a href="195-theres-an-issue-with-my-purchase.html"><span>There's an issue with my purchase</span></a></li>
    </ul>
  </div>
</div>
