<% @description = "In this article: How to generate your invoice from the receipt VAT ID Don't have your receipt? Older purchases No W9? How to generate your invoice from the rece" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#How-to-generate-your-invoice-from-the-receipt-wpmBD" target="_self">How to generate your invoice from the receipt</a></li>
      <li><a href="#VAT-ID-Erp7a" target="_self">VAT ID</a></li>
      <li><a href="#Dont-have-your-receipt-Kger0" target="_self">Don't have your receipt?</a></li>
      <li><a href="#Older-purchases-II5BZ" target="_self">Older purchases</a></li>
      <li><a href="#No-W9-KSAkH" target="_self">No W9?</a></li>
    </ul>
    <h3 id="How-to-generate-your-invoice-from-the-receipt-wpmBD">How to generate your invoice from the receipt</h3>
    <p>You can print your own invoice by clicking the Generate link at the bottom of your receipt.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65b0e4b487e88924b5fa2015/file-5q7QumzVdW.png" %></figure>
    <p>You'll be sent to Gumroad's Invoice generator where you can enter your full name and business or personal address. Next, click “Download”, and the invoice will download as a PDF.</p>
    <p>If you need to add optional notes such as your business' specific information or invoice numbers, you can do that in the additional notes field.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65b0e50587e88924b5fa2016/file-mIRJJ1LKxj.png" %></figure>
    <h3 id="VAT-ID-Erp7a">VAT ID</h3>
    <p>If you paid VAT and you're a business in the EU, you can also enter your VAT registration number and automatically process a refund for the VAT you paid. The VAT refund will take 2-3 days to arrive at your credit card or PayPal account. The invoice will display without VAT.</p>
    <p>Please note that everything you need on your invoice should be written in the custom text box called "Additional notes" when you generate your invoice. Gumroad Support doesn't have the capability to change or adjust invoices, so be sure to add anything your tax office might need.</p>
    <h3 id="Dont-have-your-receipt-Kger0">Don't have your receipt?</h3>
    <p>Please see <a href="212-i-never-received-a-receipt.html" target="_self">this article</a> if you are unable to find your receipt.</p>
    <h3 id="Older-purchases-II5BZ">Older purchases</h3>
    <p>If you have products in your Library from purchases made long, long ago, simply open up those products in your <a href="http://app.gumroad.com/library" target="_blank">Library</a> and hit "View receipt"</p>
    <h3 id="No-W9-KSAkH">No W9?</h3>
    <p>Because Gumroad is a C Corporation, we do not issue W9s to customers. As a C Corporation, you are not required to send us 1099s for your purchases on our site.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="200-i-need-a-vat-refund.html"><span>I need a VAT refund</span></a></li>
      <li><a href="212-i-never-received-a-receipt.html"><span>I never received a receipt</span></a></li>
    </ul>
  </div>
</div>
