<% @description = "The best resource you have when it comes to your purchase is the product's creator. You should contact them to: inquire about a refund find out the shipping sta" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <br>
    <p>The best resource you have when it comes to your purchase is the product's creator. </p>
    <p>You should contact them to:</p>
    <ul>
      <li>inquire <a href="190-how-do-i-get-a-refund.html">about a refund</a></li>
      <li>find out the shipping status of the product</li>
      <li>change your shipping address</li>
      <li>address an issue you are having with your product (installation, lack of files, etc.)</li>
    </ul>
    <p>Looking for the contact information of your seller? </p>
    <p>Just reply directly to <a href="204-get-to-know-your-gumroad-receipt.html">your receipt email</a>:</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/SwHF1nnGQyAF2hlCOTYXKC_V6vWV6Pr4VcY4HE7mcew6do15PR9a7Yg5zqec9m6qC7CW2jk6BFncJuUszTodbr2sNIiZ8hm-8JOaNTLTWyVImB82ob885Rp7j13wiCGxPMTAF-bFLk3jWsDTTdIxGvY" %></figure>
    <p>or look for the "reply-to" field in the receipt.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624be8d0bf4c8f642be9d6aa/file-1oJLfQp4m0.png" %></figure>
    <p>If the creator is unresponsive, please <a href="196-contact-gumroad.html" target="_self">Contact Gumroad</a>. </p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="190-how-do-i-get-a-refund.html"><span>How do I get a refund?</span></a></li>
      <li><a href="192-how-do-i-cancel-my-membership.html"><span>How do I cancel my membership?</span></a></li>
      <li><a href="204-get-to-know-your-gumroad-receipt.html"><span>Get to know your Gumroad receipt</span></a></li>
      <li><a href="217-i-have-extra-charges-from-gumroad-after-my-purchase.html"><span>I have extra charges from Gumroad after my purchase</span></a></li>
    </ul>
  </div>
</div>
