<% @description = "When you attempt to make a charge with Gumroad, we send over a request to your issuing bank for either a $0 or $1 authorization (depending on the bank) to verif" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>When you attempt to make a charge with Gumroad, we send over a request to your issuing bank for either a $0 or $1 authorization (depending on the bank) to verify the card.</p>
    <p>The authorization request is reversed immediately, and is not a permanent charge. Some people may still see it on their credit card statement, but rest assured that it will disappear in anywhere from a few minutes to a few weeks.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="191-a-guide-to-buying-on-gumroad.html"><span>A guide to buying on Gumroad</span></a></li>
      <li><a href="203-why-did-my-payment-fail.html"><span>Why did my payment fail?</span></a></li>
      <li><a href="214-why-was-i-charged-by-gumroad.html"><span>Why was I charged by Gumroad?</span></a></li>
    </ul>
  </div>
</div>
