<% @description = "Your library is the place where you can find all of your Gumroad purchases. You can filter your Library by the product or creator’s name or sort it based on rec" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Your library is the place where you can find all of your Gumroad purchases. You can filter your Library by the product or creator’s name or sort it based on recent activity or purchase date.</p>
    <h3>How do I get a Gumroad library?</h3>
    <p>You don't need an account to make purchases on Gumroad. However, you'd need one if you want to have your library with all of your purchases in a single place.</p>
    <p><a href="https://app.gumroad.com/signup">If you create a new Gumroad account</a>, you can access your library immediately from <a href="https://app.gumroad.com/library">here</a>. Be sure to sign up with the same email address you used to buy products, so your purchases can be automatically synced with your new account.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7bbd9d48f7f58ce212b7b/file-PJ51jIBfWe.png" %></figure>
    <h3>Removing and restoring products</h3>
    <p>In your Gumroad library, simply scroll to the product that you want to archive or delete and click the three dots on the bottom-right that appear when you hover over the product.</p>
    <p>If you want to permanently remove the product, click "Delete permanently".</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7bc68c2f5ed048130c845/file-vA9IglTFdv.gif" %></figure>
    <p>If you simply don't want to see the product in your library but might want to access it later, archive it. </p>
    <p>You can easily see your archived products again by clicking “Show archived only” on the left side of your screen, and unarchive them again from the three-dots menu.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7bc79c2f5ed048130c846/file-hnL4nj8I1W.png" %></figure>
    <h3>The Gumroad mobile app</h3>
    <p>You can also access your Library from our iOS or Android mobile app. <a href="/help/../help.gumroad.com/article/177-the-gumroad-dashboard-app.html" target="_self">Read this article</a> to know all about downloading and using our app!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/654dedfc2d28585006d0164c/file-jcOHcoXhih.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="211-im-not-receiving-updates.html"><span>I'm not receiving updates</span></a></li>
    </ul>
  </div>
</div>
