<% @description = "If issues arise, Gumroad support is here to help. Below is a breakdown of what questions we can help answer and which questions creators answer.  Gumroad can he" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>If issues arise, Gumroad support is here to help. Below is a breakdown of what questions we can help answer and which questions creators answer. </p>
    <table>
      <tbody>
        <tr>
          <td><b>Gumroad can help with</b></td>
          <td><b>Creators handle</b></td>
        </tr>
        <tr>
          <td>Download/Upload issues</td>
          <td>Refunds</td>
        </tr>
        <tr>
          <td>Payment issues</td>
          <td>Product-specific questions and feedback</td>
        </tr>
        <tr>
          <td>Fraudulent purchases</td>
          <td>Physical good shipping information</td>
        </tr>
        <tr>
          <td>Questions about navigating the Gumroad platform</td>
          <td>Licenses</td>
        </tr>
        <tr>
          <td>Terms &amp; Policy questions</td>
          <td>Membership subscription questions</td>
        </tr>
      </tbody>
    </table>
    <p>We hope that our <a href="/help">Help Center</a> can address the majority of your issues, but if not, we will be pleased to assist you.</p>
    <p>To contact us, email <a href="mailto:support@gumroad.com">support@gumroad.com</a></p>
    <h3>Phone support</h3>
    <p>Unfortunately, we don't have the capacity to offer phone support at this time.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="64-is-gumroad-for-me.html"><span>Why choose Gumroad?</span></a></li>
      <li><a href="51-what-is-gumroads-refund-policy.html"><span>Gumroad's refund policy</span></a></li>
      <li><a href="160-suspension.html"><span>Account suspension FAQ</span></a></li>
    </ul>
  </div>
</div>
