<% @description = "We are required by the EU and UK law to collect and remit VAT on all transactions made in the EU and UK respectively. If you are a business with a valid VAT num" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>We are required by the EU and UK law to collect and remit VAT on all transactions made in the EU and UK respectively.</p>
    <p>If you are a business with a valid VAT number, please enter it at the time of checkout and you won’t be charged VAT on the purchase.</p>
    <p>If you’ve already made your purchase without giving your VAT ID, you can request a refund by generating an invoice from your emailed receipt.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65b0e4b487e88924b5fa2015/file-5q7QumzVdW.png" %></figure>
    <p>Enter your VAT ID there and we will automatically initiate a refund for the VAT you paid. The refund will take 2-3 days to show on your statement and the invoice will be displayed without VAT.</p>
    <p>If you need anything else on your invoice, please write it in the "Additional notes" box before you generate your invoice. Gumroad cannot change or adjust invoices, so be sure to add anything your tax office might need there.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b8b7a5a9d61472afe090d1/file-6vYr2YX72h.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="194-i-need-an-invoice.html"><span>I need an invoice</span></a></li>
      <li><a href="212-i-never-received-a-receipt.html"><span>I never received a receipt</span></a></li>
    </ul>
  </div>
</div>
