<% @description = "In this article: TL;DR Blocked by PayPal Blocked by card processor Zip code errors Proxy server issues Browser error Blocked by Gumroad’s risk system Chargeback" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#TLDR-Dgoyd">TL;DR</a></li>
      <li><a href="#Blocked-by-PayPal-Rw9PD">Blocked by PayPal</a></li>
      <li><a href="#Blocked-by-the-card-processor-g9m_w">Blocked by card processor</a></li>
      <li><a href="#Zip-code-errors-VjkqM">Zip code errors</a></li>
      <li><a href="#Proxy-server-issues-5J9hZ">Proxy server issues</a></li>
      <li><a href="#Browser-error-_SZW5">Browser error</a></li>
      <li><a href="#Blocked-by-Gumroads-risk-system-Slrvd">Blocked by Gumroad’s risk system</a></li>
      <li><a href="#Chargeback-against-Gumroad-IvRQH">Chargeback against Gumroad</a></li>
    </ul>
    <hr role="separator">
    <p>When credit card or PayPal purchases fail, it's difficult to determine where along the processing line an error was made.</p>
    <p>Rest assured, Gumroad is always doing its best to take your money... <em>In a good way!</em> We mean that in a good way!</p>
    <p>But here are a few things that may have happened, as well as what you can do to help solve the situation.</p>
    <h3 id="TLDR-Dgoyd">TL;DR</h3>
    <p>If your payment fails on Gumroad, the following steps can be helpful in getting your purchase through:</p>
    <ul>
      <li>Try the purchase in a different browser, or update your browser and try again</li>
      <li>Try the purchase on a different device</li>
      <li>Turn off browser extensions and VPNs and try again</li>
      <li>Contact your card provider or PayPal and ask them if there are any blocks or limitations on your account</li>
    </ul>
    <h3 id="Blocked-by-PayPal-Rw9PD">Blocked by PayPal</h3>
    <p>You may not have sufficient funds on your debit card, or in your PayPal account, to make this transaction go through. PayPal may also be under the impression that your account has been hijacked, and is preventing you from making a purchase.</p>
    <p>Please contact them to move things forward.</p>
    <h3 id="Blocked-by-the-card-processor-g9m_w">Blocked by the card processor</h3>
    <p>Sometimes a bank will flag transactions that happen online. Contact your bank and let them know what's happening. They should be able to whitelist Gumroad so that you can make a purchase.</p>
    <p>We often encounter issues with prepaid or gift cards because these card processors often reject online purchases—this is not something we can fix on our end, unfortunately. You would have to call your card processor to ask them to clear the purchase.</p>
    <h3 id="Zip-code-errors-VjkqM">Zip code errors</h3>
    <p>If you are being asked to enter your Zip or Postal code, that means that your credit card provider is asking you to verify that you know the Zip code attached to your card.</p>
    <p>The Zip code or postal code we need is the one stored by your credit card provider. If you are unsure about this, please contact your credit card provider.</p>
    <h3 id="Proxy-server-issues-5J9hZ">Proxy server issues</h3>
    <p>You are using a proxy server. Please turn off the proxy and attempt the purchase again.</p>
    <h3 id="Browser-error-_SZW5">Browser error</h3>
    <p>Please try the purchase in a different browser.</p>
    <p>If you still experience errors, please download the <a href="http://www.browsehappy.com/?locale=en">latest version</a> of your Internet browser and try again.</p>
    <h3 id="Blocked-by-Gumroads-risk-system-Slrvd">Blocked by Gumroad’s risk system</h3>
    <p>Our risk detectors may have accidentally blocked you from purchasing. Please use "incognito" or "private" mode on your browser, and try the purchase using a different email address.</p>
    <h3 id="Chargeback-against-Gumroad-IvRQH">Chargeback against Gumroad</h3>
    <p>If you charged back against a purchase made on Gumroad in the past, our risk detectors are going to automatically flag your IP address and not let you make a purchase.</p>
    <p>Please contact your payment processor (PayPal, or your bank) and ask them to withdraw the dispute. Once the chargeback is withdrawn successfully, you’ll be able to purchase on Gumroad again.</p>
    <p>If that doesn’t help, please try using a different device, email address, and payment method to make the purchase.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="191-a-guide-to-buying-on-gumroad.html"><span>A guide to buying on Gumroad</span></a></li>
    </ul>
  </div>
</div>
