<% @description = "On a Mac Locate the ZIP file and double-click on it. That's it. A new folder will be created and all unzipped files will be there, ready for use. If you’re tryi" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <h3>On a Mac</h3>
    <p>Locate the ZIP file and double-click on it. That's it. A new folder will be created and all unzipped files will be there, ready for use.</p>
    <p>If you’re trying to open a RAR file, we recommend trying with the free software <a href="https://theunarchiver.com/">The Unarchiver</a>.</p>
    <h3>On a PC</h3>
    <p>Locate the file and right-click on it. Click “Extract all”.</p>
    <p>For RAR files, try downloading and opening the file with <a href="https://www.win-rar.com/download.html?&amp;L=0">WinRAR</a> (it’s free!)</p>
    <h3>On a mobile device</h3>
    <p>Apple and Google have support documents to help you open ZIP files on your mobile or tablet (no third-party software needed!):</p>
    <ul>
      <li>For IOS, see <a href="https://support.apple.com/en-us/102532">this page</a>.</li>
      <li>For Android, see <a href="https://support.google.com/files/answer/9048509?hl=en#zippy=">this page</a>.</li>
    </ul>
    <p>If you can’t open a ZIP file on your mobile or tablet, try using a laptop or desktop or update your device to its latest software update.</p>
    <p>We advise using a laptop or desktop device to open RAR files as they require specific software.</p>
    <h3>Fixing common errors</h3>
    <p>You may see a message about the ZIP file being corrupt, password-protected, or missing some files. Please try downloading the file again from your email receipt and try unzipping again.</p>
    <p>If that doesn’t help, the file is likely corrupt and you’ll have to <a href="195-theres-an-issue-with-my-purchase.html" target="_self">contact the product’s creator</a> to get that fixed!</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="190-how-do-i-get-a-refund.html"><span>How do I get a refund?</span></a></li>
      <li><a href="195-theres-an-issue-with-my-purchase.html"><span>There's an issue with my purchase</span></a></li>
    </ul>
  </div>
</div>
