<% @description = "If you've purchased a .mobi or a PDF file, you can send it to your Kindle directly from your Gumroad Library. Note: ePub files do not work on Kindle for now. If" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>If you've purchased a .mobi or a PDF file, you can send it to your Kindle directly from your Gumroad Library.</p>
    <p><strong>Note:</strong> ePub files do not work on Kindle for now. If you have mistakenly purchased an ePub file and need a PDF, please <a href="195-theres-an-issue-with-my-purchase.html" target="_self">contact the creator</a>. Also, Gumroad can only send files 16 MB in size or smaller. If the “Send to Kindle” button is not appearing in your Library, please verify the size of the file you have purchased.</p>
    <h3>Send from your Gumroad Library</h3>
    <ol>
      <li>From your Amazon account, add <a href="mailto:support@gumroad.com">support@gumroad.com</a> to your "Approved sender list". <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=GX9XLEVV8G4DB28H">Here are the instructions</a> from Amazon.</li>
      <li>Go to the download page of your product from your emailed receipt, or by going to the <a href="https://app.gumroad.com/library" target="_blank">Library</a> if you have a Gumroad account.</li>
      <li>Click on the <strong>Send to Kindle</strong> button.</li>
      <li>Enter your Kindle's email address (you can find this address in your Amazon account by clicking “Your Devices” in the “Manage Your Devices” menu).</li>
    </ol>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7c3c28ce4ac252a8be632/file-i8rUL9mImt.png" %></figure>
    <ol start="5">
      <li>Click the "Send to Kindle" button to send the file to your Kindle.</li>
    </ol>
    <p><strong>Note:</strong> Even if you have added us as an approved sender, Amazon might send a confirmation email to you before it sends the document to your Kindle. So please check your email and approve any pending requests from Amazon.</p>
    <h3>Send as an email attachment</h3>
    <ol>
      <li>Download your Gumroad purchase to your desktop.</li>
      <li>Follow <a href="https://www.amazon.com/gp/help/customer/display.html?ref_=hp_left_v4_sib&amp;nodeId=G7NECT4B4ZWHQ8WV">these steps</a> from Amazon to send as an email attachment.</li>
    </ol>
    <p>For other options, see Amazon's <a href="http://www.amazon.com/gp/sendtokindle">Send To Kindle</a> page.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="210-send-your-purchase-to-dropbox.html"><span>How do I send my purchase to Dropbox?</span></a></li>
    </ul>
  </div>
</div>
