<% @description = "Oftentimes Gumroad customers get so caught up buying all the cool stuff we have on offer that they use multiple email addresses. While we aren't able to \"merge\"" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Oftentimes Gumroad customers get so caught up buying all the cool stuff we have on offer that they use multiple email addresses.</p>
    <p>While we aren't able to "merge" or "combine" accounts, technically speaking, we can consolidate your purchases under one email address.</p>
    <p>Just <a href="mailto:support@gumroad.com">tell us</a> all the email addresses associated with your purchases, and the one you'd like to keep as your primary Gumroad account.</p>
    <p><b>Note:</b> For security verification, you need to write to us from the email address from which you want to transfer the purchases. If you do not have access to this email or are consolidating purchases from several emails, you must provide the following details for at least three purchases from the account(s):</p>
    <ol>
      <li>Name of the product</li>
      <li>Date of purchase</li>
      <li>Payment method: Card brand + last 4 digits (Eg. VISA *1111) or your PayPal ID</li>
    </ol>
    <p>We will transfer your purchases after verifying the above information.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="199-how-do-i-access-my-purchase.html"><span>How do I access my purchase?</span></a></li>
    </ul>
  </div>
</div>
