<% @description = "If you have a Gumroad account, you can easily move your downloads to your Dropbox: Log into your Dropbox account. Go to your Gumroad library and click on the pr" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>If you have a Gumroad account, you can easily move your downloads to your Dropbox:</p>
    <ol>
      <li>Log into your <a href="https://www.dropbox.com/login">Dropbox account</a>.</li>
      <li>Go to <a href="http://www.gumroad.com/library">your Gumroad library</a> and click on the product that you’d like to send to Dropbox. You can also go to the download link in your email receipt.</li>
      <li>Click “Download all”, then “Save to Dropbox” from the dropdown on the top-right. Since you are logged into Dropbox, you will be able to choose the folder where you want to store the files.</li>
    </ol>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7c4f2a9d61472afe08fe4/file-upjqsLmSZE.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="193-my-purchase-isnt-downloading.html"><span>My purchase isn't downloading</span></a></li>
      <li><a href="208-how-do-i-send-my-gumroad-purchase-to-my-kindle.html"><span>How do I send my purchases to Kindle?</span></a></li>
    </ul>
  </div>
</div>
