<% @description = "If you are not receiving updates from a product you subscribed to, you may have inadvertently opted out of receiving all communication from the creator. To fix " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>If you are not receiving updates from a product you subscribed to, you may have inadvertently opted out of receiving all communication from the creator.</p>
    <p>To fix this, go to <a href="204-get-to-know-your-gumroad-receipt.html" target="_self">your receipt</a>, which you can find:</p>
    <ol>
      <li>In your email inbox</li>
      <li>By going to your <a href="https://app.gumroad.com/library">Gumroad library</a> (if you have a Gumroad account)</li>
      <li>By checking for your purchase <a href="https://gumroad.com/charge">here</a></li>
    </ol>
    <p>Then click “Unsubscribe” in the receipt’s footer.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624c282f56ed31630f6ed9a5/file-XzaFg8H3IH.png" %></figure>
    <p>Click “here” on the next page to resubscribe.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624c2856309f633fb1e2a5e5/file-LLT2yZTxUt.png" %></figure>
    <h3>Check your Library</h3>
    <p>To see all of your product updates, <a href="https://app.gumroad.com/signup">create a Gumroad account</a> with the same email as your purchases (if you don't have an account already).</p>
    <p>In your <a href="https://app.gumroad.com/library">Library</a>, you can quickly access all of your purchases and any updates associated with them. Just click on the product's card and you'll see the product's up-to-date files and posts.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="198-your-gumroad-library.html"><span>Your Gumroad Library</span></a></li>
      <li><a href="195-theres-an-issue-with-my-purchase.html"><span>There's an issue with my purchase</span></a></li>
    </ul>
  </div>
</div>
