<% @description = "When you get to the checkout form, click the “Give as a gift” toggle to allow for gifting. Just below the recipient's email, you will also see the option to sen" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>When you get to the checkout form, click the “Give as a gift” toggle to allow for gifting.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7a7afa9d61472afe08fc6/file-OZxynL0R3m.png" %></figure>
    <p>Just below the recipient's email, you will also see the option to send a personal message to the person you are gifting.</p>
    <p>Once you’ve gifted the product successfully, we’ll email you a receipt and the person you gifted it to will receive an email with the product’s download link and your personalized message.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7a7b9d48f7f58ce212b61/file-PN8ache6zw.png" %></figure>
    <p>To send a previously purchased item as a gift, simply return to the URL of the product, click “Purchase again”, and toggle the gift option to send as a gift.</p>
    <h3>Gifting Membership</h3>
    <p>You can gift a membership to someone for the first charge of a certain subscription period (1 month, 3 months, etc.). The membership will not auto-renew. The gift recipient must update the payment method from their receipt to renew the membership. </p>
    <h3>Restrictions</h3>
    <ul>
      <li>You cannot gift more than one product in the cart at a time</li>
    </ul>
  </div>
</div>
