<% @description = "Gumroad is a digital commerce platform that enables writers, musicians, filmmakers, designers, etc. to easily sell their products online. We provide payment pro" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <br>
    <p>Gumroad is a digital commerce platform that enables writers, musicians, filmmakers, designers, etc. to easily sell their products online. We provide payment processing and file delivery, but many customers might not realize they're using us—Gumroad—when purchasing a product.</p>
    <p>It is likely that you bought a product from one of these creators. Please check your email inboxes for receipts from Gumroad. If you don't recognize the charge on your card, you can also search for it <a href="http://www.gumroad.com/charge">here</a>.</p>
    <p>Can't locate it there? <a href="196-contact-gumroad.html" target="_self">Contact us</a> with the following details:</p>
    <h3>If the charge was on your credit card</h3>
    <ol>
      <li>Last 4 digits of the card</li>
      <li>The type of card (Amex / Mastercard / Visa etc.)</li>
      <li>The card’s expiration date (MM/YYYY)</li>
      <li>Charge amount (USD) and date</li>
    </ol>
    <h3>If the charge was on your PayPal account</h3>
    <p>Please send us the Invoice ID of the transaction.</p>
    <p>The invoice ID can be found by going to PayPal's statement regarding this charge and looking for something like this: <strong>ZvUKFOVCH9fwLiHzE3AHpg==</strong> (A string of letters and numbers followed by two equal signs).</p>
    <p>With this information, we will be able to locate your charge and help you with the next steps.</p>
    <p>We will refund the charge if it turns out to be fraudulent.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="189-safe-gumroad-buying.html"><span>Safe buying on Gumroad</span></a></li>
      <li><a href="191-a-guide-to-buying-on-gumroad.html"><span>A guide to buying on Gumroad</span></a></li>
      <li><a href="196-contact-gumroad.html"><span>How do I contact Gumroad?</span></a></li>
      <li><a href="204-get-to-know-your-gumroad-receipt.html"><span>Get to know your Gumroad receipt</span></a></li>
    </ul>
  </div>
</div>
