<% @description = "If you want to find out when your purchase will be shipped, please contact the product's creator. The creator should be able to answer all shipping and product-" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>If you want to find out when your purchase will be shipped, please contact the product's creator. The creator should be able to answer all shipping and product-related questions.</p>
    <p>You can find the creator's contact information in the reply-to section on your email receipt:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624bdbc8c1688a6d26a7d249/file-3RIJel8kqd.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="190-how-do-i-get-a-refund.html"><span>How do I get a refund?</span></a></li>
      <li><a href="286-how-do-i-report-a-gumroad-creator.html"><span>Report a Gumroad creator</span></a></li>
    </ul>
  </div>
</div>
