<% @description = "You can remove your saved credit card or PayPal account from the bottom of the payment settings page. Note: You cannot delete your saved payment information if " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>You can remove your saved credit card or PayPal account from the bottom of the <a href="https://app.gumroad.com/settings/payments">payment settings</a> page.</p>
    <p><b>Note:</b> You cannot delete your saved payment information if there’s an active <a href="278-guide-to-memberships.html">membership</a> on it. To do so, you must first cancel your membership and wait for the billed period to complete.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64c09ddc57a4e8315e721e19/file-nbVxZc5hmP.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="189-safe-gumroad-buying.html"><span>Safe buying on Gumroad</span></a></li>
      <li><a href="203-why-did-my-payment-fail.html"><span>Why did my payment fail?</span></a></li>
    </ul>
  </div>
</div>
