<% @description = "All purchases made on Gumroad, regardless of the currency they are displayed in, are processed in USD ($). Often, payment processors will charge an internationa" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>All purchases made on Gumroad, regardless of the currency they are displayed in, are processed in USD ($). Often, payment processors will charge an international transaction fee and add this to your purchase.</p>
    <p>Please contact your payment processor (Bank, PayPal, etc.) for additional details.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="191-a-guide-to-buying-on-gumroad.html"><span>A guide to buying on Gumroad</span></a></li>
      <li><a href="203-why-did-my-payment-fail.html"><span>Why did my payment fail?</span></a></li>
      <li><a href="214-why-was-i-charged-by-gumroad.html"><span>Why was I charged by Gumroad?</span></a></li>
      <li><a href="197-why-do-i-have-a-1-charge-from-gumroad.html"><span>Why do I have a $1 charge from Gumroad?</span></a></li>
    </ul>
  </div>
</div>
