<% @description = "In this article: Get customers to leave a rating View your ratings Organize products by rating on your profile How to remove ratings Customers can rate and leav" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Get-customers-to-leave-a-rating-7nCEs" target="_self">Get customers to leave a rating</a></li>
      <li><a href="#View-your-ratings-Zu3nD" target="_self">View your ratings</a></li>
      <li><a href="#add-reviews" target="_self">Add reviews to product descriptions</a></li>
      <li><a href="#Organize-products-by-rating-on-your-profile-X_tME" target="_self">Organize products by rating on your profile</a></li>
      <li><a href="#remove" target="_self">How to remove ratings</a></li>
    </ul>
    <p>Customers can rate and leave a written review for your products within one year of their purchase.</p>
    <p>Ratings are visible on both the profile page and the individual product pages:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65dd847f93e735297b4ecc37/file-ybqNpubOtg.png" %></figure>
    <h3 id="Get-customers-to-leave-a-rating-7nCEs">Get customers to leave a rating</h3>
    <p>Guide your customers to the <a href="https://app.gumroad.com/reviews">Reviews page</a> in their Library, where they can rate and review your products. They can also return to this page later to view and update their reviews. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6644afe7f8a4cf663fcc4e9a/file-X6McMzBfHo.png" %></figure>
    <p>Alternatively, customers can also leave a review on the product's content page, or from the product page if they are logged in to Gumroad.</p>
    <p>For memberships with <a href="82-membership-products.html#FreeTrials">free trials</a>, reviews are allowed only after the first successful charge and not when the free trial begins.</p>
    <p>We automatically send a reminder email to customers who have yet to leave a review 5 days after their purchase, but customers can unsubscribe from these emails. You can also solicit reviews by <a href="169-how-to-send-an-update.html">sending an email</a> or <a href="131-using-workflows-to-send-automated-updates.html">creating a workflow</a> targeting only the customers of a specific product.</p>
    <p>We also notify you via email when a written review is submitted for your product. However, you can turn off these notifications in your <a href="https://app.gumroad.com/settings/">settings</a>.</p>
    <h3 id="View-your-ratings-Zu3nD">View your ratings</h3>
    <p>If a customer has left you a rating, you can view it in the customer's drawer on your <a href="https://app.gumroad.com/customers/">Sales dashboard</a>. You can also respond to their review by clicking "Respond".</p>
    <p>This can be a great tool to alert dissatisfied customers to unanswered attempts to reach out and update potential customers on product fixes to previous issues.</p>
    <p>You can also <a href="74-the-analytics-dashboard.html#sales-csv">export a sales CSV</a> and find the ratings in the "Rating" column.</p>
    <h3 id="add-reviews">Add reviews to product descriptions</h3>
    <p>You can embed reviews to your product descriptions by taking the following steps:</p>
    <ol>
      <li>Go to your product's description editor</li>
      <li>Click Insert and select Reviews from the dropdown menu</li>
      <li>Choose the review(s) you want to add</li>
      <li>Drag and reposition the review to your liking</li>
    </ol>
    <h3 id="Organize-products-by-rating-on-your-profile-X_tME">Organize products by rating on your profile</h3>
    <p>You can organize your products by rating on your profile page by selecting "Highest rated" as the default sort order on <a href="124-your-gumroad-profile-page.html">your profile page</a>.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65dd84ff93e735297b4ecc38/file-umPZYuDt5H.png" %></figure>
    <h3 id="remove">How to remove ratings</h3>
    <p>You can refund a purchase to remove its rating. For membership purchases, you just need to refund the original charge and not all the recurring charges. In case of a free download, you can <a href="329-customer-moderation.html">revoke its access</a> to remove the rating.</p>
    <p>Issuing a partial refund will not remove a customer's rating.</p>
    <p>A refunded purchase will no longer be counted towards the product's average rating calculation, however, it will still be visible in your sales dashboard.</p>
    <p>You can also ask customers to re-rate your product.</p>
    <p>To stop ratings from being visible on your product, simply go to the product's edit page, Share tab, and scroll down to the Discover settings. There, you can toggle whether or not your ratings are displayed. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61c1aa8e9081120970361423/file-amuUuJepLE.png" %></figure>
    <p>Customers <em>can still rate your products</em>, but those ratings will be private. </p>
    <p>Be aware that when you do this, your product will <strong>not show up</strong> in the <a href="79-gumroad-discover.html" target="_self">Discover search</a> anymore. </p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
    </ul>
  </div>
</div>
