<% @description = "We get asked fairly often by new and prospective Gumroad creators whether or not they can be paid out via Payoneer or Transferwise The answer, as of right is:  " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p> We get asked fairly often by new and prospective Gumroad creators whether or not they can be paid out via Payoneer or Transferwise <br>
      <br>
      The answer, as of right is: </p>
    <h3>No. We do not pay out creators via Payoneer or Transferwise</h3>
    <p> There is no wiggle room on this. The way that our bank payouts system is built, if you were to set up a Payoneer account in your payouts settings, <em>we would not be able to pay you</em>. Many creators have attempted this, and <em>none of them</em> have been paid out properly. They are forced to create new accounts, set up under a PayPal payout. </p>
    <p> When this changes, we will change this page and all related pages. You can keep up to date on any new Gumroad features, including changes in our payouts, <a href="https://gumroad.gumroad.com/posts" target="_blank">here</a>.<br>
      <br>
      To summarize our rules about payouts: </p>
    <p> If you <strong>live</strong> (as in, have an address and the proper identification) in one of <a href="13-getting-paid.html#weekly">these countries</a>, you <i style="background-color: initial; font-weight: bold;">can only </i>be paid out to a bank account. You can <strong style="background-color: initial;">also </strong>choose to <a href="275-paypal-connect.html" target="_blank">connect your PayPal account</a> to receive instant payments whenever a customer pays with PayPal </p>
    <p> If you live anywhere else on the planet Earth, you <strong><em>can only</em></strong> be paid out using a PayPal account. </p>
    <p> If we can't pay you out with PayPal, then you cannot use Gumroad. </p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="13-getting-paid.html"><span>Getting paid by Gumroad</span></a></li>
    </ul>
  </div>
</div>
