<% @description = "In this article: Navigating your Library Archiving or deleting products What is the Gumroad app? FAQs When your customers purchase a product on Gumroad, it will" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Navigating-your-Library-a2ml9">Navigating your Library</a></li>
      <li><a href="#Archiving-or-Deleting-Products-c-hlh">Archiving or deleting products</a></li>
      <li><a href="#What-is-the-Gumroad-Library-app-x5AtC">What is the Gumroad app?</a></li>
      <li><a href="#FAQs-bQduz">FAQs</a></li>
    </ul>
    <hr role="separator">
    <p>When your customers purchase a product on Gumroad, it will appear in their <a href="https://app.gumroad.com/library">Library</a>. They can access their Library by clicking the Library button on the side navigation bar. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/657b106de020fe4b2fcaef62/file-L4zbp1IbAb.gif" %></figure>
    <h3 id="Navigating-your-Library-a2ml9">Navigating your Library</h3>
    <p>Your customer's purchases can be sorted and filtered from their library panel.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/657b10a875eb4a5f70498b0a/file-UGMQiT49wM.gif" %></figure>
    <p>To access the content they purchased from you, they will simply click on your product's tile, and a window will appear directing them to the content inside.</p>
    <p>Inside the product, your customers can also see a list of exclusive posts associated with your product.</p>
    <h3 id="Archiving-or-Deleting-Products-c-hlh">Archiving or deleting products</h3>
    <p>When customers no longer want a product in their Library, they can archive it or delete it.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61a0bf13efc78d0553e5de88/file-wTDWW1hpen.gif" %></figure>
    <h3 id="What-is-the-Gumroad-Library-app-x5AtC">What is the Gumroad app?</h3>
    <p>You can also access your Library from our iOS or Android mobile app. <a href="177-the-gumroad-dashboard-app.html" target="_self">Read this article</a> to know all about downloading and using our app! </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/654dedfc2d28585006d0164c/file-jcOHcoXhih.png" %></figure>
    <h3 id="FAQs-bQduz">FAQs</h3>
    <p><b>Q: Why doesn't my purchase show up in the app?</b></p>
    <p>A: It is possible that the product you purchased is not mobile-friendly. For example, a ZIP file might need to be opened on your desktop. Or a Mobi file. Essentially, the product does not contain a file that can be read, watched, or listened to on our app. </p>
    <p><b>Q: Files are missing from my library!</b></p>
    <p>A: Email Gumroad's Support team from the email address you purchased with, and mention the name of the missing product in your email. We will gladly add this product manually to your library! If the file is not mobile-friendly, however, we cannot add it to your library.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="177-the-gumroad-dashboard-app.html"><span>Gumroad mobile app</span></a></li>
    </ul>
  </div>
</div>
