<% @description = "In this article: How to unpublish a product How to delete a product After deleting the product Deleting a membership product How to unpublish a product To unpub" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#How-to-unpublish-a-product-O3J0X" target="_self">How to unpublish a product</a></li>
      <li><a href="#How-to-delete-a-product-xArOg" target="_self">How to delete a product</a>
        <ul>
          <li><a href="#After-deleting-the-product-jT6vp" target="_self">After deleting the product</a></li>
          <li><a href="#Deleting-a-membership-product-mwaed" target="_self">Deleting a membership product</a></li>
        </ul>
      </li>
    </ul>
    <h3 id="How-to-unpublish-a-product-O3J0X">How to unpublish a product</h3>
    <p>To unpublish a product, </p>
    <ol>
      <li>Go to your <a href="https://app.gumroad.com/products/">Product's Dashboard</a>, </li>
      <li>Select the product you'd like to unpublish </li>
    </ol>
    <p>Click the Unpublish button on the top of the page.</p>
    <figure><%= image_tag "https://lh3.googleusercontent.com/mgXG62eOz04eP2MJguqg7QAHz7KciiZQM8kEIUg3qMxo1j79HCWbnee-n54ndZaCGCPaGCmmY_IpS4r9sXYwWkSBEs-bZf0Hi0mybQXfdG7iZ1PVOFdN8y_E82k0RV6bTDdtNdjyzDO1Pwhw5A", width: 624, height: 313 %></figure>
    <p>When you unpublish your product:</p>
    <ol>
      <li>Customers are no longer able to purchase it.</li>
      <li>The product is removed from Gumroad Discover.</li>
    </ol>
    <p>Unpublishing does not delete your product or any data associated with it. Your product will remain the same as how you designed it; this simply removes the product from the customer-facing view.</p>
    <p>Customers who have bought the product will still be able to access their files. </p>
    <h3 id="How-to-delete-a-product-xArOg">How to delete a product</h3>
    <p>To delete one of your products, go to your <a href="http://www.gumroad.com/products">Product Dashboard</a>, hover your mouse over the status, and then click the red Delete button that shows up on the right. Once deleted, you will have a few minutes to undo that action from the footer of the same page.</p>
    <figure><%= image_tag "https://lh6.googleusercontent.com/xYZo5XWx-otQ8Pr6Kns3f-EFxTyQ_M_MmFE35lh8JJ_dn7IDhZUTzOshf2Te3bl30y8PYj0pzSuyrxDApb-OkCjTofuB64eMOal7uzP95pSRwGmfGA5e_TrDCPXU50oahmyU7EY9FPqpQFThZw", width: 624, height: 256 %></figure>
    <p>If you have lingering doubts about nixing the product, <a href="20-how-do-i-contact-gumroad.html">contact us</a>, and we can restore it for you. </p>
    <h3 id="After-deleting-the-product-jT6vp">After deleting the product</h3>
    <p>Your customers will still have access to the files they purchased, but you will not be able to see them in your Audience tab. They will also not show up in the <a href="74-the-analytics-dashboard.html">exportable CSV of your sales</a>. </p>
    <h3 id="Deleting-a-membership-product-mwaed">Deleting a membership product</h3>
    <p>Deleting a membership product cancels everyone's subscription. </p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
    </ul>
  </div>
</div>
