<% @description = "As long as you have not purchased a membership on Gumroad, you will not be automatically charged again for the same product. Recurring charges only occur for me" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>As long as you have not purchased a membership on Gumroad, you will not be automatically charged again for the same product. Recurring charges only occur for membership products, and you can cancel them anytime you wish.</p>
    <p>If you are still seeing a “Recurring” message for one of your non-membership purchases, it is wrong and you can safely ignore that. Read along if you still wish to know why that might be happening.</p>
    <h3>Recurring charge on your card statement</h3>
    <p>Sometimes banks assign a "recurring" designation to one-time charges when our payment processor (Stripe) <a href="https://support.stripe.com/questions/non-recurring-charges-show-as-recurring-on-customer-bank-statements">securely saves</a> your payment information for future use, allowing you to purchase without re-entering your CVC code each time.</p>
    <p>The "recurring" flag only means that the card was saved for future charges.</p>
    <h3>Recurring charge on PayPal</h3>
    <p>If you've tried paying for a product on Gumroad using PayPal, you were probably hit with a message about allowing recurring payments from Gumroad.</p>
    <p>Apologies for any confusion. This ham-fisted messaging lacks any nuance or explanation for what their policy entails.</p>
    <p>Here's what their messaging should have said:</p>
    <p>"If you buy a product on Gumroad using PayPal, <em>and</em> create an account on Gumroad after that purchase, <em>and</em> save your PayPal information in Gumroad, <em>and</em> later log in to your Gumroad account and go to buy another product on Gumroad… <em>then</em> you would not have to log into PayPal to buy this product. It would be a one-click purchase."</p>
    <p>So really it’s just about making your future purchases more frictionless.</p>
    <p>There are no unauthorized recurring payments on Gumroad.</p>
  </div>
</div>
