<% @description = "In this article: Transferring products or customers Transferring purchases Transferring ownership of account Yes, you can have as many Gumroad accounts as you w" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#Combining-products-or-customers-Ns2_e" target="_self">Transferring products or customers</a></li>
      <li><a href="#Combining-purchases--ckcP" target="_self">Transferring purchases</a></li>
      <li><a href="#Transferring-ownership-of-account-fk2W3" target="_self">Transferring ownership of account</a></li>
    </ul>
    <br>
    <p><b>Yes, you can have as many Gumroad accounts as you want</b>, and they can pay out to the same bank or PayPal account (depending on where you are on the globe - more info <a href="13-getting-paid.html">here</a>).</p>
    <p>Each account would have to be logged into with a unique email address, and unfortunately, you cannot share Twitter logins across accounts. So, if you have your Twitter or email account connected to one account, you cannot also have it connected to your second account.</p>
    <p>Just to make this very clear: We do not offer multiple logins for the same account. If you are sharing an account with someone else (your accountant, assistant, partner, etc.), you would both need to log in using the same credentials or add them to your <a href="326-teams-and-roles.html">team</a>.</p>
    <h3 id="Combining-products-or-customers-Ns2_e">Transferring products or customers</h3>
    <p>A common question creators ask is if they can combine (or transfer) their: </p>
    <ul>
      <li>products</li>
      <li>customers</li>
      <li>sales and payout history</li>
      <li>posts</li>
      <li>workflows</li>
      <li>affiliates</li>
      <li>analytics</li>
      <li>etc.</li>
    </ul>
    <p><b>Unfortunately, the answer is no. </b></p>
    <p>Everything needs to be created from scratch due to technical limitations, sorry.</p>
    <h3 id="Combining-purchases--ckcP">Transferring purchases</h3>
    <p>While we aren't able to "merge" or "combine" accounts, technically speaking, we can transfer all of your purchases to one email address.</p>
    <p>Click the "Contact Us" button below and provide: </p>
    <ul>
      <li>All the email addresses associated with your purchases</li>
      <li>The email address you'd like to keep as your primary Gumroad account.</li>
    </ul>
    <p><b>Note:</b> For security verification, you need to write to us from the email address from which you want to transfer the purchases. If you do not have access to this email or are consolidating purchases from several emails, you must provide the following details for at least <b>three</b> purchases from the account(s):</p>
    <ol>
      <li>Name of the product</li>
      <li>Date of purchase</li>
      <li>Payment method: Card brand + last 4 digits (Eg. VISA *1111) or your PayPal ID</li>
    </ol>
    <p>We will transfer your purchases after verifying the above information.</p>
    <h3 id="Transferring-ownership-of-account-fk2W3">Transferring ownership of account</h3>
    <p>To transfer ownership of your Gumroad account:</p>
    <ol>
      <li>The current owner will need to change the account’s email address to the new owner's email address from the <a href="https://app.gumroad.com/settings%5C">settings</a>.</li>
      <li>The new owner will need to update the <a href="https://app.gumroad.com/settings/payments">payments settings</a> to their own. This includes updating the compliance and PayPal or bank account information. Changing the account’s country may require you to forfeit your existing balance.</li>
    </ol>
    <p>Please remember that all the products, followers, and sales data will remain intact during this process.</p>
  </div>
</div>
