<% @description = "Requirements: You must be 18 or older or get permission to use your legal guardian’s details. Use your full legal name (including any middle name) and/or full b" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>Requirements:</strong></p>
    <ul>
      <li>You must be 18 or older or get permission to use your legal guardian’s details.</li>
      <li>Use your full legal name (including any middle name) and/or full business name.</li>
      <li>Must use a physical address, no PO boxes.</li>
    </ul>
    <h3>Choosing your account type</h3>
    <p>First, choose how you will operate – either as an individual or as a business:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63b6b07ebfe3f971fb093bce/file-IGvUdtWuhl.png" %></figure>
    <p>Choose ‘Individual’ if you operate under your name (effectively as a sole proprietor) or do not have business registration documents. </p>
    <p>Conversely, choose ‘Business’ if you already have business registration documents. </p>
    <p>For businesses, the person on the Gumroad account acts as the ‘business representative’ and will need to submit registration documents and personal identification details, as well.</p>
    <h3>A. Identity verification (for bank payouts)</h3>
    <p>*If you only see PayPal as your payout option, skip to B.</p>
    <p>Gumroad uses <a href="http://www.stripe.com/">Stripe</a> to process all credit card payments and bank payouts, and we are subject to Stripe’s policies and regulations. Stripe is required to follow <a href="https://support.stripe.com/questions/know-your-customer-obligations">Know Your Customer obligations</a> which tailor account verifications by country. </p>
    <p>At some point, Stripe will request several of the following:</p>
    <ul>
      <li>Your date of birth, legal name, phone number, and address</li>
      <li>A government ID number (e.g., SSN or your country’s national ID)</li>
      <li>A scan or image of your photo ID (passport, driver’s license, or ID). <a href="https://support.stripe.com/questions/passport-id-or-drivers-license-upload-requirement">Read why.</a></li>
      <li>Company Tax ID and business registration document (if applicable)</li>
      <li>Proof of home address (recent utility bill, bank statement, rental agreement, etc.)</li>
      <li>Phone number</li>
    </ul>
    <p>All information added and uploaded to Gumroad is encrypted and passed to Stripe for verification purposes. Unless you need help and email us your ID, Gumroad’s team will never see your submitted documents or banking information, nor will those be exposed to 3rd parties.</p>
    <h3>US tax ID numbers</h3>
    <p>If you're <a href="https://support.stripe.com/questions/tax-id-verification-guidelines-by-business-type-in-the-us">in the USA</a>, your Tax ID is usually the Employer Identification Number (EIN) assigned by the IRS. For individuals/sole proprietorships, you can provide your SSN if you don't have an EIN. For additional information on what name and TIN to provide, please see instructions on the <a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf">IRS Form W-9</a>.</p>
    <p>For other countries, you can go through the list of Tax IDs accepted by our payment processor (Stripe) <a href="https://stripe.com/docs/tax/tax-ids#supported-tax-ids">here</a>.</p>
    <h3>B. Identity verification (for PayPal payouts)</h3>
    <p>If you don't have bank payouts in your settings, simply add your name, address, phone number, and active PayPal account email. You do not need to submit an ID or other documents for PayPal payouts.</p>
    <p>Both personal and business PayPal accounts are acceptable.</p>
    <h3>Frequently asked questions: </h3>
    <p><strong>Q: Can I choose not to enter my information into the payout settings?</strong></p>
    <p>A: No. You must fill out the payout settings.</p>
    <p><strong>Q: Can I change from bank payouts to PayPal payouts?</strong></p>
    <p>A: No.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="275-paypal-connect.html"><span>Adding PayPal to checkout</span></a></li>
      <li><a href="330-stripe-connect.html"><span>Connect your Stripe account to Gumroad</span></a></li>
    </ul>
  </div>
</div>
