<% @description = "In this article: PayPal is blocking their purchase Credit Card Provider is blocking their purchase Zip Code errors Proxy Server Browser Error Our risk system is" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#PayPal-Is-Blocking-their-Purchase-25EcI">PayPal is blocking their purchase</a></li>
      <li><a href="#Their-Credit-Card-Provider-Is-Blocking-the-Purchases-g_LMU">Credit Card Provider is blocking their purchase</a></li>
      <li><a href="#Zip-Code-Errors-Ty_Jl">Zip Code errors</a></li>
      <li><a href="#Proxy-Server-R5v0c">Proxy Server</a></li>
      <li><a href="#Browser-Error-eQ_zt">Browser Error</a></li>
      <li><a href="#Our-Risk-System-Is-Blocking-the-Purchase-xPLoE">Our risk system is blocking their purchase</a></li>
      <li><a href="#They-Issued-a-Chargeback-Against-Gumroad-in-the-Past-fatJg">Previous Chargeback</a></li>
    </ul>
    <br>
    <p>We want to make it easy for you to sell your products on Gumroad, which is why we offer multiple payment options. They can pay using credit/debit cards or <a href="275-paypal-connect.html">PayPal, if enabled by the creator</a>. Gumroad takes care of all the risk and processing, so you don't have to worry about it!</p>
    <p>That said, online payments are not as hassle-free as they ought to be, and there are a variety of reasons why a customer's purchase might fail. </p>
    <p>The best way to handle a payment error is to have your customer <a href="20-how-do-i-contact-gumroad.html">contact us</a> directly or for you to email us with them CC'ed. </p>
    <p>Here are the most common reasons why a payment error occurred:</p>
    <h3 id="PayPal-Is-Blocking-their-Purchase-25EcI">PayPal Is Blocking their Purchase</h3>
    <p>Sometimes, customers may not have sufficient funds in their card or PayPal account to complete a transaction. PayPal may detect suspicious activity on their account and prevent them from making a purchase. In this case, your customer will need to contact PayPal's support team to resolve the issue and complete the transaction.</p>
    <h3 id="Their-Credit-Card-Provider-Is-Blocking-the-Purchases-g_LMU">Their Credit Card Provider Is Blocking the Purchases</h3>
    <p>Sometimes a bank will flag transactions that happen online (usually for small amounts). They can contact their bank and let them know what's happening. They should be able to whitelist Gumroad so that they can make a purchase.</p>
    <h3 id="Zip-Code-Errors-Ty_Jl">"Zip Code" Errors</h3>
    <p>If they are being asked to enter their ZIP or Postal code, that means that their credit card provider is asking them to verify that they know the ZIP code attached to their card. This is an identity verification check - the card provider is making sure the card user is the card owner. </p>
    <p>The ZIP Code or Postal code we need is the one stored by their credit card provider. They can contact their credit card provider if they are unsure about what it is.</p>
    <h3 id="Proxy-Server-R5v0c">Proxy Server</h3>
    <p>If they're using a proxy server, they'll need to turn off the proxy and attempt the purchase again. </p>
    <h3 id="Browser-Error-eQ_zt">Browser Error</h3>
    <p>They'll need to try purchasing in a different browser. If they still experience errors, they'll need to download the <a href="http://www.browsehappy.com/?locale=en">latest version</a> of their Internet browser and try again.</p>
    <h3 id="Our-Risk-System-Is-Blocking-the-Purchase-xPLoE">Our Risk System Is Blocking the Purchase</h3>
    <p>Our risk detectors may have accidentally blocked them from purchasing. If this is the case, they can often use "incognito" or "private" mode on their browser or try the purchase using a different email address.</p>
    <h3 id="They-Issued-a-Chargeback-Against-Gumroad-in-the-Past-fatJg">They Issued a Chargeback Against Gumroad in the Past</h3>
    <p>If they <a href="134-how-does-gumroad-handle-chargebacks.html">charged back against a purchase made on Gumroad</a> in the past, our risk detectors are going to automatically flag their IP address and payment method and not let them purchase on Gumroad again. To get around this restriction without dropping the chargeback, they need to take these steps::</p>
    <ol>
      <li>Purchase again in a browser that's in Incognito mode, or a different browser.</li>
      <li>Use a different email address to make the purchase. </li>
      <li>Use a different card or PayPal account</li>
    </ol>
    <p>Purchase errors are rare on Gumroad, but they <span>do </span>happen, and more likely than not you will be contacted by a desperate customer at some point, pleading for you to take their money. If that's the case, simply direct them to <a href="https://gumroad.com/help/article/266-why-are-my-customers-purchases-failing.html">this page</a> or contact us!</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="282-how-do-purchases-work-for-my-customers.html"><span>How Gumroad works for customers</span></a></li>
    </ul>
  </div>
</div>
