<% @description = "In this article: Overview Set up Payouts page Refunds Chargebacks Sales tax and payment details Sales tax refunds Affiliates and PayPal Connect Privacy NSFW acc" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <h3>In this article:</h3>
    <ul>
      <li><a href="#overview">Overview</a></li>
      <li><a href="#setup">Set up</a></li>
      <li><a href="#balancepage">Payouts page</a></li>
      <li><a href="#refunds">Refunds</a></li>
      <li><a href="#chargebacks">Chargebacks</a></li>
      <li><a href="#salestaxpay">Sales tax and payment details</a>
        <ul>
          <li><a href="#taxrefund">Sales tax refunds</a></li>
        </ul>
      </li>
      <li><a href="#affiliates">Affiliates and PayPal Connect</a></li>
      <li><a href="#privacy">Privacy</a></li>
      <li><a href="#nsfw">NSFW accounts</a></li>
      <li><a href="#review">PayPal account under review</a></li>
      <li><a href="#disconnect">Disconnect your PayPal account</a></li>
    </ul>
    <h3 id="overview">Overview</h3>
    <p>You can allow customers to pay with PayPal by setting up PayPal Connect in your Gumroad checkout. While optional, this gives buyers another payment method and can also improve conversions.</p>
    <p>It’s available to all creators from countries where PayPal operates, except Brazil, India, Israel, Japan, Federated States of Micronesia, and Türkiye.</p>
    <p>Additionally, amounts arrive from your buyer’s email in the default currency of your PayPal account.</p>
    <h3 id="setup">Set up </h3>
    <p>Go to the <a href="https://app.gumroad.com/settings/payments">‘Payments’</a> tab. You will be prompted to enter your PayPal email and validate the integration.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63b6adcfe0d50f5555840132/file-MJi0aQm9sf.png" %></figure>
    <p>If you are using a VPN and experiencing difficulties, please disconnect the VPN and try again.</p>
    <p>You may encounter the following message when attempting to connect your PayPal: </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65e4891ae1b84509927922ff/file-bCiZT0gZdi.png" %></figure>
    <p>This message means that you must first connect your bank account, Stripe account, or PayPal account in the section above, then click “Update Settings” before you will be able to click the “Connect with PayPal” button. </p>
    <h3 id="balancepage">Payouts page</h3>
    <p>Since PayPal sales arrive immediately in your PayPal, they are also on the <a href="https://app.gumroad.com/payouts">Payouts page</a> under ‘PayPal Payouts.’ What looks suspiciously like a “PayPal fee” is the amount already paid out to your connected PayPal account at the time of sale.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63b6aed4b31bcd14df2c40e8/file-tV621SjyeU.png" %></figure>
    <h3 id="refunds">Refunds</h3>
    <p>With PayPal Connect, you can still <a href="47-how-to-refund-a-customer.html">refund customers</a> via the <a href="https://app.gumroad.com/customers">customer's tab</a>; you just have to ensure you have enough balance in your PayPal account for the refund. We will also refund our fees and any VAT/GST.</p>
    <p>Paypal will, however, charge a fee to process refunds, and sellers pay those fees – not Gumroad.</p>
    <h3 id="chargebacks">Chargebacks</h3>
    <p>Unlike credit card purchases, sellers must <a href="https://www.paypal.com/us/webapps/mpp/security/resolve-disputes">handle all chargebacks (disputes) on PayPal purchases</a>. PayPal will send you an email notification and a link to address the dispute. You can also reach out to PayPal Support for assistance.</p>
    <h3 id="salestaxpay">Sales tax and payment details</h3>
    <p>When a PayPal sale has VAT/GST added, you will see the tax listed under “Sales Tax” in your PayPal payment details. In the ‘Partner Commission,’ you will also see the VAT/GST and Gumroad’s fee added together. Both the ‘PayPal Fee’ and the ‘Partner Commission’ will be deducted from the ‘Gross Amount’ to derive the ‘Net Amount.’</p>
    <h3 id="taxrefund">Sales tax refunds</h3>
    <p>Customers can claim VAT/GST refunds with a valid tax ID number on PayPal purchases.</p>
    <p>When VAT/GST refunds happen, part of the refund is deducted from the seller’s net amount in their PayPal account to cover the refund. </p>
    <p>But why?</p>
    <p>PayPal’s API has limitations – they don’t allow Gumroad to fully refund VAT/GST from Gumroad’s account alone. Gumroad and the seller have to “contribute” towards the tax refund.</p>
    <p>But all is not lost. Gumroad will then auto-credit the seller’s Gumroad balance for the amount deducted in PayPal to cover the VAT/GST refund. The next available weekly payout will then include this credit.</p>
    <h3 id="affiliates">Affiliates and PayPal Connect</h3>
    <p>All affiliate credits on Gumroad, including PayPal sales, are added to the affiliate’s Gumroad balance and paid out weekly. </p>
    <p>On the seller’s ‘Payment Details,’ the affiliate’s fee is included in the ‘Partner Commission.’</p>
    <h3 id="privacy"> Privacy </h3>
    <p>PayPal Connect sales will allow customers to see the seller’s name and email in the transaction details. For greater privacy, you can create a ‘Business’ PayPal account that would only disclose the company name and email. Otherwise, we suggest disconnecting PayPal Connect from your account.</p>
    <h3 id="nsfw">NSFW Accounts</h3>
    <p>PayPal Connect is disabled for sales of NSFW products, this is due to <a href="https://www.paypal.com/webapps/mpp/ua/legalhub-full">PayPal’s ToS</a>.</p>
    <p>If your account likely violates <a href="https://www.paypal.com/webapps/mpp/ua/legalhub-full">PayPal’s ToS</a>, we’d recommend you don’t use PayPal Connect.</p>
    <h3 id="review">PayPal account under review</h3>
    <p>In rare cases, PayPal may place accounts under review and withhold payments. If this happens, please contact PayPal Support for more assistance.</p>
    <h3 id="disconnect">Disconnect your PayPal account</h3>
    <p>You can disconnect your PayPal account on <a href="https://gumroad.com/settings/payments">the page</a> where you connected it.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63b6afa8d0b6de7e3be2a5e6/file-oRrgscg9q7.png" %></figure>
    <p>However, you cannot disconnect your PayPal if you have a membership product with active recurring payments. You have to cancel all existing memberships first, wait until those memberships expire, then proceed to disconnect.</p>
    <p>Alternatively, you can cancel Gumroad’s access to your PayPal account in your PayPal settings. However, this will lead to a failure of all payments going to your PayPal account.</p>
    <p>Also, if you disconnect your PayPal account, then later try to reconnect it in Gumroad without success, please get in touch with PayPal Support. It’s likely your ‘payments receivable’ in your PayPal account got set to ‘false,’ and PayPal Support can help you reset it.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="66-gumroads-fees.html"><span>Gumroad's fees</span></a></li>
      <li><a href="282-how-do-purchases-work-for-my-customers.html"><span>How Gumroad works for customers</span></a></li>
      <li><a href="330-stripe-connect.html"><span>Connect your Stripe account to Gumroad</span></a></li>
    </ul>
  </div>
</div>
