<% @description = "In this article: What are memberships How to buy a membership How to access your membership Managing your membership Cancelling your membership Restarting a mem" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#What-are-memberships-NADAw" target="_self">What are memberships</a></li>
      <li><a href="#How-to-buy-a-membership-dK1g-" target="_self">How to buy a membership</a></li>
      <li><a href="#How-to-access-your-membership-_-dui" target="_self">How to access your membership</a></li>
      <li><a href="#Managing-your-membership-znhaL" target="_self">Managing your membership</a></li>
      <li><a href="#Cancelling-your-membership-vcoBP" target="_self">Cancelling your membership</a></li>
      <li><a href="#Restarting-a-membership-o4BBz" target="_self">Restarting a membership</a></li>
      <li><a href="#Updating-your-payment-information-58qNi" target="_self">Updating your payment information</a></li>
      <li><a href="#Changing-tiers-Z57cw" target="_self">Changing tiers</a></li>
      <li><a href="#Adding-a-seat-cuuWa" target="_self">Adding a seat</a></li>
      <li><a href="#Fixed-length-memberships-8EL39" target="_self">Fixed-length memberships</a></li>
    </ul>
    <hr role="separator">
    <h3 id="What-are-memberships-NADAw">What are memberships</h3>
    <p>A membership is a recurring subscription to a product, which allows creators to offer recurring content like courses, paid communities, newsletters, and more. The billing frequency can be monthly, quarterly, semi-annual, or annual.</p>
    <h3 id="How-to-buy-a-membership-dK1g-">How to buy a membership</h3>
    <p>To buy a membership, navigate to the membership tab on the creator’s profile page and choose a tier and your billing frequency (some memberships will have only one tier). Click on the "Subscribe" button and complete the checkout form.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/BKEBSMpoZhKtwu1X4aGEeAirhpGDIDzpOGu6ItAnbC-Z83sDhKQDSZJ3GVdo30qRPzZswJBrDT65Z0VOv639x1U8gMAS6x81J_yjNg6cTdoCzws6YBfT5MsEdqqGxn65qoZEq877sKoutoYT0pTNzIE" %></figure>
    <h3 id="How-to-access-your-membership-_-dui">How to access your membership</h3>
    <p>You can access your membership through your <a href="https://app.gumroad.com/library">Gumroad Library</a> if you have an account, or through the "View content" button in your emailed receipt.</p>
    <p>Either of these two methods will take you to the download page where you can view all content files in the membership and any Posts the creator has made. You can also view or resend your original purchase receipt from there.</p>
    <h3 id="Managing-your-membership-znhaL">Managing your membership</h3>
    <p>You can change your payment method, tiers, or cancel your membership from the "Manage membership" page.</p>
    <p>You can access this page by clicking "Subscription settings" on your purchase receipt, or from the <a href="https://app.gumroad.com/library">Library</a>.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/Kn52DnYzu7UrZC1ptu-nXX_DT8eKvndi_0NxUo-up2yZm431oZAxl34o2KgWMeHl_vTCuhurvokrDM-wdCrTmLoGIibDIJClLcrcN6DAO7Vhtncfoe7EDkD0B-ZqNATedxqNWL0HWpsc4kfmmbuy6s8" %></figure>
    <p>Don’t forget to click “Update membership” once you are finished making changes.</p>
    <h3 id="Cancelling-your-membership-vcoBP">Cancelling your membership</h3>
    <p>The Manage membership page is also where you can cancel your membership. If cancelled, your membership will remain active until the end of the current billing cycle.</p>
    <p>Read <a href="192-how-do-i-cancel-my-membership.html">this article</a> to know more about cancelling memberships.</p>
    <h3 id="Restarting-a-membership-o4BBz">Restarting a membership</h3>
    <p>Sometimes you regret your past choices and want to come back to a membership that was previously canceled. Or maybe your credit card charge failed and the membership got cancelled? No worries! You can restart your membership from the "Manage membership" page. Make sure your payment details are correct, click "Restart membership", and you're all set!</p>
    <p>Alternatively, you can always get a new iteration of the membership from the creator's profile page, but there can be price increases. Restarting an old membership, on the other hand, ensures that you only pay the amount that you were originally paying.</p>
    <h3 id="Updating-your-payment-information-58qNi">Updating your payment information</h3>
    <p>Want to be billed to a different credit card than PayPal? Click "Use a different card" on the Manage membership page to update your payment details.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/TPWX7HYYYsXR-du738UifJasNYJFisq3xGYDAoWizkfSwYYpuRCVkonc2uAaDFIUcD1NqQ3wsPwG8ttbLp8RpuemslCqWoT841oT0jlnigIRfMyjlbhVKsdSRNOZ-SgOjx2P9KH1n5srz7kPNdh9BYo" %></figure>
    <h3 id="Changing-tiers-Z57cw">Changing tiers</h3>
    <p>For memberships with multiple tiers, you can change tiers or payment frequency at any time from the "Manage membership" area.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/-ED37zzZQffAKAP3KbRm64ryC064aAhWM-jlTD0TORiNwJDz50kxFb_hkr9GEMiTd4UniShAz3Qz0tmoihAvbfYkZxDc3OaPVvx8_K8zaGAUcoBR5pTmRepk976KDkbk26iwjQKRTKxyh0leoTfIn6U" %></figure>
    <p>If you upgrade your membership to a higher tier, you will be charged immediately with a “prorated” amount. Since upgrading to a higher tier updates the membership’s renewal date, this prorated charge covers the time between what would’ve been the next renewal date and the new renewal date. </p>
    <p>For example, if you start a $10/month membership on the 1st of January and then upgrade to a higher tier at $20/ month on the 15th of January, you’ll immediately be charged $19.75. This accounts for the upgrade for the remainder of January plus the unpaid 15 days until your next payment on the 15th of February. The 15th of every month will now be your renewal date.</p>
    <br>
    <p>If you upgrade from a monthly to a yearly membership, you will receive a discount for the remainder of the membership period, which will be subtracted from your new rate.</p>
    <p>Here’s an example: If you are a week into a $10/month membership and upgrade to a $100/year membership, you’ll get a discount equal to the remaining 3/4th of your $10 subscription, or $7.50. So you’d be charged $100 - $7.5 = $92.50 for the yearly membership. This discount is calculated as of the end of the current day, rather than the exact current time. So the amount won’t change if you, say, refresh the page after 5 minutes, but it will change if you try the next day.</p>
    <p>You will receive a receipt of this change in your email inbox and the membership renewal date will be updated to the date of the upgrade.</p>
    <br>
    <p>If you move to a less expensive tier or plan, the tier won’t be updated immediately. Instead, we will wait until the end of your billing cycle to change it.</p>
    <h3 id="Adding-a-seat-cuuWa">Adding a seat</h3>
    <p>Adding a seat to a membership works the same as upgrading to a higher tier, as outlined in the above section. When you add a seat/s, you will be charged immediately with a “prorated” amount to cover the time between the original and new renewal dates.</p>
    <p>If you remove a seat from your membership, your membership price will be updated at the end of the billing cycle. </p>
    <h3 id="Fixed-length-memberships-8EL39">Fixed-length memberships</h3>
    <p>Some memberships will be of a fixed length. An example of this is a course that the creator is offering with a duration of 1 year. After all the content has been delivered, your membership will automatically be cancelled.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="192-how-do-i-cancel-my-membership.html"><span>How do I cancel my membership?</span></a></li>
    </ul>
  </div>
</div>
