<% @description = "Ideally, creators are paid out every Friday for all sales not made through PayPal ( here's a refresher on how payouts work). But there are a variety of reasons " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p> Ideally, creators are paid out every Friday for all sales not made through PayPal ( <a href="13-getting-paid.html">here's a refresher</a> on how payouts work). But there are a variety of reasons why a payout could be delayed. If your payout has been delayed by more than one Friday, please email us. </p>
    <h3>Reason 1: You haven't been reviewed yet</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63e57a8bd2459a27d10c91e4/file-UfndQSL5SI.png" %></figure>
    <p> When you sell products on Gumroad, we are selling your products to your customers, and thus assuming legal and financial responsibility for your products on behalf of our banking partners. We deal with the banks and credit cards and PayPal so that you don't have to - this is, in essence, the purpose of Gumroad. </p>
    <p> In order to do business with you, we have to be sure that your products are legitimate and safe to sell. For this, we need  <em>data. </em>This means data about the sales that you make to your customers. We need to see that you can make sales of legitimate products to <em>multiple people</em>, and that none of those sales throw up red flags with our banking processors, or pose a risk to our bottom line. </p>
    <p> When this has been made clear to us, we mark your account as "compliant" and effectively tell our banking partners that you are safe to do business with. At this point, we begin paying you out and supporting your sales.</p>
    <p><strong><em>Cool story. So, why is my account still not reviewed?</em></strong></p>
    <p> So - some background: </p>
    <p><strong>Fraudsters</strong> are constantly testing out Gumroad as a means of laundering money, and they are <em>very good</em> at mimicking legitimate products and sales. We catch a few hundred of these accounts every month during the risk review process. As a result of these malicious actors, we have to be <em>extremely</em> cautious and thorough in our risk reviews.</p>
    <p><strong>Your account</strong> is still in the review process because we likely don't have enough data from your account. That is, your sales have not yet demonstrated that your account can be supported. </p>
    <p> For example:</p>
    <ul>
      <li>You may not have enough sales</li>
      <li>Some of your sales may appear suspicious from a risk standpoint</li>
      <li>The sales you have made are not legitimate (i.e. you've been buying your own products) </li>
      <li>You may have made multiple sales, but they're all to the same person</li>
      <li>It's unclear what exactly your customers are paying you for (i.e. we're not sure if your products violate our Terms of Service)</li>
    </ul>
    <p> Whatever the reason, we have not been able to confidently review your sales and hand you over to our banking partners. </p>
    <p> Many creators will buy their own products to "test" our payments system, to get their products featured on Discover. Or they do this to see that they can get paid, and thus feel secure selling with us. </p>
    <p> They are then confused why they haven't been paid, even though they've reached a $10 balance and we haven't paid them yet. Ironically, they thenfeel less secure about Gumroad. </p>
    <p> The fact of the matter is that we are <em>not allowed</em> to pay creators for sales that they have made on their own products. We do not consider these to be legitimate sales - in fact our banking partners consider these sales to be a kind of money laundering, and we are required to refund them when we find them. </p>
    <p><strong>How to verify this: <br>
      </strong>If you go to <a href="http://www.gumroad.com/balance">your balance page</a> and see a message that your account is under review (see above), that means your account is still under review.  </p>
    <p><strong>What to do: <br>
      </strong>We kindly ask that you wait until you've made 2-3 more sales, then email us for clarification. We cannot speed up the review for you, and we cannot provide everyone with <em>specific</em> information about why their account hasn't been reviewed, but we can at least answer the questions that you have. </p>
    <h3> Reason 2: There's an issue with your bank or PayPal account </h3>
    <p> It's also possible that we <em>have</em> been attempting to send money to your bank, or your PayPal account, but they are blocking the money. You may have entered incorrect information in your <a href="http://gumroad.com/settings/payments">payment settings</a>, or there may be a lock on your PayPal account. </p>
    <p><strong>What to do:</strong><br>
      Email us and we can look into it for you.</p>
    <h3>Reason 3: There is an issue with your account </h3>
    <p> If this is the case, you may have received an email from us telling you that we were unable to pay you. You would have received this email because your account was skipped during payouts due to a security issue, a compliance issue, or a problem with your payout settings. It's usually nothing to worry about, but the email can be a little scary sometimes.  </p>
    <p><strong>What to do:</strong><br>
      Email us and we can look into it for you.</p>
    <h3>Reason 4: There is an issue with your verification</h3>
    <figure><%= image_tag "help_center/stripe-verification-ui.png" %></figure>
    <p>Payouts may be paused by our payment processor if you have not completed your account's identity or business verification. You can check your <a href="https://gumroad.com/settings/payments">Payment Settings</a> page for details on what is missing or why your verification is failing.</p>
    <h3>Reason 5: Today <em>might not</em> actually be your pay day</h3>
    <p> We often have creators write in asking why they had not been paid on a Friday, and when we investigate the situation we see that they were not, in fact, supposed to have received money. </p>
    <p> As per <a href="13-getting-paid.html">Getting Paid</a>, we pay out every Friday for all sales made <em>up to the previous Friday</em>. </p>
    <p> In other words, that means the money sent out to you on a Friday has to have come from a sale that is <em>at least 7 days old</em>. If you make a sale on a Tuesday, you would not be receiving the profits from that sale three days later, unfortunately. You would have to wait until the following Friday to be paid out. In visual terms: </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6260e1386c886c75aabe8dd4/file-2RvnwJQNOe.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="13-getting-paid.html"><span>Getting paid by Gumroad</span></a></li>
      <li><a href="269-balance-page.html"><span>The payouts dashboard</span></a></li>
    </ul>
  </div>
</div>
