<% @description = "In this article: Buying on Gumroad without an account Receipts and Invoices VAT for your customers Credit and Debit card payments Paypal payments Making a test " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#Buying-on-Gumroad-without-an-account-9KP--">Buying on Gumroad without an account</a></li>
      <li><a href="#Receipts-and-Invoices-sUvV_">Receipts and Invoices</a></li>
      <li><a href="#-VAT-for-your-customers-ArCp6">VAT for your customers</a></li>
      <li><a href="#How-do-payments-made-via-creditdebit-cards-work-IpOXp">Credit and Debit card payments</a></li>
      <li><a href="#How-do-payments-made-through-PayPal-work-6C4Um">Paypal payments</a></li>
      <li><a href="#How-can-I-make-a-test-purchase-on-one-of-my-own-products-rCpQL">Making a test purchase</a></li>
    </ul>
    <h3 id="Buying-on-Gumroad-without-an-account-9KP--">Buying on Gumroad without an account</h3>
    <p>Customers have the option to purchase on Gumroad with or without an account. If they create an account, they can access their purchases through their <a href="http://www.gumroad.com/library">Gumroad Library</a> anytime. </p>
    <p>We identify customers by the email address they enter at checkout. Those without an account can always access their content through the link in their receipt.</p>
    <p>Occasionally, we may require customers to re-enter their email for added security, making sure your product is only available to the one who bought it.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6246a5cac1e53608cf9ef3b3/file-VrW7I7MsSE.png" %></figure>
    <h3 id="Receipts-and-Invoices-sUvV_">Receipts and Invoices</h3>
    <p>After purchasing, your customer is emailed a receipt with the download link to your product. The receipt will also hold a license key, if applicable.</p>
    <p>If they didn't get their receipt, <a href="78-my-customer-did-not-receive-a-receipt.html">please refer to this article</a>. </p>
    <p>They can generate their own invoices through the Generate button at the bottom of their receipt:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65b0e0574b18e475714bf22b/file-3RoWrDkBlf.png" %></figure>
    <h3 id="-VAT-for-your-customers-ArCp6"> VAT for your customers</h3>
    <p>If they have been charged VAT, they will see it listed on their invoice. If customers have a valid VAT ID, they can request a VAT refund by adding their VAT ID number when generating their invoice. If they are not from the EU, or we couldn't detect their country, they won’t see VAT on their invoice and can’t request a refund.</p>
    <h3 id="How-do-payments-made-via-creditdebit-cards-work-IpOXp">How do payments made via credit/debit cards work?</h3>
    <p>Customers can pay with various credit cards on Gumroad, either by directly entering their card info or using Apple Pay, Google Pay, or Venmo. They can also save their card to their Gumroad account. For a list of accepted cards, <a href="https://customers.gumroad.com/before-you-buy/a-guide-to-buying-on-gumroad" target="_blank">go here</a></p>
    <h3 id="How-do-payments-made-through-PayPal-work-6C4Um">How do payments made through PayPal work?</h3>
    <p>To process PayPal payments, we use PayPal Connect. </p>
    <p>If you have not connected to PayPal Connect, your customers will not be able to pay via PayPal. </p>
    <p><a href="275-paypal-connect.html">Read our article on PayPal Connect for a more thorough rundown</a></p>
    <h3 id="Why-do-purchases-fail-tcOa0">Why do purchases fail?</h3>
    <p>There are instances where a purchase is attempted and fails. <a href="266-why-are-my-customers-purchases-failing.html">This can happen for multiple reasons</a>, but:</p>
    <p>The most common are:</p>
    <ul>
      <li>Customers do not have enough funds on their cards.</li>
      <li>Their bank declines the payment. In this case, they need to ask their bank to "whitelist" Gumroad so a payment can be made.</li>
      <li>Their browser or IP address is throwing up red flags with our purchase system. They should try purchasing from a different browser, device, or network connection in such cases.</li>
    </ul>
    <h3 id="How-can-I-make-a-test-purchase-on-one-of-my-own-products-rCpQL">How can I make a test purchase on one of my own products?</h3>
    <p>To test how purchases work and how your files are delivered to customers, we have created a <a href="62-testing-a-purchase.html">test purchase functionality</a>. Please<b> don't pay for your products</b>, as it can be seen as fraud by our payment processors.  </p>
    <br>
    <p>You can also get <a href="https://gumroad.com/gumroadhelp">some of our free demo products here</a> to experience Gumroad through the eyes of your customers. These products will be added to your library and you can get a feel for the customer journey.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="275-paypal-connect.html"><span>Adding PayPal to checkout</span></a></li>
      <li><a href="62-testing-a-purchase.html"><span>Testing a purchase</span></a></li>
      <li><a href="266-why-are-my-customers-purchases-failing.html"><span>Why customer payments fail</span></a></li>
    </ul>
  </div>
</div>
