<% @description = "In this article:  What is fraud? How do we prevent fraud? So you got an email… What this means What do I, a creator, have to do? What if we're wrong? Can I bloc" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article: </p>
    <ul>
      <li><a href="#What-is-fraud--C7HoA" target="_self">What is fraud?</a></li>
      <li><a href="#How-do-we-prevent-fraud--taxt2" target="_self">How do we prevent fraud?</a></li>
      <li><a href="#So-you-got-an-email-BBJFN" target="_self">So you got an email…</a>
        <ul>
          <li><a href="#What-this-means--SvlKD" target="_self">What this means</a></li>
          <li><a href="#-What-do-I-a-creator-have-to-do-xJW8R" target="_self">What do I, a creator, have to do?</a></li>
          <li><a href="#What-if-were-wrong--9JEW4" target="_self">What if we're wrong?</a></li>
        </ul>
      </li>
      <li><a href="#Can-I-block-customers-on-my-own--I3Xch" target="_self">Can I block customers on my own?</a></li>
    </ul>
    <p>This article aims to provide some context for Gumroad creators who have questions about fraud on the platform. </p>
    <h3 id="What-is-fraud--C7HoA">What is fraud? </h3>
    <p>Fraud, in online selling terms, is theft. On rare occasions, fraudsters create accounts on Gumroad in an attempt to launder money from stolen credit cards, thus defrauding the original owners of those credit cards (and Gumroad) in the process. </p>
    <p>Essentially, fraudsters are: </p>
    <ol>
      <li>creating accounts </li>
      <li>creating bogus products</li>
      <li>then buying <span>their own</span><span>products</span> with the stolen credit cards. </li>
    </ol>
    <p>For our regular, honest creators, we offer the <a href="62-testing-a-purchase.html">test purchase</a> feature. This lets you buy your own products without using actual money, and therefore, recreating the same behavior as our fraudster friends. </p>
    <p>All that said, the majority of the fraud that we see on Gumroad consists of people using stolen credit/debit cards to purchase products on Gumroad. Sometimes, we'll see Paypal accounts get hijacked and used to buy products, or even a combination of these two methods - PayPal accounts being created with stolen credit/debit cards. </p>
    <p>Such purchases inevitably result in <a href="134-how-does-gumroad-handle-chargebacks.html">chargebacks</a> (essentially a forced, non-negotiable refund enforced by card networks), or proactive refunds on our end, if we can catch them early enough. </p>
    <h3 id="How-do-we-prevent-fraud--taxt2">How do we prevent fraud? </h3>
    <p>Gumroad has a wide variety of checks in place to <span>prevent</span> fraudulent purchases from taking place. We also utilize tools built by our processors, Stripe and PayPal. As strong as they are, however, these checks do not guarantee 100% enforcement. To help stop fraud as soon as possible, we receive daily notifications from these processors that alert us to any fraudulent purchases <span>that have succeeded</span>.</p>
    <p>When we get these notifications, we refund every sale listed as a measure to prevent future fraud and enhance our ability to catch these same fraudsters when they try to buy things again. We also do this to prevent <a href="134-how-does-gumroad-handle-chargebacks.html">chargebacks</a>, because chargebacks cost Gumroad money, hurt our credit line, and make it harder for us to do business as a payment processor. </p>
    <p>When we refund these sales, you'll receive an email from us.</p>
    <h3 id="So-you-got-an-email-BBJFN">So you got an email...</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624a8eb042ba434a7afe2cbd/file-E3dRMXo5n8.png" %></figure>
    <h3 id="What-this-means--SvlKD">What this means: </h3>
    <ol>
      <li>The purchase we've refunded was either fraudulent, or suspicious enough that our banking partners require us to refund it</li>
      <li>The money from the sale has been refunded from your balance</li>
      <li>We have refunded the fees that we took from the sale, and</li>
      <li>We have blocked this customer from buying again on Gumroad</li>
    </ol>
    <p>Unfortunately, these refunds do entail a loss of money on everyone's part. We can not simply choose <span>not</span> to refund these sales, as it would be illegal to keep stolen money. Moreover, not refunding fraudulent sales leads to <a href="134-how-does-gumroad-handle-chargebacks.html">chargebacks</a>, which cost Gumroad <span>more</span> money than simple refunds. Thus, Gumroad can not reimburse its creators for fraudulent sales.</p>
    <h3 id="-What-do-I-a-creator-have-to-do-xJW8R"> What do I, a creator, have to do?</h3>
    <p>Besides vowing eternal revenge, you don't have to do anything when you receive emails like this. We are notifying you that we have refunded a sale from your balance, to avoid confusion when you see a refund appear on <a href="https://app.gumroad.com/payouts">your Payouts page</a>. </p>
    <p>We have already blocked the customer from buying on Gumroad again, and they have lost access to their download links. If you are selling a product with license keys, you may want to double-check in your program that their access to your software has been revoked. </p>
    <p>If you see other sales made by this same customer, or notice them using different email addresses, please feel free to let us know. </p>
    <h3 id="What-if-were-wrong--9JEW4">What if we're wrong? </h3>
    <p>From time to time, our processors incorrectly determine that a purchase is fraudulent. What they determine to be "unusual behavior" on a card may in fact be... normal. If you've ever had your credit/debit card randomly stop working because your card provider thought it had been stolen, then you understand; similar mechanisms are in operation here.</p>
    <p>When this happens, please notify us or have your customer notify us. We can then unblock them from buying, and clear that card for future use on the platform. We do not have the ability to "un-refund" a charge, unfortunately, so the customer will have to re-purchase the product they've bought. </p>
    <h3 id="Can-I-block-customers-on-my-own--I3Xch">Can I block customers on my own? </h3>
    <p>Yes!</p>
    <p>Using our <a href="329-customer-moderation.html">Customer Moderation tools</a>, you can block customers from purchasing your products. You can also revoke access to their content if you’ve noticed a customer distributing your content illegally or otherwise violating your terms.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="134-how-does-gumroad-handle-chargebacks.html"><span>Chargebacks on Gumroad</span></a></li>
      <li><a href="42-content-security.html"><span>Content protection on Gumroad</span></a></li>
      <li><a href="161-what-gumroad-considers-fraud.html"><span>Defining fraud on Gumroad</span></a></li>
    </ul>
  </div>
</div>
