<% @description = "Looking to work at Gumroad? Awesome! We're always looking for new go-getters who want to work part-time or even just temporarily on projects to improve life for" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Looking to work at Gumroad? Awesome! We're always looking for new go-getters who want to work part-time or even just temporarily on projects to improve life for all creators. </p>
    <p>We'll post all job openings <a href="http://jobs.gumroad.com" target="_blank">on this page</a>, along with instructions on how to apply</p>
    <br>
    <p>More information about jobs and work/life at Gumroad are on <a href="https://www.notion.so/gumroad/Public-Wiki-72663c59ed5a432a9d52accafd8f166e#2df1601dc3d6405bbba6135786871c15" target="_blank">our public wiki</a></p>
    <p>Don't want to work for us, but have a cool ideas for a feature? Shoot us a line about them anytime, or file them <a href="https://gumroad.nolt.io/">here</a></p>
  </div>
</div>
