<% @description = "This feature is opt-in because many creators use Google, Facebook, and third-party analytics to track traffic and conversions. If you don't use anything other t" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>This feature is opt-in because many creators use Google, Facebook, and third-party analytics to track traffic and conversions. If you don't use anything other than Gumroad's analytics, this setting may be right for you.</p>
    <table><colgroup><col><col></colgroup>
      <tbody>
        <tr>
          <td>
            <h3 style="text-align: center;"><b>The benefits</b></h3>
          </td>
          <td>
            <h3 style="text-align: center;"><b>The costs</b></h3>
          </td>
        </tr>
        <tr>
          <td>Earn extra trust from customers by respecting their privacy</td>
          <td>This setting disables the <a href="174-third-party-analytics.html">Google Analytics</a> and <a href="174-third-party-analytics.html#Facebook-yo4eq">Facebook Pixel</a> integrations, if in use.</td>
        </tr>
        <tr>
          <td>Increase the loading speed of product and profile pages</td>
          <td>The setting precludes using third-party analytics on Gumroad pages.</td>
        </tr>
        <tr>
          <td>Continue using Gumroad analytics unaffected, as they are collected server-side.</td>
          <td>Our internal analytics will take a hit, but that's okay. We aren't trying to impress anyone.</td>
        </tr>
      </tbody>
    </table>
    <h3>Disabling Non-Essential Cookies</h3>
    <p>Creators can disable non-essential cookies in three quick steps.</p>
    <p>1) Go to the <a href="https://app.gumroad.com/settings/third_party_analytics">Third-party analytics tab in your Settings</a></p>
    <p>2) Toggle off "Enable third-party analytics services" to disable cookies</p>
    <figure><%= image_tag "https://lh3.googleusercontent.com/VBKVuu95M8Z7ePgtiJvv8FK-aFqwfLHBVOU_apE2YZqW-bppgozEOQJbXydoaakeVi-Z3mKkrBjkr8hKbVhm3xVwwyhyAH38jOcXlEtIDzfZJe_Vdjzonl_MbZQG3t8DCRoRlMvRKYBsrtGyYI3Jd2w" %></figure>
    <p>3) Click "Update settings"</p>
    <p>For more on analytics and tracking, check out <a href="174-third-party-analytics.html">Third-party analytics</a></p>
  </div>
</div>
