<% @description = "When Gumroad receives a DMCA Takedown notice on one of your products, our policy is to remove it, then allow you to file a counter-notice to get the product bac" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>When Gumroad receives a DMCA Takedown notice on one of your products, our policy is to remove it, then allow you to file a counter-notice to get the product back online. </p>
    <br>
    <p><a href="https://www.dmlp.org/legal-guide/responding-dmca-takedown-notice-targeting-your-content">This site</a> will help you write up a DMCA Counter-Notice. Once that's done, you can send it to us at support@gumroad.com</p>
    <br>
    <p>Let us know if you have any issues or concerns!</p>
  </div>
</div>
