<% @description = "In this article: 16 GB File size limit 250 MB limit Download All button How to zip your files Mac PC Your file size limit depends on how you’ve decided to price" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#16-GB-File-size-limit-nBMbC" target="_self">16 GB File size limit</a></li>
      <li><a href="#250-MB-File-size-limit-g_EnM" target="_self">250 MB limit</a></li>
      <li><a href="#Download-All-button--rvoOs" target="_self">Download All button</a></li>
      <li><a href="#How-to-zip-your-files-JUly-" target="_self">How to zip your files</a>
        <ul>
          <li><a href="#Mac-mr3Un" target="_self">Mac</a></li>
          <li><a href="#PC-Mli79" target="_self">PC</a></li>
        </ul>
      </li>
    </ul>
    <br>
    <p>Your file size limit depends on how you’ve decided to price your product. Free products have a file size limit of 250 MB. Products priced higher than $1 have a file size limit of 16 GB.</p>
    <h3 id="16-GB-File-size-limit-nBMbC">16 GB File size limit</h3>
    <p>If you price your product at any number greater than $0.99, the largest single file that you can upload to a product is 16 GB in size. We rarely see anyone upload files larger than 5GB, so that shouldn't be an issue for the vast majority of creators. Remember, you can add as many files as you want to each product.</p>
    <h3 id="250-MB-File-size-limit-g_EnM">250 MB limit</h3>
    <p>If you price your product at $0, then the max <i>product</i> size can be 250 MB. In other words, if you're using our <a href="133-pay-what-you-want-pricing.html">Pay What You Want</a> feature, and setting the lowest possible price to be $0, then the max cumulative size of all your files can be 250 MB.</p>
    <h3 id="Download-All-button--rvoOs">Download All button </h3>
    <p>We only show the "Download all" button if the total content size of your product is less than 500MB. As a workaround, you may upload a ZIP file directly to the product - this will enable your customers to download all contents at once.</p>
    <h3 id="How-to-zip-your-files-JUly-">How to zip your files</h3>
    <p>Zipping files depends on what operating system you’re using. Although similar, the process will differ slightly between Mac and PC.</p>
    <h3 id="Mac-mr3Un">Mac</h3>
    <ul>
      <li>Gather all of your files into one folder</li>
      <li>Right-click folder</li>
      <li>Select "Compress untitled folder"</li>
    </ul>
    <h3 id="PC-Mli79">PC</h3>
    <ul>
      <li>Gather all of your files into one folder</li>
      <li>Right-click folder</li>
      <li>Select "send to"</li>
      <li>Select "Compressed (zipped) folder"</li>
    </ul>
    <p>Both processes will create a zipped folder in the same directory as the original folder. Name it something your customers will easily recognize.</p>
  </div>
</div>
