<% @description = "In this article: Products you have created Archive a product Products you are affiliated to Products you have created The “Products dashboard” allows you to cre" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#all-products" target="_self">Products you have created</a></li>
      <li><a href="#Archive-a-product-uSFo0">Archive a product</a></li>
      <li><a href="#affiliated" target="_self">Products you are affiliated to</a></li>
    </ul>
    <h3 id="all-products">Products you have created</h3>
    <p>The “Products dashboard” allows you to <a href="149-adding-a-product.html" target="_self">create new products</a>, see product summaries, track <a href="79-gumroad-discover.html" target="_self">Discover eligibility</a>, and view details of affiliated products as well.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/651e45b3ed8c6d2f1cffdf90/file-4cgKZm6AzN.png" %></figure>
    <h3 id="Archive-a-product-uSFo0">Archive a product</h3>
    <p>You can click the product’s name to edit it, or the three-dot menu on the right to duplicate, archive, or permanently delete a product.</p>
    <figure style="max-width: 100%; " class=""><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/649d5af1cfd7fe604a7fe38a/file-uuXfjiuxNZ.png" %>
      <figcaption> The three-dot menu </figcaption>
    </figure>
    <p>Archiving helps you hide your product from most of Gumroad without deleting it completely, thus preventing adverse consequences like losing ongoing sales. </p>
    <p>Archived products will not show while creating new discounts, upsells, or affiliates, and will be hidden from your profile. You will be able to see past sales or edit existing checkout options and affiliates for these products though.</p>
    <p>If needed, you can unarchive them from the “Archived” tab which is visible only if you have an archived product.</p>
    <h3 id="affiliated">Products you are affiliated to</h3>
    <p>The <a href="https://app.gumroad.com/products/affiliated">Affiliated tab</a> is currently the closest thing to a "Dashboard for Affiliates" on Gumroad. </p>
    <figure style="max-width: 100%; " class=""><%= image_tag "help_center/affiliate-tab.png" %>
      <figcaption> The Affiliated dashboard </figcaption>
    </figure>
    <p>Once a Gumroad creator adds you as an affiliate, you should see the affiliated product here. </p>
    <p>Please note that you cannot remove yourself as an affiliate for any product; you will have to contact the product's creator for that.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="82-membership-products.html"><span>Selling memberships</span></a></li>
      <li><a href="249-affiliate-faq.html"><span>Becoming an affiliate on Gumroad</span></a></li>
    </ul>
  </div>
</div>
