<% @description = "Gumroad takes the following operational measures to ensure accessibility: Require knowledge of accessibility technologies and mindfulness thereof when hiring en" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p> Gumroad takes the following operational measures to ensure accessibility:</p>
    <ul>
      <li>Require knowledge of accessibility technologies and mindfulness thereof when hiring engineers.</li>
      <li>Provide our services and support in a multitude of languages.</li>
      <li>Assign clear accessibility goals and responsibilities.</li>
    </ul>
    <h3>Technical specifications</h3>
    <p> Gumroad partially conforms to the <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG) 2.1 level AA</a>, which defines requirements for designers and developers to improve accessibility for people with disabilities.</p>
    <p> Gumroad is designed to be compatible with the following assistive technologies, among others:</p>
    <ul>
      <li>NVDA, ChromeVox, and Orca Screen Readers</li>
      <li>Read Aloud text-to-speech extension</li>
    </ul>
    <p> Your browser is required to support the following technologies for full functionality and accessibility:</p>
    <ul>
      <li>HTML: We use modern and correct semantic elements wherever possible to clearly communicate their purpose.</li>
      <li>WAI-ARIA: Where no native HTML elements are available, we use the WAI-ARIA extensions to add further information about elements and their states.</li>
      <li>CSS: Used to add visual aids and contrast to elements.</li>
      <li>JavaScript: Required for most functionality on our website.</li>
      <li>SVG: Used for dynamically scalable graphics.</li>
    </ul>
    <p> We do not support browsers or operating systems older than the last four major versions, or with less than 0.5% global usage.</p>
    <p> Content uploaded by users may not conform to our accessibility guidelines because it is not controlled by us. We aim to give creators the opportunity to make their content accessible by providing subtitles or other text-based alternatives where necessary.</p>
    <h3>Feedback</h3>
    <p> We welcome our creators’ feedback on the accessibility of Gumroad. Please let us know if you encounter accessibility barriers on Gumroad using the <strong>Contact Us</strong> link at the bottom of this page. We try to respond to feedback within 24 hours.</p>
  </div>
</div>
