<% @description = "Sales originating from Gumroad Discover may be subject to an indirect tax (VAT, GST, Sales Tax) based on the customer’s tax jurisdiction and requirements there." %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Sales originating from <a href="https://discover.gumroad.com/">Gumroad Discover</a> may be subject to an indirect tax (VAT, GST, Sales Tax) based on the customer’s tax jurisdiction and requirements there.</p>
    <p>In some cases, these jurisdictions may determine Gumroad to be the supplier of the goods for tax purposes and thus require us to collect and remit tax as a Marketplace Facilitator on both digital and physical goods.</p>
    <p>Current jurisdictions where this is in effect are:</p>
    <table>
      <tbody>
        <tr>
          <th><strong>Jurisdiction</strong></th>
          <th><strong>Date introduced</strong></th>
        </tr>
        <tr>
          <td>Wisconsin, USA</td>
          <td>Mar 30, 2022</td>
        </tr>
        <tr>
          <td>Washington, USA</td>
          <td>Nov 22, 2022</td>
        </tr>
        <tr>
          <td>North Carolina, USA</td>
          <td>Aug 2, 2023</td>
        </tr>
        <tr>
          <td>New Jersey, USA</td>
          <td>Aug 2, 2023</td>
        </tr>
        <tr>
          <td>Ohio, USA</td>
          <td>Aug 2, 2023</td>
        </tr>
        <tr>
          <td>Pennsylvania, USA</td>
          <td>Aug 2, 2023</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>Dec 26, 2023</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="79-gumroad-discover.html"><span>Gumroad Discover</span></a></li>
      <li><a href="121-sales-tax-on-gumroad.html"><span>Sales tax on Gumroad</span></a></li>
      <li><a href="11-us-sales-tax-on-gumroad.html"><span>US sales tax on Gumroad</span></a></li>
    </ul>
  </div>
</div>
