<% @description = "In this article: Roles Invite team members Switch accounts Mobile You can now invite members of your team to access your Gumroad account with different roles.  " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#roles">Roles</a></li>
      <li><a href="#invite">Invite team members</a></li>
      <li><a href="#switch">Switch accounts</a></li>
      <li><a href="#Mobile-v5159" target="_self">Mobile</a></li>
    </ul>
    <p>You can now invite members of your team to access your Gumroad account with different roles. </p>
    <h3 id="roles">Roles</h3>
    <p>Roles allow you to add team members to your account while restricting what they can see or do. Each role has access to view certain pages and take certain actions. We’ve tried our best to make it intuitive:</p>
    <ul>
      <li>View only: Can access the page but not make any changes</li>
      <li>Full access: Can access and make changes to the page</li>
      <li>No access: Page not accessible</li>
    </ul>
    <br>
    <table>
      <tbody>
        <tr>
          <td><br>
          </td>
          <td><strong>Owner</strong></td>
          <td><strong>Admin</strong></td>
          <td><strong>Marketing</strong></td>
          <td><strong>Support</strong></td>
          <td><strong>Accountant</strong></td>
        </tr>
        <tr>
          <td>Products</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>View only</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Checkout</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>View only</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Posts</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>View only</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Audience</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>View only</td>
          <td>Full access</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Analytics</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>View only</td>
          <td>View only</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Payouts</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>No access</td>
          <td>View only</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Library</td>
          <td>Full access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Settings / Settings</td>
          <td>Full access</td>
          <td>View only</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Settings / Team</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Settings / Profile</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>View only</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Settings / Payout</td>
          <td>Full access</td>
          <td>View only</td>
          <td>No access</td>
          <td>No access</td>
          <td>View only</td>
        </tr>
        <tr>
          <td>Settings / Payments</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Settings / Password</td>
          <td>Full access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Settings / Applications</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Settings / Third-party analytics</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Settings / Advanced</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>No access</td>
          <td>No access</td>
          <td>No access</td>
        </tr>
        <tr>
          <td>Affiliates</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>Full access</td>
          <td>View only</td>
          <td>View only</td>
        </tr>
      </tbody>
    </table>
    <h3 id="invite">Invite team members</h3>
    <p>You can invite members to co-admin your account or remove them from <a href="https://app.gumroad.com/settings/team">your Team settings</a>.</p>
    <p>You can have unlimited team members.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/T7sxTn5rVKL6kYeBqwMwk6Q4U7Dv5lql9fgOM1OlNX0-WqErzUqNn0qRbq7VKMwCO8L_N8JxAkxNs6SF9crxz_Wv49l5y33gxu13BxGkAn22xc-Vxpsbj5tZp8HqpXpkNb2g_2S6r4AoMFXYX3saogs" %></figure>
    <h3 id="switch">Switch accounts</h3>
    <p>Once the team member has access to your account, they can switch between their personal account and your account from the account switcher. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6392bfc87b7d2d5d2750e31b/file-WpgNuOX42h.gif" %></figure>
    <h3 id="Mobile-v5159">Mobile</h3>
    <p>Our mobile apps do not currently support the Teams feature.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="67-the-settings-menu.html"><span>Account settings</span></a></li>
    </ul>
  </div>
</div>
