<% @description = "In this article: Enabling Purchasing Power Parity Retrieve PPP prices via API Customer Integrity Purchasing power parity (PPP) lets Gumroad creators set up dyna" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Enabling-Purchasing-Power-Parity-Mqujo">Enabling Purchasing Power Parity</a></li>
      <li><a href="#Retrieve-PPP-prices-via-API-LIG8V">Retrieve PPP prices via API</a></li>
      <li><a href="#Customer-Integrity-_G_4u">Customer Integrity</a></li>
    </ul>
    <hr role="separator">
    <p>Purchasing power parity (PPP) lets Gumroad creators set up dynamic discounts based on where the customer lives, ensuring that the price is proportional to their local currency and cost of living. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63d2f3cc7eb7a63c30e3f68f/file-U4Cn8GjBsT.png" %></figure>
    <h3 id="Enabling-Purchasing-Power-Parity-Mqujo">Enabling Purchasing Power Parity</h3>
    <p>To enable this feature, simply visit <a href="https://app.gumroad.com/settings">your settings</a> and turn on the purchasing power parity toggle:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/655e022979594218b99bbcd8/file-Q2tp2QaRqW.png" %></figure>
    <p>The discounts range from 20% to 60%, are sourced from the World Bank, and refresh weekly. You can also cap the PPP discounts by setting a custom maximum value.</p>
    <p>Choose products to exclude from the PPP discount in the 'Products to exclude' field, or select 'All products' to exclude every product.</p>
    <p>You can also toggle off the card country and IP verification check if you think it will lead to greater net sales.</p>
    <h3 id="Retrieve-PPP-prices-via-API-LIG8V">Retrieve PPP prices via API</h3>
    <p>You can see your product’s PPP rates for every country we support using the <a href="https://app.gumroad.com/api#products">Products API</a>. This allows you to dynamically update the pricing on your website based on the viewer’s country.</p>
    <h3 id="Customer-Integrity-_G_4u">Customer Integrity</h3>
    <p>We have security checks to ensure the customer is located in the selected country. If they fail this check, they will still be able to purchase the product at full price.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="128-discount-codes.html"><span>Discount codes</span></a></li>
      <li><a href="133-pay-what-you-want-pricing.html"><span>"Pay what you want" pricing</span></a></li>
    </ul>
  </div>
</div>
