<% @description = "In this article: Block customers from purchasing your products Revoke a customer's access to their content" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Block-customers-from-purchasing-your-products-KNuPa" target="_self">Block customers from purchasing your products</a></li>
      <li><a href="#Revoke-a-customers-access-to-their-content-1As4p" target="_self">Revoke a customer's access to their content</a></li>
    </ul>
    <h3 id="Block-customers-from-purchasing-your-products-KNuPa">Block customers from purchasing your products</h3>
    <p>To block problematic customers from purchasing your products, go to the Mass-block emails section in your <a href="https://app.gumroad.com/settings/advanced">Advanced Settings</a>. Enter one or more email addresses, separated by a new line, and click the Update settings button. </p>
    <p><strong>Note:</strong> Adding <em>SampleEmail@gmail.com</em> will also block <em>SampleEmail+1@gmail.com</em> and <em>Sample.Email@gmail.com</em>. This will only block customers from your Gumroad, and they will only know about it if they try to purchase from you again in the future. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63ed4e52e22c9e067d47614a/file-yR0lyCA8yq.png" %></figure>
    <h3 id="Revoke-a-customers-access-to-their-content-1As4p">Revoke a customer's access to their content</h3>
    <p>If you've noticed a customer distributing your content illegally or otherwise violating your terms, you can revoke access to their content. </p>
    <p>Go to the <a href="https://app.gumroad.com/customers">Customers dashboard</a>, find the desired customer, and click the Revoke access button. </p>
    <p><b>Note: </b>You can't revoke access on fully refunded purchases, membership products, or physical products.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63ed4f9ee22c9e067d47614d/file-GZjfc8xijD.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="67-the-settings-menu.html"><span>Account settings</span></a></li>
      <li><a href="51-what-is-gumroads-refund-policy.html"><span>Gumroad's refund policy</span></a></li>
      <li><a href="42-content-security.html"><span>Content protection on Gumroad</span></a></li>
    </ul>
  </div>
</div>
