<% @description = "Offering an upsell at checkout Upsells allow you to suggest additional products to your customer at checkout. You can either nudge them to purchase an upgraded " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <h3>Offering an upsell at checkout</h3>
    <p>Upsells allow you to suggest additional products to your customer at checkout. You can either nudge them to purchase an upgraded version, replace the product with another one, or add an extra product to the cart.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/643d4db637fd073d73d6cad6/file-6dbiL0czob.png" %></figure>
    <h3>Creating an upsell</h3>
    <p>From the Upsells tab on <a href="https://app.gumroad.com/checkout/upsells" target="_self">your Checkout page</a>, click on the "New upsell" button. Name the offer and add the desired sales copy. </p>
    <p>There are currently three different types of upsells: </p>
    <ol>
      <li>
        <p>Suggest an additional product that pairs well with the product they’ve purchased. When suggesting an additional product, you can also offer a discount to incentivize your customers to buy immediately.</p>
        <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64ca36c38ec1e24edafd21f2/file-B9DfIiaFym.png" %></figure>
      </li>
      <li>
        <p>Instead of adding another product, you can also replace the product(s) in the customer’s cart with another one. For example, if you have added Product A and Product B in the "Apply to these products" field and Product C as the "Product to offer", and the customer has both products A and B in their cart, then both the products will be removed in favor of Product C if they accept the offer.</p>
        <p>This option is useful to upgrade a customer to a bundle that already contains the originally selected product(s).</p>
        <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64ca37338688760dada27744/file-AB7uLNLCQx.png" %></figure>
      </li>
      <li>
        <p>Offer an upgraded <a href="126-setting-up-versions-on-a-digital-product.html">version</a> of the product currently in their cart.</p>
        <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64ca38a26d36cc04e8262761/file-yFrRtm1vu9.png" %></figure>
      </li>
    </ol>
    <h3>The customer’s experience</h3>
    <p>When the customer proceeds to checkout, after entering their payment information and pressing Pay, we’ll present them with your upsell. You can try this for yourself by <a href="62-testing-a-purchase.html">testing a purchase</a>.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
    </ul>
  </div>
</div>
