<% @description = "Providing recommendations to your customers can bring awareness to other products offered in your store and motivate them to try out different items.  To update" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Providing recommendations to your customers can bring awareness to other products offered in your store and motivate them to try out different items. </p>
    <br>
    <p>To update this setting:</p>
    <ol>
      <li>Navigate to the <a href="https://app.gumroad.com/checkout/form">Checkout form</a> tab on the Checkout dashboard, and select the  “Recommend my products” radio button. </li>
      <li>Click “Save changes”</li>
    </ol>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64faaab126847651a7f546df/file-kOBfkPvf56.png" %></figure>
    <p>Now a grid of your products will be displayed on the buyer's checkout page. This won’t include products the buyer has already purchased or products currently in the buyer’s cart. </p>
    <p>Recommendations are based on purchases made by other buyers, so if the product has no purchasers in common with your other products, you won’t get any recommendations.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64df7fc8e3ee466b38a4daea/file-rxt3uxfu5A.png" %></figure>
    <p>Once a customer clicks on a recommended product, they will be directed to the product page where they can easily add it to their cart.</p>
    <h3>Recommending other products</h3>
    <p>You have the option of recommending other creators' products on your checkout page as well.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64faaaf9065ccf64a20440a8/file-SX1LaBg7Ct.png" %></figure>
    <p><b>Recommend my products and products I'm an affiliate of </b>allows you to recommend products that you’re a direct affiliate of and earn your affiliate commission if a customer checks out with it.</p>
    <p><b>Recommend all products and earn a commission with Gumroad Affiliates</b> allows you to recommend products that you’re a direct affiliate of <span>and</span> products eligible for <a href="333-affiliates-on-gumroad.html#Gumroad-Affiliates-sIp2H">Gumroad Affiliates</a>. Directly affiliated products yield your full affiliate commission, while Gumroad Affiliate products earn you a 10% commission.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="128-discount-codes.html"><span>Discount codes</span></a></li>
      <li><a href="331-creating-upsells.html"><span>Creating an Upsell</span></a></li>
    </ul>
  </div>
</div>
