<% @description = "You can inform your customers of a product's refund policy before purchase; just add your policy in the product's settings. Specify the conditions under which y" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>You can set a custom refund policy by adding it to your product settings. Be clear about the conditions—whether it's a 30-day money-back guarantee or a firm no-refunds policy. This helps your customers know what to expect and allows Gumroad Support to issue refunds (or not) on your behalf. We also include your policy in any credit card or PayPal dispute, providing an extra layer of protection for your business.</p>
    <h3>Adding a refund policy</h3>
    <p>On the product edit page, under the Settings section of the Product tab, toggle <b>Specify a refund policy for this product</b>. From here, you can add a refund policy (and optional fine print) or copy a refund policy from another product to save time. </p>
    <p style="" class=""><%= image_tag "help_center/product-level-refund-policy-edit.png" %></p>
    <p>The refund policy will be shown on the product page. If fine print is provided, the policy will be clickable and the details will be displayed to the customer in a modal:</p>
    <p style="" class=""><%= image_tag "help_center/product-level-refund-policy-modal.png" %></p>
    <p>To remove the refund policy, simply switch off the toggle and save the product. </p>
    <h3><b>Sharing a refund policy</b></h3>
    <p>When the policy modal is visible on the product page, the product's URL contains an anchor so you can share that URL with customers to send them directly to the refund policy.</p>
    <p style="" class="">
      <video src="help/images/product-level-refund-policy-share.mp4" style="width: 100%; max-width: 100%;" autoplay loop muted playsinline></video>
    </p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="51-what-is-gumroads-refund-policy.html"><span>Gumroad's refund policy</span></a></li>
      <li><a href="47-how-to-refund-a-customer.html"><span>Issuing a refund</span></a></li>
    </ul>
  </div>
</div>
