<% @description = "Leaving a written review is the best way to give product feedback to both the creator and future potential customers. Leaving a review After you've purchased a " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Leaving a written review is the best way to give product feedback to both the creator and future potential customers.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/667c24651f3fa9421e2886e5/file-pdhqheFO0D.png" %></figure>
    <h3>Leaving a review</h3>
    <p>After you've purchased a product, you can leave feedback from several different locations:</p>
    <ol>
      <li>Your <a href="https://app.gumroad.com/reviews" target="_blank">Reviews page</a>, which allows you to review multiple purchases in one location. From here, you can also edit previous reviews.</li>
      <li>The content page of the product</li>
      <li>The product page </li>
    </ol>
    <br>
    <p>If you haven't left a review in the first 5 days after a purchase, we will send you a reminder email. You can unsubscribe from these reminders using the link at the bottom of the email.</p>
    <br>
    <h3>Restrictions</h3>
    <ol>
      <li>You can only leave a review in the first year after the purchase was made</li>
      <li>For membership purchases with free trials, you cannot leave a review until the free trial has expired</li>
      <li>You cannot leave a review on refunded purchases (and reviews will be removed after a full refund)</li>
    </ol>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="191-a-guide-to-buying-on-gumroad.html"><span>A guide to buying on Gumroad</span></a></li>
      <li><a href="198-your-gumroad-library.html"><span>Your Gumroad Library</span></a></li>
    </ul>
  </div>
</div>
