<% @description = "Account deletions are permanent and cannot be reversed. Before you delete your account, we highly recommend that you: Change your account’s email address if you" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Account deletions are permanent and cannot be reversed. Before you delete your account, we highly recommend that you:</p>
    <ul>
      <li>Change your account’s email address if you’d like to use it with a different Gumroad account</li>
      <li>Download your sales and payout CSV reports, and your product files by <a href="62-testing-a-purchase.html">testing a purchase</a></li>
      <li>Download your purchases from your Gumroad Library</li>
    </ul>
    <p>To delete your account, go to your <a href="https://gumroad.com/settings/advanced">settings</a>, scroll down to the bottom, and click 'Delete your Gumroad account!'</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/658ba8b015d4597b5fb209ad/file-ch8xxL6pcQ.png" %></figure>
    <p>If you have an existing balance that is yet to be paid out, you will be able to forfeit it and delete your account. If you do not wish to forfeit your balance, you will have to wait until you have been <a href="13-getting-paid.html" target="_self">paid out</a> completely before you can delete your account.</p>
    <p>When you delete your Gumroad account, your username, payment data, products and product files, and compliance data get permanently deleted as well.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="20-how-do-i-contact-gumroad.html"><span>Contact Gumroad</span></a></li>
      <li><a href="67-the-settings-menu.html"><span>Account settings</span></a></li>
    </ul>
  </div>
</div>
