<% @description = "In this article: Preparing your video Video transcoding Adding subtitles Disable video downloads Preparing your video Gumroad's streaming player supports nearly" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#preparing-your-video">Preparing your video</a></li>
      <li><a href="#video-transcoding">Video transcoding</a></li>
      <li><a href="#adding-subtitles">Adding subtitles</a></li>
      <li><a href="#disable-video-downloads">Disable video downloads</a></li>
    </ul>
    <h3 id="preparing-your-video">Preparing your video</h3>
    <p> Gumroad's streaming player supports nearly all file types and automatically optimizes your video for online playback across all browsers, devices, and connection speeds.</p>
    <p> The resolution for SD video streaming is 480p, and HD streaming is 1080p. All 4K videos are automatically reduced to 1080p for streaming purposes.</p>
    <p> For best results, we recommend:</p>
    <ul>
      <li>The MP4 container format.</li>
      <li>The H.264 video codec.</li>
      <li>The AAC audio codec.</li>
      <li>A screen aspect ratio of 16:9. More rectangular (4:3) or cinematic (2.39:1) ratios will result in black borders.</li>
      <li>A square pixel aspect ratio of 1:1.</li>
      <li>Progressive frames (i.e. 720p) instead of interlacing (i.e. 720i).</li>
    </ul>
    <h3 id="video-transcoding">Video transcoding</h3>
    <p> To enable faster loading speeds while streaming, we auto-transcode videos after the first successful sale of the product. Depending on the video, it may take from a few minutes to hours for the transcoding to complete. Once completed, you will receive a success email notification from us.</p>
    <p> If your video fails to transcode, please ensure:</p>
    <ol>
      <li>Video specifications are as per the recommendations provided above.</li>
      <li>The file is not corrupt.</li>
    </ol>
    <p> If problems persist, try using a program like <a href="125-how-to-compress-a-video-using-handbrake.html">Handbrake</a> to fix them.</p>
    <h3 id="adding-subtitles">Adding subtitles</h3>
    <p> To add subtitles, open the file drawer by clicking the drop-down arrow next to your file name, and click the "Add subtitles" button.</p>
    <figure><%= image_tag "https://lh4.googleusercontent.com/vDbqG-eJoAmm9CESO_y9RKmEWbPXEdh71tgPi4jln8k_EE8XynvP1QsIGALw97nT7m2Mo-fvUVhNlDXRF0ZX2ckQ8kWGCCggXD3jxCK9q1_e3848xg82NPLhBN3jcGna73oz6HV7E3i6SDrnSZHUe0k", width: 624, height: 369 %></figure>
    <p> We recommend using the .VTT format, but also accept .SRT, .SUB, and .SBV formats.</p>
    <p> If your subtitles do not load as expected, try re-uploading them, swapping them to a different file format, or creating them with different software.</p>
    <h3 id="disable-video-downloads">Disable video downloads</h3>
    <p> When you upload a video file to Gumroad, you can choose to set your video to be downloadable or "stream only." </p>
    <p> Gumroad's stream only feature prohibits customers from downloading your videos, only allowing them to watch on our site. After uploading a video, select the Disable file downloads toggle under each file on the Content tab. </p>
    <figure><%= image_tag "https://lh5.googleusercontent.com/yyhahkQXJ0hx6TkNEjgKmamPc9o3BK2wHmF_z61m9HkrUB3gMquWTphv99zOzlCTpWnmjqYnRQQMtERksyRMoUC1CtB4jv29YO_RypjkIPhl7iqk2JXNuUf6Q4S3Wv36oCpoMUr2ghul2fWLdlHLz1c", width: 507, height: 416 %></figure>
    <p> As an extra security measure, we sign and expire all streaming links to prevent unauthorized sharing and embedding of your film.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
      <li><a href="42-content-security.html"><span>Content protection on Gumroad</span></a></li>
      <li><a href="125-how-to-compress-a-video-using-handbrake.html"><span>Compress videos using Handbrake</span></a></li>
    </ul>
  </div>
</div>
