<% @description = "Gumroad processes all transactions in United States Dollars. That means that you have the flexibility to display your products in the currency of your choosing " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong><em>Gumroad processes all transactions in United States Dollars</em></strong>. </p>
    <p>That means that you have the flexibility to display your products in the currency of your choosing (see below). However, during the checkout process, the transaction will always be converted to USD and will reflect its USD equivalent, not your chosen display currency. Gumroad uses real-time exchange rates to convert purchases to USD for processing.</p>
    <p>In your <a href="http://app.gumroad.com/settings">Settings menu</a>, you can choose the default display currency for new products.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61caeca5d1a2f12bbe21f0f2/file-o4FhZe2MjI.png" %></figure>
    <p><strong>Once the product has been created, the display currency cannot be changed.</strong></p>
    <p>You will need to recreate the product in order to adjust the display currency. </p>
    <p>Customers outside of the US may be subject to an additional fee for international purchases, depending on the policies of their credit card company. If you do set your currency in anything other than USD, you may want to inform your customers of this in your receipt's text.</p>
    <h3>What does this mean for getting paid?  </h3>
    <h3>For all credit/debit card-related sales:</h3>
    <p>If you live in one of the following <a href="13-getting-paid.html#DirectDeposits">direct-deposit countries</a>, Gumroad pays you out in your native currency. All currency conversions happen based on the exchange rates at the time of sale, not at the time of the payout. These are typically mid-market rates that you can estimate <a href="https://dashboard.stripe.com/currency_conversion">here</a>.</p>
    <p>If you live in any other country, we pay you out via PayPal and you will be paid in USD. </p>
    <h3>For all sales made via PayPal &amp; Stripe Connect accounts:</h3>
    <p><a href="275-paypal-connect.html">PayPal Connect</a> and <a href="330-stripe-connect.html#disputes">Stripe Connect</a> allow creators to get paid instantly to their respective accounts whenever someone purchases their product.</p>
    <p>For these sales, payouts will be at the time of sale and will be in the default currency of the creator's account — irrespective of what display currency you have set.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="13-getting-paid.html"><span>Getting paid by Gumroad</span></a></li>
      <li><a href="66-gumroads-fees.html"><span>Gumroad's fees</span></a></li>
      <li><a href="121-sales-tax-on-gumroad.html"><span>Sales tax on Gumroad</span></a></li>
    </ul>
  </div>
</div>
