<% @description = "In this article: Full refund Partial refund PayPal refund After issuing a refund Handling negative balances Refund fees Please only issue refunds from your Gumr" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#full">Full refund</a></li>
      <li><a href="#partial">Partial refund</a></li>
      <li><a href="#paypal">PayPal refund</a></li>
      <li><a href="#after">After issuing a refund</a></li>
      <li><a href="#negative-balace">Handling negative balances</a></li>
      <li><a href="#Refund-fees-hk-4p">Refund fees</a></li>
    </ul>
    <br>
    <div class="callout-red">
      <p>Please only issue refunds from your Gumroad dashboard. Our system does not support refunds issued directly from Stripe or PayPal accounts.</p>
    </div>
    <h3 id="full">Full refund</h3>
    <p>Go to your <a href="https://app.gumroad.com/customers">Sales dashboard</a> and click on the sale to open the customer drawer. Then scroll down and click the <strong>Refund fully</strong> button:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6385991eb3261c24b49eda78/file-v3dx5aMJjS.png" %></figure>
    <p>We charge and refund customers in USD. The amount customers receive back in their local currency may be different than what they initially paid due to differences in exchange rates.</p>
    <br>
    <h3 id="partial">Partial refund</h3>
    <p>To issue a partial refund, enter the amount to be refunded in the ‘Refund’ box and click <strong>Issue partial refund</strong>.  </p>
    <p>Your customer will still have access to their content after a partial refund.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62469f0eab585b230a8a7601/file-nnUgqbE3pw.gif" %></figure>
    <h3 id="paypal">PayPal refund</h3>
    <p>If you refund a <a href="275-paypal-connect.html">PayPal Connect</a> purchase, PayPal keeps its fees on the sale but refunds 100% of the amount to the customer. In this case, you would be responsible for Gumroad and PayPal’s fees.</p>
    <h3 id="after">After issuing a refund</h3>
    <p>Customers receive an email confirmation after a refund is issued. Credit card funds usually take 5-10 business days to appear on the buyer’s account while PayPal refunds are immediate. </p>
    <p>In the case of a full refund, customers will no longer be able to access the content or receive the respective product’s updates.</p>
    <p>Refunding a customer fully will also delete any <a href="222-product-ratings-on-gumroad.html">product rating</a> they've given.</p>
    <h3 id="negative-balace">Handling negative balances</h3>
    <p>If you have less money in your Gumroad balance than the refund amount, your balance will go negative. We recover this negative balance either from your future sales or by debiting your payout bank account.</p>
    <p>Your subsequent payouts will go through only once your net balance goes back above $10.</p>
    <p>If you are planning a large volume of refunds, please <a href="20-how-do-i-contact-gumroad.html#">let us know</a> in advance to prevent account suspension.</p>
    <br>
    <h3 id="Refund-fees-hk-4p">Refund fees</h3>
    <p>We don't refund any <a href="https://gumroad.com/help/article/66-gumroads-fees.html">fees</a> when processing refunds.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="51-what-is-gumroads-refund-policy.html"><span>Gumroad's refund policy</span></a></li>
      <li><a href="42-content-security.html"><span>Content protection on Gumroad</span></a></li>
    </ul>
  </div>
</div>
