<% @description = "Every seller has their own unique needs and principles when it comes to issuing refunds, therefore Gumroad allows and encourages its sellers to set their own re" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Every seller has their own unique needs and principles when it comes to issuing refunds, therefore Gumroad allows and encourages its sellers to <a href="335-custom-refund-policy.html">set their own refund policies</a>.</p>
    <p>That said, Gumroad reserves the right to issue refunds within 90 days of purchase, at its discretion, to prevent chargebacks.</p>
    <p>So, if you want to have a "No refunds" policy, that's fine - but be aware that customers can issue <a href="134-how-does-gumroad-handle-chargebacks.html">chargebacks</a> anytime against their purchases through their credit card processors. And if they do that too often, your account may be in danger of being suspended. </p>
    <p>If a customer is threatening a chargeback, we recommend that you offer them a <a href="47-how-to-refund-a-customer.html#partial">partial refund</a> using the feature we've provided you with. </p>
    <p>Learn more about our terms <a href="http://www.gumroad.com/terms">here</a>.</p>
    <p>And learn more about chargebacks <a href="134-how-does-gumroad-handle-chargebacks.html" rel="nofollow">here</a>.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="47-how-to-refund-a-customer.html"><span>Issuing a refund</span></a></li>
      <li><a href="134-how-does-gumroad-handle-chargebacks.html"><span>Chargebacks on Gumroad</span></a></li>
    </ul>
  </div>
</div>
