<% @description = "To view whether or not a customer has received the emails you've sent, go to your Sales dashboard and select the name of your customer to open up their customer" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>To view whether or not a customer has received the emails you've sent, go to your <a href="https://gumroad.com/customers" target="_blank">Sales</a> dashboard and select the name of your customer to open up their customer drawer. </p>
    <p>If you see a <b>Send missed emails</b> box, that's because the customer signed up for your mailing list after you'd already sent out an email. You can re-send their receipt or send any previous posts they've missed by clicking Send.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/656a28f9f0a5f10af23cfd00/file-99103jC1s0.png" %></figure>
    <p>If you've confirmed that your customer has not received your emails, here are some possible reasons why they might not be getting them:</p>
    <h3>The customer has the wrong email address</h3>
    <p>It's possible that your customer mistyped their email address when purchasing your product. To correct this, go to your Sales dashboard and search for their name or email address. </p>
    <p>In the customer’s drawer, click Edit next to their email address and correct their contact information. Click Save, then Resend Receipt.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62467c0042ba434a7afe2240/file-qUenvWrwpy.gif" %></figure>
    <p>If you can't edit your customer's email address, that is because the user has created a Gumroad account with this email, and unfortunately, we cannot allow you to edit information belonging to another account. Please contact us at <a href="mailto:support@gumroad.com">support@gumroad.com</a> and we will help you get the information changed.</p>
    <h3>The customer has opted out of emails</h3>
    <p>It is possible that your customer has accidentally chosen to opt out of emails from you. You can verify this in two ways: </p>
    <h3>1. In the customer drawer</h3>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/crHPnHPUVgyVEQJk1xfUJAtryoBAuCyzbW1iNcyMgDipF0ygvRNp6EFcr_FkSFX5cx9pRoN_6uFTru2Uj4UCq9Es7Na-GY2BKB2Vc_GCXdt_bOKlPWb37n0mHvIoq8R5e0LjYQJgNO86nn_H9I4CsxM" %></figure>
    <p>In your Sales dashboard, search for your customer's name or email address. You will see a checkmark next to Receives emails under their email address if they are subscribed to emails from you.</p>
    <h3>2. Check the CSV</h3>
    <p>You can also verify this by <a href="74-the-analytics-dashboard.html#sales-csv">exporting your sales CSV</a> from the Sales dashboard.</p>
    <p>In the "Do not contact?" column of your CSV, they will be marked by 1 for TRUE, and 0 for FALSE.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62467d63c1e53608cf9ef32a/file-mJLOJK4eFj.png" %></figure>
    <h3>Check spam folders</h3>
    <p>When in doubt, have your customer check their email's spam folder. </p>
    <h3></h3>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="131-using-workflows-to-send-automated-updates.html"><span>Send automated emails with Workflows</span></a></li>
      <li><a href="169-how-to-send-an-update.html"><span>Send email updates</span></a></li>
    </ul>
  </div>
</div>
