<% @description = "WARNING: Don't use your credit card to purchase your own items...do a test purchase instead! Once you've created a product, you can run a test purchaseto see wh" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <div class="callout-red">
      <p><strong>WARNING:</strong> Don't use your credit card to purchase your own items...do a test purchase instead!</p>
    </div>
    <p>Once you've created a product, you can run a test purchase to see what your customers will experience when they buy from you. This is great for understanding your customers' experience and will help you hone in on areas that perhaps need a little tweaking.</p>
    <p>You can also use the test purchase feature to download your own files and give peace of mind that things are working correctly.</p>
    <p>You will not be charged for anything you buy from yourself while logged into your account. </p>
    <p><strong>Here's how to do a test purchase:</strong></p>
    <ol>
      <li>Stay logged into your Gumroad account. </li>
      <li>Go to your product's page <a href="https://app.gumroad.com/products">here</a>, then click the link beneath the product name to see the purchase page: </li>
    </ol>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61e114f279a38f5473fd3e0c/file-4qSvlVyvvX.png" %></figure>
    <p>3. Next, click the 'I want this!' or the 'Subscribe' button to progress you to the checkout page. </p>
    <p>4. On the checkout page, you should see 'Test card' for the form of payment. It will look like this:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/633bb88305ba014734a372f8/file-rGEPvCWzts.png" %></figure>
    <p>5. Simply click the final 'Pay' button at the bottom to "purchase."</p>
    <p>When your "purchase" is complete, you will receive emails notifying you of both your sale and your purchase. This test sale will not be displayed in your <a href="http://www.gumroad.com/customers">Audience Dashboard</a> alongside your other sales. </p>
    <p>Alternatively, you can also test the purchase using a 100% <a href="128-creating-offer-codes.html">discount code</a>.</p>
    <h3> Why You Shouldn't Pay For Your Own Products</h3>
    <p>Identity thieves will sometimes use payment platforms (Gumroad, Paypal, etc.) to test stolen credit cards - charging themselves on different cards to see which ones can be used for fraud. When you create a product on Gumroad and start charging your own credit card for it, it appears exactly the same as money laundering to our security systems, and your account may be automatically suspended as a result. In the past, users who have encountered this have said that they were merely charging themselves to make sure their payments would work, and that they could, in fact, receive money from Gumroad.</p>
    <p>If you run actual sales on your products, and we discover this, we are required by our banking partners to refund these sales. </p>
    <p>If you are concerned that your bank account or PayPal will not be successfully paid out by Gumroad, please notify us so we can verify that everything is working. Do not attempt to work around the system - just ask! We're nice, we swear!</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
      <li><a href="247-what-your-customers-see.html"><span>The Gumroad Library</span></a></li>
      <li><a href="282-how-do-purchases-work-for-my-customers.html"><span>How Gumroad works for customers</span></a></li>
    </ul>
  </div>
</div>
