<% @description = "Gumroad is perfect for anyone who makes and sells products. Writers, musicians, filmmakers, SaaS developers, educators (and all in-between) can sell on Gumroad " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>Gumroad is perfect for anyone who makes and sells products. Writers, musicians, filmmakers, SaaS developers, educators (and all in-between) can sell on Gumroad to a worldwide audience. </p>
    <h3>Simple setup, powerful sales</h3>
    <p>Once you create an account, you can start selling products on Gumroad quickly.</p>
    <p>Just <a href="149-adding-a-product.html">choose a product type</a> and start creating:</p>
    <figure><%= image_tag "help_center/start-creating.png" %></figure>
    <p>Once your product is live, send your audience to your Gumroad <a href="124-your-gumroad-profile-page.html">profile page</a> or place products <a href="44-build-gumroad-into-your-website.html">on your website</a> to start selling.</p>
    <h3>Managing customers and sales</h3>
    <p>Gumroad allows you to interact with your audience through <a href="169-how-to-send-an-update.html">emails</a>, <a href="131-using-workflows-to-send-automated-updates.html">drip content</a>, <a href="170-audience.html">growing followers</a>, and access to <a href="74-the-analytics-dashboard.html">sales data</a>.</p>
    <p>Not only that, it’s easy to <a href="47-how-to-refund-a-customer.html">issue refunds</a>, update product content, create <a href="128-creating-offer-codes.html">discount codes</a>, and <a href="333-affiliates-on-gumroad.html">add affiliates</a>. Read more about interacting with customers <a href="169-how-to-send-an-update.html">here</a>.</p>
    <h3>Grow your audience on Discover</h3>
    <p>Your Gumroad profile and website aren’t the only places where you can make sales. With <a href="79-gumroad-discover.html">Discover</a>, your products can appear on our site-wide marketplace. Discover works by recommending your products from search and getting you more customers beyond your typical audience.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63b6b192d0b6de7e3be2a5ec/file-n0TJUXHpcG.png" %></figure>
    <h3>A secure purchasing environment </h3>
    <p>All credit card information is processed in a PCI-compliant environment certified by an independent auditor.</p>
    <p>Every purchase on Gumroad takes place on an encrypted HTTP secure connection.</p>
    <p>Your customers' download links are secure and require email verification if repeatedly used. </p>
    <h3>Fees</h3>
    <p><a href="66-gumroads-fees.html">Gumroad seller fees</a> are simple. We only charge a fee when you make a sale – no extra monthly charges. </p>
    <h3>Get Paid</h3>
    <p>As long as you are able to receive money through PayPal, you can use Gumroad. Residents of some countries are able to <a href="13-getting-paid.html">receive weekly payouts</a> to their bank accounts.</p>
    <p>If you are <em>unable</em> to receive money through PayPal because PayPal doesn't work in your country, then we have no way to pay you, as we don't have alternate payment methods for people in this situation right now.</p>
    <h3>Need help getting from $0 to $1?</h3>
    <p>Check out any of our following free resources:</p>
    <ul>
      <li><a href="https://gumroad.com/university" target="_blank">How to use Gumroad</a> - learn the ropes of selling online</li>
      <li>The <a href="https://gumroad.gumroad.com/?section=o4PMUt5fxAqrAJY-iUaBCQ%3D%3D" target="_blank">Gumroad Blog</a> and Gumroad's High Converting <a href="https://gumroad.com/gumroad" target="_blank">Sales Page Course</a></li>
      <li>Inspiring Stories from the <a href="https://www.youtube.com/@GumroadUniversity/videos" target="_blank">Gumroad Podcast</a></li>
      <li>Our page of <a href="https://gumroad.com/gumroadhelp" target="_blank">free product examples</a> - see how products work from a customer's perspective</li>
      <li><a href="155-things-you-cant-sell-on-gumroad.html" target="_blank">Things that are not allowed on Gumroad</a></li>
    </ul>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="66-gumroads-fees.html"><span>Gumroad's fees</span></a></li>
      <li><a href="155-things-you-cant-sell-on-gumroad.html"><span>Things not allowed on Gumroad</span></a></li>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
    </ul>
  </div>
</div>
