<% @description = "Gumroad's fees are simple  For sales made on Gumroad's website, we charge a 10% + $0.50 fee per transaction. This does not include:  Credit card processing  PayPal fees There are " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <br>
    <h3 id="Gumroads-fees-are-simple--EFxXf">Gumroad's fees are simple </h3>
    <p>For sales made on Gumroad's website, we charge a 10% + $0.50 fee + <a href="https://gumroad.com/pricing">sales tax</a> per transaction. This does not include: </p>
    <ul>
      <li>Credit card processing (2.9% + $0.30)</li>
      <li><a href="https://www.paypal.com/us/webapps/mpp/merchant-fees" target="_blank">PayPal fees</a></li>
    </ul>
    <p>Sales made through Gumroad's marketplace (discovery sales via Gumroad.com) are subject to a flat 30% fee, which includes all processing fees.</p>
    <p>There are no monthly payments or other hidden charges.</p>
    <p>If you wish to see the exact fees taken out on every sale, you can <a href="74-the-analytics-dashboard.html#sales-csv">export a CSV of your sales</a>, giving a full breakdown of every sale.</p>
    <h3 id="Affiliates-sW9pK">Affiliates</h3>
    <p>For <a href="333-affiliates-on-gumroad.html">affiliates</a>, fees on affiliate purchases are split between the affiliate and the creator proportional to the affiliate's commission. For example, if an affiliate's commission is 30%, they'll be responsible for 30% of the fees on the purchase.</p>
    <h3 id="Refunds-aSEwt">Refunds</h3>
    <p>We don't refund any fees when processing refunds. Learn more about refunds <a href="https://gumroad.com/help/article/47-how-to-refund-a-customer.html">here</a>.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="13-getting-paid.html"><span>Getting paid by Gumroad</span></a></li>
      <li><a href="121-sales-tax-on-gumroad.html"><span>Sales tax on Gumroad</span></a></li>
      <li><a href="11-us-sales-tax-on-gumroad.html"><span>US sales tax on Gumroad</span></a></li>
      <li><a href="46-what-currency-does-gumroad-use.html"><span>What currency does Gumroad use?</span></a></li>
    </ul>
  </div>
</div>
