<% @description = "If your customer did not receive a receipt from you, here are a few common reasons why.  Reason #1: Their purchase did not go through properly Sometimes a credi" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p> If your customer did not receive a receipt from you, here are a few common reasons why. </p>
    <h3>Reason #1: Their purchase did not go through properly</h3>
    <p> Sometimes a credit card or PayPal charge shows a purchase being successful or "pending" when it has, in fact, failed. You can verify this by going to your <a href="http://www.gumroad.com/customers">customers tab</a> and <strong>searching</strong> for their name or email address...</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624a7545ab585b230a8a7fd9/file-HGPe9iY05h.png" %></figure>
    <p> ...Or browsing through the purchases by date. </p>
    <p> If you don't see them in there, that means their purchase was never completed. </p>
    <p><strong>If this is the case</strong>, the charge on their statement will disappear in a few days.</p>
    <h3>Now what?</h3>
    <p> The customer needs to go to the URL of your product and try buying it again. <a href="136-find-your-products-url.html">Here's how to find the URL of your product</a>.</p>
    <p> If the customer used PayPal, and can see, on their <strong>PayPal Statement</strong>, an <strong>Invoice ID</strong>, that means the payment is still <strong>pending</strong> and it needs to be pushed through to be successful or failed. The invoice ID will look something like this:</p>
    <p><strong>ZvJJJFOVCH9fwLiHzE3AHpg==</strong></p>
    <p> A string of letters and numbers followed by two equals signs.</p>
    <p> If this is the case, the customer needs to reach out to us via the Contact form on our <a href="/help">Help Center</a> telling us that Invoice ID, so we can fix this.</p>
    <h3>Reason #2: They mis-typed their email address at checkout</h3>
    <p> Go to the customers tab and search for their name or email address, letter by letter. If you find it and they did in fact mistype the email, here's how to fix this:</p>
    <p> Click the customer's name or email address. A slide-out menu will pop out from the right.</p>
    <p> Click the Edit button next to their email address to edit it, and correct their contact information and click Save.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62467c0042ba434a7afe2240/file-qUenvWrwpy.gif" %></figure>
    <p><strong></strong>Now scroll down to the <strong>Emails received </strong>section and resend them all the emails they missed. You can click <strong style="background-color: initial;">Resend receipt</strong> to resend their receipt. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624a7660ab585b230a8a7fdc/file-PMHFvYKLLj.png" %></figure>
    <p><strong style="background-color: initial;">BUT</strong>.<strong style="background-color: initial;">.. There is not Edit button next to the customer's email. Why?</strong></p>
    <p> This means that the customer created an account after they purchased the product, using the mistyped email address. The reason we don't let you edit the address of an account on Gumroad is because this kind of power in the hands of creators could be easily abused. By changing the address of an account, a creator could log into that account and make purchases with that account's payment information.</p>
    <p><strong>So! What you can do is let us fix this:</strong></p>
    <p> Send us an email telling us: <br>
      1. The email address they used at purchase <br>
      2. What it should be changed to</p>
    <p> And we'll set this straight!</p>
    <h3>Reason #3: Their email server is blocking Gumroad emails from being delivered</h3>
    <p> You can verify this by going to the customers tab, searching for their name or address. </p>
    <p> Click their purchase and scroll down to the <strong>Emails received </strong>section.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624a774e2ce7ed0fb091cd44/file-gJ3HeTiAd5.png" %></figure>
    <p> You will see either <strong>Sent, Delivered,</strong> or <strong>Opened </strong>underneath each message or receipt<strong>.</strong> </p>
    <p> If you see <strong>Sent</strong> or <strong>Delivered</strong>, it is likely that the email did reach their inbox, or is behind a firewall in their email server.</p>
    <h3>Here's what to do:</h3>
    <h4>Option 1: Send the email to a different address</h4>
    <p> See the above description for how to do that. Ask the customer for a different email address to send the receipt to, then resend their receipt. If you can't change their email address, email us.</p>
    <h4>Option 2: Print the receipt yourself</h4>
    <p> Click the "receipt" link and you'll get sent to a new tab. This is the exact receipt your customers will receive in their email inbox. </p>
    <p> You can print this receipt as a PDF and send it to them.</p>
  </div>
</div>
