<% @description = "You can change the URL of your product by editing the gray text under the product description on the edit page. For example, you can change: annagreen.gumroad.c" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>You can change the URL of your product by editing the gray text under the product description on the edit page. For example, you can change:</p>
    <p></p>
    <p>annagreen.gumroad.com/l/<b>QaSmj </b></p>
    <p>to </p>
    <p>annagreen.gumroad.com/l/<b>poetryclub</b></p>
    <figure><%= image_tag "https://lh6.googleusercontent.com/zljKufCmS0GdSXxRzz6mGOQOZoOhigO6TMfJ9CedSNEbuT8dWdR3oPhfVQrMdQFsW1y9APs2oo0efK32s1t1a2f889yfpIjCwKRV5KuvSoNHKetRI0km11Fwu6NbEvE7kp1YOfXbF2HjMLEU5ftz63M", width: 503, height: 448 %></figure>
    <br>
    <p>You can update this link at any time, but your previous custom URL will <span>not</span> redirect to the new custom URL. </p>
    <p>Your default Gumroad product link (annagreen.gumroad.com/l/QaSmj in this case) will continue to work as well.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="153-setting-up-a-custom-domain.html"><span>Setting up a custom domain</span></a></li>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
    </ul>
  </div>
</div>
