<header class="secondary-navigation-wrap secondary-navigation">
  <h1>Settings</h1>
  <% if current_page?(:settings_advanced) %>
    <div class="actions">
      <button class="button accent submit" data-loading="Updating..." type="submit" form="advanced-settings-form">
        <div class="icon icon-save"></div>
        <div class="js-text">Update settings</div>
      </button>
    </div>
  <% end %>
  <div class="container" role="tablist">
    <% settings_presenter.pages.each do |page| %>
      <% path = self.send(:"settings_#{page}_path") %>
      <% active = current_page?(path) || (page == "advanced" && current_page?(controller: "oauth/applications", action: "edit", id: "")) %>
      <a class="secondary-navigation__trigger <%= 'active' if active %>" role="tab" aria-selected="<%= 'true' if active %>" href="<%= path %>">
        <%= settings_presenter.page_title(page) %>
      </a>
    <% end %>
  </div>
</header>
