<html>
  <head>
    <title>Embed test</title>
    <script src="/js/gumroad-embed.js"></script>
  </head>
  <body>
    <div id="main-container" style="position:relative;height:2000px;width:600px">
      <div id="post-message-data"></div>
      <h2>What is Lorem Ipsum?</h2>

      <div style="width: 500px;">
        <div class="embed-container">
          <div class="gumroad-product-embed" data-gumroad-product-id="<%= unique_permalink %>">
            <a href="<%= url %>">Loading...</a>
          </div>
        </div>

        <p>
          <strong>
            Lorem Ipsum
          </strong>
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <strong>
            Lorem Ipsum
          </strong>
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </body>
</html>
