<div class="js-customers-loading" role="progressbar"></div>
<div class="js-customers-section" data-section="<%= section %>" style="display:none">
  <div class="customers-list">
    <div class="customer-column js-customer-column">
      <table>
        <caption>
          <span class="js-customer-detail-heading"><%= heading %></span>
          <span class="js-customer-count">(<%= number_with_delimiter(count) %>)</span>
        </caption>
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Product</th>
            <th>Purchase Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody class="js-customer-section-table-body" data-<%= data %>></tbody>
      </table>
    </div>

    <aside class="drawer-column customer-drawer js-customer-drawer" style="display: none"></aside>
  </div>

  <% if defined?(show_more) %>
    <button class="button load-more-customers primary button-block js-load-more-customers-trigger" style="width:fit-content;margin-top:var(--spacer-5)">
      Load more
    </button>
  <% end %>
</div>
