<%= header_section("Weekly UPC Users Sales") %>

<div>
  <% if @product_upc_hash.any? %>
    <p>The following products have made US based sale(s) in the last week:</p>
    <% @product_upc_hash.each do |product_id, us_sales_count| %>
      <p>
        <%= link_to(h(Link.find_by_id(product_id).name || user_id.to_s), admin_product_url(product_id)) %>
        路 US Sales:
        <strong><%= us_sales_count %></strong>
        路 Missing Zips:
        <%= @product_zip_mismatch_hash[product_id] %>
        <% if Link.find_by_id(product_id).is_physical %>
          路 Physical
        <% else %>
          路 Digital
        <% end %>
      </p>
    <% end %>
  <% else %>
    <p>There are no UPC users sales this week :(</p>
  <% end %>
</div>
