<main class="stack single-page-form">
  <header>
    <h2>You have been unsubscribed.</h2>
    <p>You will no longer get posts from this creator.</p>
  </header>
</main>
<% content_for :footer do %>
  <%= default_footer_content %>
<% end %>
