<main class="stack single-page-form">
  <header>
    <h2>Followed!</h2>
    <p>Check your inbox to confirm your follow request.</p>
  </header>
</main>
<% content_for :footer do %>
  <%= default_footer_content %>
<% end %>
