@import "../stylesheets/tailwind.css";

@import "../stylesheets/colors";
@import "../stylesheets/definitions";
@import "../stylesheets/font";
@import "../stylesheets/global";
@import "../stylesheets/icon_names";
@import "../stylesheets/icons";

@import "../stylesheets/alert";
@import "../stylesheets/big_link";
@import "../stylesheets/button";
@include buttons;
@import "../stylesheets/card";
@import "../stylesheets/containers";
@import "../stylesheets/dropdown";
@import "../stylesheets/figure";
@import "../stylesheets/forms";
@import "../stylesheets/nav";
@import "../stylesheets/pagination";
@import "../stylesheets/pill";
@import "../stylesheets/placeholder";
@import "../stylesheets/progress";
@import "../stylesheets/rows";
@import "../stylesheets/separator";
@import "../stylesheets/stack";
@import "../stylesheets/tabs";
@import "../stylesheets/table";
@import "../stylesheets/tooltip";

@import "../stylesheets/layout";

@import "../stylesheets/legacy";
