.help-center-article h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0.5rem;
}

.help-center-article p {
  margin: 0 0 1rem;
}

.help-center-article ul,
.help-center-article ol {
  margin: 0 0 1rem 1.5rem;
}

.help-center-article li {
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

.help-center-article a {
  text-decoration: underline;
}

.help-center-article figure {
  margin: 1.5rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-center-article figure img {
  max-width: 100%;
  height: auto;
}
