<%= header_section(@subject) %>
<div>
  <p>
    We're happy to let you know that <%= [@receiver.name.presence, @receiver.email].reject(&:blank?).join(" - ") %> has joined Gumroad from your referral.
  </p>
  <p>
    Thanks for spreading the good word!
  </p>
</div>
