$alert-icons: (
  success: "solid-check-circle",
  danger: "x-circle-fill",
  warning: "solid-shield-exclamation",
  info: "info-circle-fill",
);
[role="alert"],
[role="status"] {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  padding: spacer(3);
  gap: spacer(2);
  border: $border;
  border-radius: border-radius(1);

  @each $name in $states {
    &.#{$name} {
      @include bg-bordered($name);

      &::before {
        @extend %icon, .icon-#{map-get($alert-icons, $name)};
        width: 1lh;
        color: full-color($name);
        grid-column: -3;
      }
    }
  }

  .close {
    align-self: center;
    grid-column: 1;
    @include breakpoint-up(sm) {
      grid-column: 2;
    }
  }
}
