[role="application"] {
  display: flex;
  flex-direction: column;
  height: 100%;

  [role="menubar"] {
    display: flex;

    & > * {
      display: flex;
      align-items: center;
      padding: spacer(4);
      gap: spacer(1);
      @include font-size(1);

      &:not(:last-child) {
        border-right: $border;
      }

      @include breakpoint-up(sm) {
        font-size: inherit;
        line-height: inherit;
      }
    }

    h1 {
      @include text-singleline;
      font-size: inherit;
      line-height: inherit;
    }
  }

  [role="document"] {
    flex-grow: 1;
    @include bg-color(filled);
  }
}
