aside {
  overflow: auto;
  @include bg-color(filled);
  padding: spacer(5);
  gap: spacer(4);
  grid-auto-rows: max-content;
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-menubar);
  width: 100%;

  @include breakpoint-up(lg) {
    border-left: $border;
    grid-column: 2;
    width: 40vw;
  }

  & > header {
    display: flex;
    justify-content: space-between;
    gap: spacer(4);

    h2 {
      @include text-singleline;
    }
  }

  .close {
    margin-left: auto;
    &::after {
      @extend %icon, .icon-x;
    }
  }
}

.fixed-aside {
  aside {
    display: none;
  }

  @include breakpoint-up(lg) {
    aside {
      display: grid;
      position: relative;
      width: 30vw;

      .close {
        display: none;
      }
    }

    &.sidebar-nav {
      header.sticky-top,
      main > header {
        padding-right: $body-padding-desktop;
      }
    }
  }
}
