.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: spacer(3);

  [role="toolbar"] {
    display: flex;
    align-items: center;
    gap: spacer(2);
    @include font-size(4);
  }

  input[type="range"] {
    flex-grow: 1;
  }

  time {
    font-variant-numeric: tabular-nums;
    @include font-size(1);
  }
}
