.chart {
  position: relative;
  padding: spacer(5);
  border: $border;
  border-radius: border-radius(1);
  @include bg-color(filled);

  .line {
    fill: none;
    stroke: full-color(accent);
    stroke-width: size(0.125);
  }

  .point {
    stroke: none;
    fill: full-color(accent);
  }

  .domain {
    stroke: currentColor;
  }

  .bar {
    fill: gray(1);
    &.level2 {
      fill: currentColor;
    }
    &.highlight {
      fill: gray(2);
      border-color: full-color(accent);
    }
  }

  .has-tooltip {
    position: absolute;
    time {
      display: block;
      font-weight: bold;
    }
  }
}
