.input-with-button {
  display: grid;
  grid-auto-flow: column;
  gap: spacer(3);
  grid-template-columns: 1fr;
  grid-auto-columns: max-content;
  align-items: center;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: spacer(4);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: spacer(2);
}
