.discover {
  section.carousel-section {
    display: grid;
    gap: spacer(4);

    > header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .actions {
        display: flex;
        align-items: center;
        gap: spacer(2);

        button {
          font-size: $big-icon-size;
        }
      }
    }

    .carousel > .items {
      align-items: unset;
      display: grid;
      grid-auto-flow: column;
      gap: spacer(5);
      grid-auto-columns: min(#{size(20)}, 60vw);
      min-height: size(24);
      padding-bottom: spacer(1);

      figure {
        aspect-ratio: 1;
      }

      @include breakpoint-up(lg) {
        grid-auto-columns: size(40);
      }
    }
  }

  .product-cta {
    @include breakpoint-up(md) {
      padding: spacer(4) $body-padding-desktop;
    }
  }
}
