figure.code {
  border: $border;
  @include bg-color(filled);
  border-radius: border-radius(1);
  overflow: hidden;

  figcaption {
    padding: spacer(4);
  }

  pre {
    padding: spacer(4);
    background-color: gray(1);
    overflow-x: auto;
  }

  > :not(:first-child) {
    border-top: $border;
  }
}
