@keyframes loading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}

.grid:not(.override) {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(min(var(--min-grid-absolute-size), 100%), var(--max-grid-relative-size) - #{spacer(4)}), 1fr)
  );
  gap: spacer(4);

  .dummy {
    padding-bottom: 100%;
  }
}
