.image-uploader {
  display: grid;
  grid-template-columns: size(12.5) 1fr;
  gap: spacer(5);

  & > figure,
  .placeholder {
    aspect-ratio: 1;
  }

  & > figure {
    position: relative;

    & > img {
      @include bg-color(filled);
      border-radius: border-radius(1);
      border: $border;
      width: 100%;
      height: 100%;
    }

    & > .remove {
      position: absolute;
      top: spacer(2);
      right: spacer(2);
    }
  }

  .placeholder {
    align-items: center;
  }
}
