dialog {
  @include bg-color(filled);
  border: $border;
  box-shadow: box-shadow(2);
  border-radius: border-radius(1);
  padding: spacer(6);
  // cannot use display: grid here because safari
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: z-index(modal);
  width: fit-content;
  min-width: size(20);
  max-width: size(43.75);
  gap: spacer(4);

  &::backdrop {
    background: $backdrop-bg;
  }

  &:not([open]) {
    display: none;
  }

  & > h2 {
    display: flex;
    justify-content: space-between;
    gap: spacer(4);
    align-items: flex-start;

    .close::after {
      @extend %icon, .icon-x;
      @include font-size(2);
    }
  }

  & > footer {
    display: grid;
    gap: spacer(4);

    @include breakpoint-up(sm) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
