.onboarding-page {
  grid-auto-flow: column;

  .logo-full {
    grid-column: 1;
  }

  .actions {
    grid-column: 2;
  }

  h1 {
    white-space: initial;
    grid-column: 1/-1;
  }

  main {
    & > * {
      border: 0;
    }

    & > header {
      row-gap: $header-padding-y + $body-padding-mobile;
      padding-top: $body-padding-mobile;

      @include breakpoint-up(lg) {
        row-gap: $body-padding-desktop;
        padding-top: $body-padding-desktop;
        padding-bottom: 0;
      }
    }
  }

  aside {
    display: none;
  }

  @include breakpoint-up(lg) {
    aside {
      display: grid;
      position: relative;

      > img:only-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
