[role="navigation"].pagination {
  display: flex;
  gap: spacer(2);
  width: 100%;
  justify-content: center;

  menu {
    display: none;
  }

  @include breakpoint-up(lg) {
    menu {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      gap: spacer(2);
    }
  }
}
