$pill-icons: (
  dismissable: "x",
  expandable: "outline-cheveron-down",
);

.pill {
  display: inline-block;
  vertical-align: middle;
  padding: spacer(2) spacer(3);
  @include bg-color(filled);
  border: $border;
  border-radius: border-radius(3);
  @include text-singleline;

  &.small {
    border-radius: border-radius(1);
    padding: spacer(1);
    @include font-size(1);
  }

  @each $name in $bg-colors {
    &.#{$name} {
      @include bg-color($name);
      border-color: full-color($name);
    }
  }

  &.select {
    @extend .expandable;
    position: relative;

    select {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  @each $kind, $icon in $pill-icons {
    &.#{$kind} {
      cursor: pointer;

      &::before {
        @extend %icon, .icon-#{$icon};
        float: right;
        margin-left: spacer(2);
      }
    }
  }
}
