.price {
  $dent-width: 1em;
  $padding-x: spacer(2);
  $padding-y: spacer(1);

  display: block;
  padding: $padding-y $padding-x;
  padding-right: calc($padding-x + $dent-width);
  color: full-color(contrast-accent);
  position: relative;
  border: $border;
  border-right: 0;
  background-image: linear-gradient(to left, transparent #{$dent-width}, full-color(accent) #{$dent-width});
  background-repeat: no-repeat;
  @include text-singleline;

  &::before,
  &::after {
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    border-style: solid;
    border-width: calc(#{$padding-y} + 0.5lh);
  }

  &::before {
    border-color: $border-color;
    right: 0;
    border-left-width: $border-width;
  }

  &::after {
    border-color: full-color(accent);
    right: $border-width;
    border-left: none;
  }

  &::before,
  &::after {
    border-right: solid transparent $dent-width;
  }
}
