.with-sidebar {
  display: grid;
  gap: spacer(6) spacer(8);
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-auto-columns: 3fr;

  &.right {
    grid-template-columns: 2fr;
    grid-auto-columns: 1fr;
  }

  @include breakpoint-up(lg, true) {
    grid-auto-flow: column;

    > .sticky-top {
      max-height: min(100%, 100vh);
      position: sticky;
      top: 0;
      overflow-y: auto;
    }
  }
}
