.stats-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      max(
        min(100%, ($grid-wrap-breakpoint - 100%) * 1000),
        min(50% - size(1), ($grid-wrap-breakpoint * 2 - 100%) * 1000)
      ),
      1fr
    )
  );
  gap: spacer(4);
}

.stats {
  @include font-size(5);
  padding: spacer(5);
  border: $border;
  border-radius: border-radius(1);
  display: inline-grid;
  align-content: space-between;
  gap: spacer(2);
  @include bg-color(filled);

  h2 {
    display: flex;
    gap: spacer(2);
    @include font-size(2);
  }

  @each $name in $states {
    &.#{$name} {
      color: full-color($name);
    }
  }
}
