<main class="stack single-page-form horizontal-form">
  <header>
    <h2>The creator can now contact you.</h2>
    <p>You will start receiving posts from this creator again.</p>
  </header>
</main>
<% content_for :footer do %>
  <%= default_footer_content %>
<% end %>
