<%= header_section("You have been refunded.") %>
<div>
  <p>Your purchase of <%= @purchase.link_name %> for <%= @purchase.formatted_total_transaction_amount %> on Gumroad has been fully refunded. It may take up to 3-7 days to show up in your account.</p>
</div>
