<div>
  <h2>You're no longer receiving sales. Here's what happened and how to fix it.</h2>
  <p>We have temporarily disabled payments on your account because our payments processor requires more information about you. Since we're subject to their policies, we need to ask you to submit additional documentation.</p>
  <p>To resume sales:</p>
  <ol>
    <li>Submit the required documentation</li>
    <li>We'll review your information</li>
  </ol>
  <p>Once the verification is successful, which takes around one week, we'll immediately start processing your payments again.</p>
  <p>Thank you for your patience and understanding.</p>
</div>
