<div class="flex flex-col-reverse md:flex-row gap-8 md:gap-16">
  <div class="md:pt-8 md:pr-8">
    <h3 class="font-semibold mb-4">Categories</h3>
    <ul class="space-y-4 list-none !pl-0">
      <% categories.each do |category| %>
        <li>
          <%= link_to category.title, category, class: { "font-bold": category == active_category } %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="flex-1 bg-[rgb(var(--filled))] border border-[rgb(var(--parent-color)/var(--border-alpha))] p-8 rounded flex-grow">
    <h2 class="text-3xl font-bold mb-6"><%= title %></h2>
    <%= yield %>
  </div>
</div>
