<%
  variant_classes = {
    'light' => 'bg-black text-white',
    'dark' => 'bg-white text-black',
    'pink' => 'bg-pink text-black'
  }

  size_classes = {
    'small' => 'h-12 px-3 text-base lg:h-12 lg:px-6 lg:text-base',
    'default' => 'h-14 px-8 text-xl lg:h-16 lg:px-10 lg:text-xl'
  }

  button_classes = "relative inline-flex rounded no-underline items-center justify-center border border-black transition-all duration-150 group-hover:-translate-x-2 group-hover:-translate-y-2 z-[3] w-full lg:w-auto #{size_classes[local_assigns[:size] || 'default']} #{variant_classes[local_assigns[:variant] || 'light']}"
%>

<div class="relative inline-block group">
  <div class="absolute inset-0 rounded bg-yellow border border-black transition-transform duration-150 z-[2]"></div>
  <div class="absolute inset-0 rounded bg-red border border-black transition-transform duration-150 group-hover:translate-x-2 group-hover:translate-y-2 z-[1]"></div>
  <% if local_assigns[:type] == "submit" %>
    <%= button_tag type: "submit", class: button_classes do %>
      <%= text %>
    <% end %>
  <% else %>
    <%= link_to url, class: button_classes do %>
      <%= text %>
    <% end %>
  <% end %>
</div>
