<div class="flex flex-col items-center justify-center text-center border-t border-black bg-pink gap-8 px-8 py-16 lg:px-[4vw] lg:py-24 lg:gap-16">
  <h2 class="text-4xl font-medium sm:text-5xl lg:text-7xl">
    Share your work. <br> Someone out there needs it.
  </h2>
  <%= render "home/shared/button", text: "Start selling", url: new_user_registration_path %>
</div>
