<main class="single-page-form horizontal-form">
  <header>
    <h1>Affiliates</h1>
  </header>
  <div>
    <div class="placeholder">
      <h2><%= @message %></h2>
      <div>You can always check all your affiliate requests <%= link_to "here", affiliates_path %>.</div>
    </div>
  </div>
</main>
