<%= render("shared/preheader_text", text: @installment.truncated_description) %>
<%= header_section(post_title_displayable(post: @installment)) %>
<div class="rich-text">
  <%= raw Rinku.auto_link(@installment.message_with_inline_syntax_highlighting_and_upsells&.html_safe, :all, 'target="_blank" rel="nofollow"') %>
</div>
