<h3>How does Gumroad know if you referred a customer?</h3>
<p>
  When a customer clicks one of the links above, we'll place a cookie on their device.
  If they make a purchase within 30 days of that initial visit, you will receive credit for that sale.
</p>
<h3>How do you place these products on your website?</h3>
<p>
  You can place a
  Gumroad buy button or embed the affiliated products within your page. Read more
  here:
  <%= link_to "Read more", "#", clicktracking: "off", data: { helper_prompt: "How do I build Gumroad into my website?" } %>.
</p>
<h3>Anything else?</h3>
<p>
  Just that by sharing
  the link above, you agree to the terms in our Affiliate Program. Read more here:
  <%= link_to "Read more", "#", clicktracking: "off", data: { helper_prompt: "What are the terms of the Affiliate Program?" } %>
  <%= link_to HomePageLinkService.affiliates, HomePageLinkService.affiliates, clicktracking: "off" %>
</p>
