<div>
  <img src="<%= @seller.avatar_url %>" class="user-avatar header-badge" style="width: 3em;">
  <h2 style="text-align: center;"><%= @subject %></h2>
</div>
<div>
  <p><%= @seller_name %> has removed you as a collaborator. If you feel this was done accidentally, please reach out to <%= @seller_name %> directly.</p>
</div>
