<%= header_section(@subject) %>
<div>
  <p><%= @seller_name %> has removed you from their affiliate program. If you feel this was done accidentally, please reach out to <%= @seller_name %> directly.</p>
  <p>Thanks for being a part of the team.</p>
</div>
