<%= load_pack("admin_review") %>

<div class="paragraphs">
  <% if @users.any? %>
    <% @users.each do |user| %>
      <%= render("admin/users/user", user: user, is_affiliate_user: false) %>
    <% end %>
  <% else %>
    <%= render("admin/empty_state", message: "No users found.") %>
  <% end %>
</div>
