<% if @canonical_url %>
<% content_for :meta do %>
<link href="<%= @canonical_url %>" rel="canonical">
<% end %>
<% end %>

<%= load_pack("discover") %>
<div>
  <%= react_component "Discover", props: @react_discover_props, prerender: true %>
</div>

<%= render "home/shared/footer" %>
