<main>
  <div class="main-app-content main-content">
    <form>
      <section class="container">
        <header>
          <h3>Gumroad Ping</h3>
        </header>
        <div class="paragraphs">
          <p>Gumroad Ping is a simple alert that notifies you in real time whenever one of your products is purchased.</p>
          <div>
            <p>For example, you can use Gumroad Ping to:</p>
            <ul id="about-list">
              <li>
                <span>Thank the purchaser publicly on your website.</span>
              </li>
              <li>
                <span>Generate QR codes.</span>
              </li>
              <li>
                <span>Create an account for them on your own platform.</span>
              </li>
            </ul>
          </div>
          <p>
            The ping comes in the form of an HTTP POST request to the URL that you specify in your
            <%= link_to("account settings.", settings_advanced_path) %>
            The payload is x-www-form-urlencoded. If your endpoint does not return a 200 HTTP status code, the POST is retried once an hour for up to 3 hours.
          </p>
          <p>
            In each request, Gumroad sends the parameters in the table below.
          </p>
          <p>
            You can also use our API and
            <%= link_to("subscribe", api_path(anchor: "resource-subscriptions")) %>
            to be notified of future sales.
          </p>
          <p>You can pass unique URL parameters by adding them to any Gumroad product URL. If passed, they will show up in the url_params dictionary as seen below.</p>
          <p>For security reasons we highly recommend that you use an HTTPS endpoint as your URL.</p>
        </div>

        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" data-label="Parameter">sale_id</th>
                <td data-label="Description">The id of the sale</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">sale_timestamp</th>
                <td data-label="Description">The timestamp of the sale</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">order_number</th>
                <td data-label="Description">Numeric version of sale_id</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">seller_id</th>
                <td data-label="Description"></td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">product_id</th>
                <td data-label="Description"></td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">product_permalink</th>
                <td data-label="Description"></td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">short_product_id</th>
                <td data-label="Description">Unique identifier for the product</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">product_name</th>
                <td data-label="Description"></td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">email</th>
                <td data-label="Description">The email of the buyer</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">url_params</th>
                <td data-label="Description">{'source_url' : 'https%3A%2F%2Fgumroad.com%2Fwidgets', 'campaignid' : 'c123', 'userid' : '456', 'version' : '1.4.5' }</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">full_name</th>
                <td data-label="Description">If present, the name of the buyer</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">purchaser_id</th>
                <td data-label="Description">The id of the purchaser's Gumroad account, if the purchaser has one</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">subscription_id</th>
                <td data-label="Description">The id of the subscription, if the purchase is part of a subscription</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">ip_country</th>
                <td data-label="Description">If present, the country of the buyer's IP address</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">price</th>
                <td data-label="Description">The price paid, in USD cents</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">recurrence</th>
                <td data-label="Description">If present, the recurrence of the payment option chosen by the buyer such as 'monthly', 'yearly', etc</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">variants</th>
                <td data-label="Description">If present, a dictionary {'size' : 'large', 'color' : 'red'}</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">offer_code</th>
                <td data-label="Description">If present</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">test</th>
                <td data-label="Description">If you are buying your own product, for testing purposes</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">custom_fields</th>
                <td data-label="Description">If present, a dictionary {'name' : 'john smith', 'spouse name' : 'jane smith'}</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">shipping_information</th>
                <td data-label="Description">If present, a dictionary</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">is_recurring_charge</th>
                <td data-label="Description">If relevant, a boolean</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">is_preorder_authorization</th>
                <td data-label="Description">If relevant, a boolean</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">license_key</th>
                <td data-label="Description">If licenses are enabled for the product</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">quantity</th>
                <td data-label="Description"></td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">shipping_rate</th>
                <td data-label="Description">The shipping paid, in USD cents, if the product is a physical product</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">affiliate</th>
                <td data-label="Description">If present, the affiliate's email address</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">affiliate_credit_amount_cents</th>
                <td data-label="Description">If present, the amount paid to the affiliate in USD cents</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">is_gift_receiver_purchase</th>
                <td data-label="Description">true if a gift, false otherwise</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">gifter_email</th>
                <td data-label="Description">Email address of gifter</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">gift_price</th>
                <td data-label="Description">The price paid by the gifter, in USD cents</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">refunded</th>
                <td data-label="Description">true if this sale has been refunded, false otherwise</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">discover_fee_charged</th>
                <td data-label="Description">true if this sale was subject to Gumroad Discover fees, false otherwise</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">can_contact</th>
                <td data-label="Description"></td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">referrer</th>
                <td data-label="Description"></td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">gumroad_fee</th>
                <td data-label="Description">Gumroad's fee, in USD cents</td>
              </tr>
              <tr>
                <th scope="row" data-label="Parameter">card</th>
                <td data-label="Description">Payment instrument details</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </form>
  </div>
</main>
