<section id="jobs-splash">
  <div class="container">
    <div class="row">
      <h1>Almost there...</h1>
    </div>
  </div>
</section>
<div class="main-content">
  <p>One more step!</p>
  <p>We need to confirm your email address. To complete the subscription process (and get your free case study), please click the link in the email we just sent you.</p>
  <p>
    Best,
    <br>
    The Gumroad Team
  </p>
  <div class="mini-rule"></div>
  <a class="button" href="/">Return to our website</a>
  <a class="button" href="https://gumroad.com/gumroad/posts">Return to our blog</a>
</div>
<div class="clear"></div>
