<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag "design", crossorigin: "anonymous" %>
    <style>
      @media (prefers-color-scheme: light) {
        /* Match the background color of the app */
        :root { --body-bg: #ffffff; }
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
